2025-06-16/Task Agent.json
{"createdAt":"2025-06-10T22:22:28.215Z","updatedAt":"2025-06-16T20:33:16.498Z","id":"US4fQXGWPNioP17Q","name":"Task Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[80,120],"id":"6b2a296b-5781-451f-80e7-c685f3e3a972","name":"When chat message received","webhookId":"95720286-0bb4-4e95-acca-5d6a42b03ef8"},{"parameters":{"operation":"getAll","tableId":"tasks","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","matchType":"allFilters","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.metadata.userId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[400,340],"id":"a36902a7-0ffa-4f0a-9bf4-e7e8a34dca37","name":"Get Tasks","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,340],"id":"9a0307e1-ccea-4ff5-b1b2-5c8dd4119da9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","tableId":"emails","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.metadata.userId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[520,340],"id":"8051be24-07ff-400d-aa48-ceb55e47da10","name":"Get Emails","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch a single email by ID. If you are notice the ID must be a VALID UUID. You'll usually find it in the \"extracted_from_id\" column of the tasks table.","operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"id","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `This is the EMAIL ID.`, 'string') }}"},{"keyName":"user_id","keyValue":"={{ $json.metadata.userId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[660,340],"id":"1c7f62d2-2dd8-45b3-a2c6-3bd408bbd539","name":"Get Single Email","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"tableId":"tasks","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.metadata.taskId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[800,340],"id":"91e2a59d-4c3e-4bc2-a418-b455992a64b3","name":"Get Single Task","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[920,340],"id":"52220304-cd66-4e96-ae6f-1a773455b760","name":"Think"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=# Role\nYou are a Task Agent, a specialized assistant designed to provide insights about tasks extracted from emails in a user's inbox. Your role is to relate these tasks with other tasks assigned to the user, answer questions about the emails, and expand on entities mentioned in the emails by searching the web.\n\n# Task\nYour primary function is to assist the user in managing and understanding their tasks and emails more effectively. This includes identifying the context of tasks, relating them to other tasks, providing detailed answers about emails, and conducting web searches to provide additional information on specific entities mentioned within these tasks or emails.\n\n## Specifics\n- Focus on providing insights related to tasks extracted from emails.\n- Relate tasks to other tasks assigned to the user to help with prioritization and organization.\n- Answer questions specifically about the emails in the user's inbox.\n- Use web searches to expand on entities mentioned in emails when necessary.\n- Maintain a helpful and concise communication style, ensuring your responses are complete and to the point.\n- Redirect any off-topic questions back to tasks, emails, and related subjects gently and politely.\n\n# Tools\nYou have access to several tools to assist you in your tasks:\n1. **Tavily**: Use this tool to search the web for information.\n2. **Think**: Utilize this tool to take notes, double-check your thinking, and process your tasks.\n3. **Get Tasks**: Retrieve tasks assigned to the user.\n4. **Get Emails**: Access emails assigned to the user.\n5. **Get Single Email**: Fetch a single email by ID assigned to the user.\n6. **Get Single Task**: Obtain a single task by ID assigned to the user.\n\n# Notes\n- Always maintain a helpful tone, aiming to assist the user as efficiently as possible.\n- Be concise yet complete in your answers, ensuring you provide all necessary information without overwhelming the user.\n- Focus solely on questions related to tasks and emails. If the user asks unrelated questions, gently redirect them to the main topics of tasks, emails, and related information.\n- Utilize the tools provided effectively, choosing the right tool for the task at hand to provide the most accurate and helpful information.\n\n# IMPORTANT:\nAlways use markdown in your responses, especially when you render links so they are clickable.\n\n# Extra Notes:\nToday's date: {{ $now.toUTC().format('DDDD') }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[500,120],"id":"aeace032-4921-489b-b9c2-b61bd25383ab","name":"Task Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.metadata.taskId.toString() + $json.metadata.userId.toString() }}","tableName":"task_agent_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[280,340],"id":"1a9eac3b-4688-4693-97b6-ac5057551ac5","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1040,340],"id":"7940246a-a241-4250-9f25-4abc6bd01e37","name":"Tavily","credentials":{"tavilyApi":{"id":"pQpYp2R81K4M8MWk","name":"Tavily account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.output) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[860,120],"id":"ebfb33ac-1a6f-4b77-92be-5c16e6b6b3ab","name":"Respond to Webhook"}],"connections":{"When chat message received":{"main":[[{"node":"Task Agent","type":"main","index":0}]]},"Get Tasks":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task Agent","type":"ai_languageModel","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]},"Get Single Email":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]},"Get Single Task":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]},"Task Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Task Agent","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Task Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"action":"sendMessage","sessionId":"a2e736b8-9d2d-4a36-8af5-719452e4e7eb","chatInput":"Hiiii","metadata":{"taskId":1}}}]},"versionId":"5496e210-a2f3-41de-a716-dfd749c965ed","triggerCount":1,"tags":[]}