2025-10-15/[TG] Receive Messages (Buffered).json
{"createdAt":"2025-09-17T12:04:25.218Z","updatedAt":"2025-10-02T21:00:49.607Z","id":"EOLARmnIQVpZYoo3","name":"[TG] Receive Messages (Buffered)","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"B4R5PCXZUaCSSdbV","mode":"list","cachedResultUrl":"/workflow/B4R5PCXZUaCSSdbV","cachedResultName":"[TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=I’m still in beta, so my responses won’t always be perfect — but I’ll keep improving, and your feedback will help me get better. Just message me here to start, and let’s make scheduling easier together!","telegramId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,-208],"id":"830360fa-7ec3-41ad-a8ee-a0b43d42806d","name":"Send Welcome Message (II)"},{"parameters":{"workflowId":{"__rl":true,"value":"B4R5PCXZUaCSSdbV","mode":"list","cachedResultName":"[TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=Hi{{ $json.display_name !== undefined && $json.display_name !== null? ' ' + $json.display_name: '' }}! I’m Tomo 👋.\n\nI’m here to help you plan and schedule your day.","telegramId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,-208],"id":"b1516c64-4c2a-4b58-a3d9-1f5c2963bc78","name":"Send Welcome Message (I)"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"=public","mode":"name"},"table":{"__rl":true,"value":"ai_processing_queue","mode":"list","cachedResultName":"ai_processing_queue"},"columns":{"mappingMode":"defineBelow","value":{"status":"pending","process_at":"={{ $now.plus({ seconds: 5 }).toISO() }}","sender_id":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"matchingColumns":["sender_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"sender_id","displayName":"sender_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"process_at","displayName":"process_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,-16],"id":"a88e9a72-03d8-418e-ad1a-30a271134146","name":"Upsert Job","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"schema":{"__rl":true,"value":"=public","mode":"name"},"table":{"__rl":true,"value":"telegram_messages","mode":"list","cachedResultName":"telegram_messages"},"columns":{"mappingMode":"defineBelow","value":{"telegram_date":"={{ $('Telegram Trigger').item.json.message.date }}","telegram_date_utc":"={{ $json.timetampUTC }}","text":"={{ $('Telegram Trigger').item.json.message.text }}","direction":"inbound","sender_id":"={{ $('Telegram Trigger').item.json.message.from.id }}","recipient_id":"={{ $json.tomoTelegramId }}","raw_payload":"={{ $('Telegram Trigger').item.json }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telegram_date","displayName":"telegram_date","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"telegram_date_utc","displayName":"telegram_date_utc","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_id","displayName":"recipient_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"attachments","displayName":"attachments","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"processed_by_ai_at","displayName":"processed_by_ai_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-16],"id":"04e5a56b-ee96-474b-906a-621e6df8625c","name":"Save Message","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE public.users\nSET telegram_id = '{{ $('Telegram Trigger').item.json.message.chat.id }}'\nWHERE telegram_id IS NULL\n  AND telegram_signup_token = '{{ $json.telegramToken }}'\n  RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,-208],"id":"1c873b4d-0774-4a8d-8ca3-7a2c6852b098","name":"Update User with Telegram ID","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d64023c7-9389-4271-92a1-ccadf5bf35f3","leftValue":"={{ $json.message.chat.type }}","rightValue":"private","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,-112],"id":"85281cca-b8de-43d6-8268-faad1f2f93fd","name":"Private?"},{"parameters":{"assignments":{"assignments":[{"id":"fbfa8f50-e7ec-4a2e-b015-cb686b2be6b8","name":"telegramToken","value":"={{ $('Telegram Trigger').item.json.message.text.split(\" \")[1].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-208],"id":"a454144c-c952-4d4d-b30b-4519573d2a77","name":"Isolate Sign Up Token"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dcf5122-b614-4414-805f-e9888284deea","leftValue":"={{ $('Telegram Trigger').item.json.message.text.startsWith(\"/start \") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,-112],"id":"19a8769e-80d2-44bd-97a1-88a0d88aabdc","name":"Start Command?"},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.message.date.toDateTime('s').toUTC().toISO() }}","type":"string"},{"id":"6148ee13-6558-4289-b01e-6c7faff5a027","name":"tomoTelegramId","value":"8354483273","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-112],"id":"7d94c1d1-801e-4da7-a1ea-ed54e3502e03","name":"Parse Timestamp from Inbound Message and Set Tomo TG ID"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1184,-112],"id":"8d2fe1f6-48af-499d-a79a-57cc829be6fb","name":"Telegram Trigger","webhookId":"46d61d55-0281-46d0-81e0-2c34528dede2","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}}},{"parameters":{"workflowId":{"__rl":true,"value":"B4R5PCXZUaCSSdbV","mode":"list","cachedResultUrl":"/workflow/B4R5PCXZUaCSSdbV","cachedResultName":"[TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}","message":"Here's a quick video to get you started!\n\nhttps://youtu.be/U--ZNq4RNrI","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[608,-208],"id":"8ae9f20d-a0da-4b5f-8cf5-401cd3fbd402","name":"Send Welcome Video"}],"connections":{"Send Welcome Message (I)":{"main":[[{"node":"Send Welcome Message (II)","type":"main","index":0}]]},"Save Message":{"main":[[{"node":"Upsert Job","type":"main","index":0}]]},"Update User with Telegram ID":{"main":[[{"node":"Send Welcome Message (I)","type":"main","index":0}]]},"Private?":{"main":[[{"node":"Parse Timestamp from Inbound Message and Set Tomo TG ID","type":"main","index":0}]]},"Isolate Sign Up Token":{"main":[[{"node":"Update User with Telegram ID","type":"main","index":0}]]},"Start Command?":{"main":[[{"node":"Isolate Sign Up Token","type":"main","index":0}],[{"node":"Save Message","type":"main","index":0}]]},"Parse Timestamp from Inbound Message and Set Tomo TG ID":{"main":[[{"node":"Start Command?","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Private?","type":"main","index":0}]]},"Send Welcome Message (II)":{"main":[[{"node":"Send Welcome Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee864766-bdf7-462e-9460-3ed4fb5f5b96","triggerCount":1,"shared":[{"createdAt":"2025-09-17T12:04:25.218Z","updatedAt":"2025-09-17T12:04:25.218Z","role":"workflow:owner","workflowId":"EOLARmnIQVpZYoo3","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}