2025-10-15/[TG] Get Token for TG Integration.json
{"createdAt":"2025-07-16T21:35:33.884Z","updatedAt":"2025-10-14T18:26:13.531Z","id":"pE2lsrstziYiLtF8","name":"[TG] Get Token for TG Integration","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-368,-144],"id":"2dd63ae3-de4a-482b-bb60-b9c3833300af","name":"When Executed by Another Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/**\n * Check if a user's access token is expired.\n * @param {{ access_token?: string | null, token_expiration_date?: string | null }} user\n * @returns {boolean} true if missing or expired\n */\nfunction isTokenExpired(user) {\n  const { access_token_2: token, token_expiration_date_2: exp } = user;\n  // No token or no expiration date → expired\n  if (!token || !exp) return true;\n\n  // Normalize \"2025-04-16 21:58:02+00\" → \"2025-04-16T21:58:02+00\"\n  const iso = exp.replace(' ', 'T');\n  const expiresAt = new Date(iso);\n\n  // Invalid date → treat as expired\n  if (isNaN(expiresAt.getTime())) return true;\n\n  // Compare against now (Date.now() is UTC‑based under the hood)\n  return expiresAt.getTime() < Date.now();\n}\n\nreturn {\n  json: {\n    user: $input.item.json,\n    expiredToken: isTokenExpired($input.item.json)\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-144],"id":"dbf11ae2-7749-49f8-b967-1608616614ed","name":"Check Token Expiration"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05a3655d-1a5c-407e-abd9-b77305dc158a","leftValue":"={{ $json.expiredToken }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,-144],"id":"89e8f84e-45b6-4531-9e4c-187c634f3bde","name":"Expired Token?"},{"parameters":{"assignments":{"assignments":[{"id":"cb8984ad-464a-45b8-9d96-89e6c213699e","name":"accessToken","value":"={{ $('Set User').item.json.access_token_2 }}","type":"string"},{"id":"c2055894-db45-4a28-8375-2472fde8585c","name":"user","value":"={{ $('Set User').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-48],"id":"7e60b1d2-d518-49ba-93b8-79c3a41ef4f0","name":"Return Token and User"},{"parameters":{"operation":"addToDate","magnitude":"={{ $now.toUTC() }}","timeUnit":"seconds","duration":"={{ $json.body.expires_in - 120 }}","outputFieldName":"tokenExpirationDate","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1200,-400],"id":"072f3949-ff70-4be4-83cf-e9a5d977655b","name":"Compute Expiration Date"},{"parameters":{"assignments":{"assignments":[{"id":"ae218e7e-2994-42cf-82d0-81bd7deea876","name":"accessToken","value":"={{ $json.access_token_2 }}","type":"string"},{"id":"8d144ce4-10cf-4da7-9a48-3be19ea43eda","name":"user","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-400],"id":"5004b15a-7668-4712-b956-174580719e20","name":"Return Refreshed Token & User"},{"parameters":{"method":"POST","url":"https://oauth2.googleapis.com/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $json.user.client_id_2 }}"},{"name":"client_secret","value":"={{ $json.user.client_secret_2 }}"},{"name":"refresh_token","value":"={{ $json.user.refresh_token_2 }}"},{"name":"grant_type","value":"refresh_token"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-240],"id":"5311b6fe-3137-48a9-b028-79e7a2d9bb3b","name":"Get New Token","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"Could not refresh token."},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1872,-64],"id":"e4f3fc0b-dfb4-4614-aff8-e164f6b9cfe4","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM \"public\".\"users\"\nWHERE id = '{{ $json.user_id }}'\n  AND (refresh_expired_2 = FALSE OR refresh_expired_2 IS NULL)\nLIMIT 1;","options":{"connectionTimeout":2}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-144,-144],"id":"be1f6510-d403-4d34-9475-1abb54daaca9","name":"Get User","retryOnFail":true,"maxTries":5,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Expired Token?').item.json.user.id }}","access_token_2":"={{ $json.body.access_token }}","token_expiration_date_2":"={{ $json.tokenExpirationDate }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"provider","displayName":"provider","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"access_token","displayName":"access_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expires_in","displayName":"expires_in","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_secret","displayName":"client_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_expired","displayName":"refresh_expired","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth_code","displayName":"auth_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_expiration_date","displayName":"token_expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"access_token_2","displayName":"access_token_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"refresh_token_2","displayName":"refresh_token_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_expired_2","displayName":"refresh_expired_2","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"signal_source_uuid","displayName":"signal_source_uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_expiration_date_2","displayName":"token_expiration_date_2","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"connectionTimeout":3}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,-400],"id":"1acf0b11-b553-4506-814c-e5518a7eb5d3","name":"Store Token","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('When Executed by Another Workflow').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,-64],"id":"91d636b9-4a1b-4ef4-b2c6-4bde9c9c58cd","name":"Get User by Id","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"users","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Expired Token?').item.json.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"refresh_expired_2","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,-144],"id":"08a7302c-4609-4c8f-833d-d5341c5fc716","name":"Refresh Expired Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"users","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Expired Token?').item.json.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"token_expiration_date_2","fieldValue":"={{ $('Compute Expiration Date').item.json.tokenExpirationDate }}"},{"fieldId":"access_token_2","fieldValue":"={{ $json.body.access_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1648,-336],"id":"342e0bd5-9666-4ed0-b8c5-d38cb3f2f32d","name":"Store_Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-144],"id":"4cda182e-d3a3-47b8-9c55-58aa640afa94","name":"Set User"},{"parameters":{"operation":"executeQuery","query":"UPDATE users\nSET refresh_expired_2 = TRUE\nWHERE id = '{{ $('Expired Token?').item.json.user.id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,-64],"id":"cb90e522-24e1-43c0-b9f7-a81487ed6354","name":"Mark Token as Expired","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"B4R5PCXZUaCSSdbV","mode":"list","cachedResultUrl":"/workflow/B4R5PCXZUaCSSdbV","cachedResultName":"[TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('Set User').item.json.telegram_id }}","chatId":"={{ $('Set User').item.json.telegram_id }}","message":"=It seems we're having issues connecting to your Google Services. \n\nPlease log in again here: https://cal.hellotomo.ai?reauth=true&user_id={{$('Set User').item.json.id}}","toolActivity":"={{ [] }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1648,-64],"id":"48ce7e9b-8cf8-4125-a836-89afd94dd33a","name":"Call '[TG] Send Telegram Message'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Check Token Expiration":{"main":[[{"node":"Expired Token?","type":"main","index":0}]]},"Expired Token?":{"main":[[{"node":"Get New Token","type":"main","index":0}],[{"node":"Return Token and User","type":"main","index":0}]]},"Compute Expiration Date":{"main":[[{"node":"Store Token","type":"main","index":0}]]},"Get New Token":{"main":[[{"node":"Compute Expiration Date","type":"main","index":0}],[{"node":"Mark Token as Expired","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Set User","type":"main","index":0}],[{"node":"Get User by Id","type":"main","index":0}]]},"Store Token":{"main":[[{"node":"Return Refreshed Token & User","type":"main","index":0}],[{"node":"Store_Token","type":"main","index":0}]]},"Get User by Id":{"main":[[{"node":"Set User","type":"main","index":0}]]},"Refresh Expired Token":{"main":[[{"node":"Call '[TG] Send Telegram Message'","type":"main","index":0}]]},"Store_Token":{"main":[[{"node":"Return Refreshed Token & User","type":"main","index":0}]]},"Set User":{"main":[[{"node":"Check Token Expiration","type":"main","index":0}]]},"Mark Token as Expired":{"main":[[{"node":"Call '[TG] Send Telegram Message'","type":"main","index":0}],[{"node":"Refresh Expired Token","type":"main","index":0}]]},"Call '[TG] Send Telegram Message'":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"user_id":"UcwiKP2pxzVISUSNlm5nngCWxM8P"}}]},"versionId":"fd8cb74c-ec02-4a84-b08c-b84e2c8b5292","triggerCount":0,"shared":[{"createdAt":"2025-07-16T21:35:33.884Z","updatedAt":"2025-07-16T21:35:33.884Z","role":"workflow:owner","workflowId":"pE2lsrstziYiLtF8","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}