2025-11-09/* Send Signal Message.json
{"updatedAt":"2025-07-29T23:36:37.450Z","createdAt":"2025-07-14T20:08:36.219Z","id":"HJig3GSnPd2OWIIl","name":"* Send Signal Message","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"phone"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1264,-16],"id":"998f1f08-45b4-4ff4-b54f-d1222db1e582","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://n8n.srv845833.hstgr.cloud/signal/v2/send","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {{ JSON.stringify($('When Executed by Another Workflow').item.json.message)}},\n    \"number\": {{JSON.stringify($json.tomoPhone)}},\n    \"recipients\": [{{ JSON.stringify($('When Executed by Another Workflow').item.json.phone) }}]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-16],"id":"fff85e9b-7bf6-4eb9-aeed-e7d8361c7c1d","name":"Send Message","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.timestamp.toDateTime('ms').toUTC() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-16],"id":"6fe30fa6-ad92-44ee-b97d-bb8bc008bfd5","name":"Parse Timestamp"},{"parameters":{"tableId":"signal_messages","fieldsUi":{"fieldValues":[{"fieldId":"signal_timestamp","fieldValue":"={{ $('Send Message').item.json.timestamp }}"},{"fieldId":"signal_timestamp_utc","fieldValue":"={{ $json.timetampUTC }}"},{"fieldId":"sender_phone","fieldValue":"={{ $('Set Tomo Phone Number and UUID').first().json.tomoPhone }}"},{"fieldId":"recipient_phone","fieldValue":"={{ $('When Executed by Another Workflow').first().json.phone }}"},{"fieldId":"message_text","fieldValue":"={{ $('When Executed by Another Workflow').first().json.message }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"sender_uuid","fieldValue":"={{ $('Set Tomo Phone Number and UUID').item.json.tomoUUID }}"},{"fieldId":"recipient_uuid","fieldValue":"={{ $('Consolidate Recipient UUID').item.json.recipientUuid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[512,-16],"id":"e6a91906-03e6-4173-95a0-393c89e5ab73","name":"Save Message","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d2fcb7f-7f82-4dc5-a7f4-687b493fb5e0","name":"tomoPhone","value":"+85291356545","type":"string"},{"id":"10f4c204-f200-424a-9bd6-1c38fca15177","name":"tomoUUID","value":"dd104d16-db00-41de-bcb6-4a3c1d7cb245","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-16],"id":"72ab4dca-236b-45c0-91bb-393c2a46df7b","name":"Set Tomo Phone Number and UUID"},{"parameters":{"assignments":{"assignments":[{"id":"726c1bbb-07b5-4aee-af89-fba0995b9cb7","name":"recipientUuid","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,80],"id":"5447a878-d902-4f78-8d93-8a27c51d7ce7","name":"Set Empty Recipient UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07476eff-bdf9-450b-b783-3845b3f36099","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,-16],"id":"d2239836-9586-4f14-8e85-32231cdba510","name":"User Exists?"},{"parameters":{"assignments":{"assignments":[{"id":"78adeca7-0bf6-4440-97ab-3409a9780e74","name":"recipientUuid","value":"={{ $json.signal_source_uuid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-128],"id":"dbcde5d3-5d79-4045-ab08-49d35116263e","name":"Set UUID"},{"parameters":{"assignments":{"assignments":[{"id":"1fc19926-9ee6-484c-8d08-f95d6b7f8356","name":"recipientUuid","value":"={{ $json.recipientUuid === \"\" ? null : $json.recipientUuid}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-16],"id":"40410692-7c7a-4da9-be8d-0dcad4f5adbc","name":"Consolidate Recipient UUID"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"phone_number","keyValue":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1040,-16],"id":"51b3a6de-7129-41af-b2bb-f40418eb4346","name":"Get User by Phone","retryOnFail":true,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get User by Phone","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Parse Timestamp","type":"main","index":0}]]},"Parse Timestamp":{"main":[[{"node":"Save Message","type":"main","index":0}]]},"Set Tomo Phone Number and UUID":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"User Exists?":{"main":[[{"node":"Set UUID","type":"main","index":0}],[{"node":"Set Empty Recipient UUID","type":"main","index":0}]]},"Set UUID":{"main":[[{"node":"Consolidate Recipient UUID","type":"main","index":0}]]},"Consolidate Recipient UUID":{"main":[[{"node":"Set Tomo Phone Number and UUID","type":"main","index":0}]]},"Set Empty Recipient UUID":{"main":[[{"node":"Consolidate Recipient UUID","type":"main","index":0}]]},"Get User by Phone":{"main":[[{"node":"User Exists?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"phone":"+817038816688","message":"Test message"}}]},"versionId":"cc87e639-4e74-41c4-8b18-ac6c880d53e7","triggerCount":0,"shared":[{"updatedAt":"2025-07-14T20:08:36.219Z","createdAt":"2025-07-14T20:08:36.219Z","role":"workflow:owner","workflowId":"HJig3GSnPd2OWIIl","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}