2025-11-09/[TG] Delete Event.json
{"updatedAt":"2025-11-03T20:46:07.552Z","createdAt":"2025-08-26T09:39:41.187Z","id":"QohmrZ6vlLShdpbO","name":"[TG] Delete Event","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"eventId"},{"name":"chatId"},{"name":"messageId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1488,-80],"id":"a6bcf1a3-ead9-4efb-96d8-794ea47b36da","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,16],"id":"8ed9e628-1b29-4d29-83eb-55afa8b4e94f","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1040,-80],"id":"b50141c1-b4fb-4e94-83bb-64836340e0a5","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-176],"id":"41ce7e9b-e6cc-4c28-ba8a-2808676dc139","name":"Set Event Info"},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,-80],"id":"81376696-e094-4fea-b534-38e2e32065bb","name":"Delete Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.chatId }}","messageId":"={{ $json.messageId }}","text":"<i>Attempting to delete event... 🗓️💥</i>","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1264,-80],"id":"7146ecc0-1e40-4f7d-9578-226f9bf5c8f2","name":"Edit a text message","webhookId":"ad56dc99-91d1-4c6e-a23e-1e34327e41dd","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit a text message","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Delete Event","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Edit a text message":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"f8270a21-99ac-44bd-a912-1e0eacb55246","triggerCount":0,"shared":[{"updatedAt":"2025-08-26T09:39:41.187Z","createdAt":"2025-08-26T09:39:41.187Z","role":"workflow:owner","workflowId":"QohmrZ6vlLShdpbO","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}