2025-06-02/Delete Old Executions.json
{"createdAt":"2025-05-21T18:22:54.991Z","updatedAt":"2025-05-26T21:14:47.000Z","id":"gg1QsR2U9dZSqJSf","name":"Delete Old Executions","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":7,"triggerAtHour":3,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"e21e3f20-07c3-4239-bc69-5746a1a40d14","name":"Schedule Trigger"},{"parameters":{"resource":"execution","limit":25,"filters":{},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"b04c6850-d783-4e90-a8d3-0f361d93a854","name":"Get Executions","executeOnce":true,"credentials":{"n8nApi":{"id":"pVzXz0AGwT9o6c18","name":"n8n account"}}},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json.id }}","requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[440,0],"id":"96975e11-2d04-4827-a307-4054dcf43198","name":"Delete Executions","credentials":{"n8nApi":{"id":"pVzXz0AGwT9o6c18","name":"n8n account"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Executions","type":"main","index":0}]]},"Get Executions":{"main":[[{"node":"Delete Executions","type":"main","index":0}]]},"Delete Executions":{"main":[[{"node":"Get Executions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[149]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"046f5fcd-8c57-442e-99d3-51d29d5d9834","triggerCount":1,"tags":[]}