2025-05-23/🐛 On Error.json
{"createdAt":"2025-04-23T22:17:17.978Z","updatedAt":"2025-05-20T22:31:35.000Z","id":"3DwlFyiaSzmnZPkS","name":"🐛 On Error","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"dd29e5de-ff6d-4232-bf16-440f8373df41","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"54ba2b46-bbcb-4bb6-8553-4fa511a6555a","name":"errorMessage","value":"=Workflow {{ $json.workflow.name }} failed with error message: {{ $json.execution.error.message }}\n\nExecution URL: {{ $json.execution.url }}\nLast Node Executed: {{ $json.execution.lastNodeExecuted }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"ae24cd04-eec9-4033-8f4d-a9602f621d40","name":"Set Error Message"},{"parameters":{"sendTo":"={{ $json.recipients }}","subject":"=Workflow {{ $('Error Trigger').item.json.workflow.name }} failed","message":"={{ $('Set Error Message').item.json.errorMessage }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1100,0],"id":"78863aa5-8489-4fd4-9f51-79039cf4671e","name":"Gmail","webhookId":"c8cc7d5c-1754-42cf-a345-49194a9b11ec","credentials":{"gmailOAuth2":{"id":"2CUBPvzdDQZZbQxh","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7126df89-7d45-4ba7-9da4-d465d698c03a","name":"recipients","value":"={{ [\"jesus@jia-nomads.com\", \"dev@jia-nomads.com\"] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"534ed5a5-2918-4fb1-8c2e-87e44b75415a","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,0],"id":"d7787c4b-68a0-45c7-898b-08f448f754a7","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"recipients","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[660,0],"id":"1ec27c5b-040d-4521-9928-cb1899012661","name":"Split Out"}],"connections":{"Error Trigger":{"main":[[{"node":"Set Error Message","type":"main","index":0}]]},"Set Error Message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc442bc4-1d0b-42f2-adcc-1dc40b6115b7","triggerCount":0,"tags":[]}