2025-10-12/🖥️ [TG] Send Telegram Message.json
{"createdAt":"2025-08-28T21:45:52.244Z","updatedAt":"2025-10-01T17:44:30.850Z","id":"kI31iVTkkY44j2Rv","name":"🖥️ [TG] Send Telegram Message","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"},{"name":"message"},{"name":"chatId"},{"name":"toolActivity","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,-288],"id":"8e7df4d8-3132-4458-a814-ed5211fc1ace","name":"When Executed by Another Workflow"},{"parameters":{"schema":{"__rl":true,"value":"=dev","mode":"name"},"table":{"__rl":true,"value":"telegram_messages","mode":"list","cachedResultName":"telegram_messages"},"columns":{"mappingMode":"defineBelow","value":{"telegram_date":"={{ $json.result.date }}","telegram_date_utc":"={{ $json.timetampUTC }}","text":"={{ $('When Executed by Another Workflow').first().json.message }}","direction":"outbound","sender_id":"={{ $json.result.from.id }}","recipient_id":"={{ $('When Executed by Another Workflow').item.json.telegramId }}","tool_activity":"={{ { toolActivity: $('When Executed by Another Workflow').item.json.toolActivity } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telegram_date","displayName":"telegram_date","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"telegram_date_utc","displayName":"telegram_date_utc","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_id","displayName":"recipient_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"attachments","displayName":"attachments","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-336,-288],"id":"4f96df99-80b5-42ab-9c98-f89a1d7a89c7","name":"Save Message","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_web_page_preview":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1232,-288],"id":"6405f21e-fcf2-461a-a730-734fdddf9e0f","name":"Send AI Reply [HTML]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"jVBGRP26zaEzfcME","name":"Tomo DEV"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_web_page_preview":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1008,-224],"id":"d1986993-1302-49d0-ab62-14249e99b222","name":"Send AI Reply [Markdown]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"jVBGRP26zaEzfcME","name":"Tomo DEV"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_web_page_preview":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-784,-144],"id":"737f9ad5-a0c0-4c33-bc75-2776d70fc373","name":"Send AI Reply [Markdown - Legacy]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"jVBGRP26zaEzfcME","name":"Tomo DEV"}}},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.result.date.toDateTime('s').toUTC().toISO() }}","type":"string"},{"id":"d4e09809-2917-4c71-af40-f0350588e22c","name":"date","value":"={{ $json.result.date }}","type":"string"},{"id":"c127d9bc-29dd-450e-8325-ab8bb6e78ee4","name":"sender_id","value":"={{ $json.result.from.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-288],"id":"166ba8f8-1c1d-4d9b-bb00-7547518a63c1","name":"Parse Timestamp & Consolidate TG Data"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send AI Reply [HTML]","type":"main","index":0}]]},"Send AI Reply [HTML]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}],[{"node":"Send AI Reply [Markdown]","type":"main","index":0}]]},"Send AI Reply [Markdown]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}],[{"node":"Send AI Reply [Markdown - Legacy]","type":"main","index":0}]]},"Send AI Reply [Markdown - Legacy]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}]]},"Parse Timestamp & Consolidate TG Data":{"main":[[{"node":"Save Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790","message":"Hi there! 😃 How can I assist you with your schedule or meetings today? If you need help booking, rescheduling, or finding time for anything, just let me know!","chatId":"1598386790","toolActivity":[]}}]},"versionId":"7ea1aaba-e86a-4e74-bf55-c336547fd376","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:45:52.244Z","updatedAt":"2025-08-28T21:45:52.244Z","role":"workflow:owner","workflowId":"kI31iVTkkY44j2Rv","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}