2025-11-08/1. Extract Tasks for Authenticated Users.json
{"updatedAt":"2025-08-21T23:33:20.246Z","createdAt":"2025-05-29T16:21:39.378Z","id":"F87ElNHdKKnbBMxC","name":"1. Extract Tasks for Authenticated Users","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-150],"id":"0b1afa52-e8e4-4ef1-a298-d7a3570c5ff8","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,50],"id":"348bc8dc-f2ab-4107-9ce8-2754a1e885a4","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"40ae722b-7a8f-4eea-82f6-3ac76d693d59","name":"since","value":1,"type":"number"},{"id":"a16cdbd6-2d67-473e-b1cd-1c6c276c6977","name":"max_results","value":25,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,-75],"id":"78062798-5fa7-4864-b5b1-0f6995ad36e7","name":"Set Parameters"},{"parameters":{"workflowId":{"__rl":true,"value":"5nLuIwEVYbgbkXK2","mode":"list","cachedResultName":"Get Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[760,-200],"id":"a6507c7e-d005-4bfe-b545-f2473804b674","name":"Get Token and User","onError":"continueErrorOutput"},{"parameters":{"url":"https://www.googleapis.com/gmail/v1/users/me/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"maxResults","value":"={{ $('Set Parameters').item.json.max_results }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"},{"name":"q","value":"={{ \"after:\" + (new Date(Date.now() - 1000*60*60*24*$('Set Parameters').item.json.since).toISOString().split('T')[0]) + \" in:inbox\"}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,-140],"id":"3eff405c-5bb1-45b6-8e96-28212faa62c0","name":"Get Gmail IDs","retryOnFail":true,"waitBetweenTries":3000,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,-220],"id":"c796f178-db5c-412b-bf6f-8d50d1d1a9dc","name":"Loop over Users"},{"parameters":{"operation":"executeQuery","query":"SELECT id\nFROM \"public\".users\nWHERE refresh_token IS NOT NULL\nAND client_id IS NOT NULL\nAND client_secret IS NOT NULL\nAND access_token IS NOT NULL\nAND refresh_expired IS NOT NULL","options":{"delayClosingIdleConnection":1}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-120,-75],"id":"cfbd76ca-63f9-4b78-bd91-a29e53983f02","name":"Pull Authenticated User IDs","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"Mj4RxNBaTdIesZPt","mode":"list","cachedResultName":"1.5 Extract tasks for single user"},"workflowInputs":{"mappingMode":"defineBelow","value":{"messages":"={{ $json.messages }}","userId":"={{ $('Get Token and User').item.json.user.id}}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messages","displayName":"messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,-60],"id":"2eda0bb0-9628-48e9-98fa-a921642ff063","name":"Extract Tasks for Single User"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4de42cf-5826-43ba-9034-cff8ea6f702c","leftValue":"={{ $json.refresh_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"057fd229-14a8-4004-838b-22cc8fe0a012","leftValue":"={{ $json.refresh_token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"0250fc29-66f8-4db3-b612-1fc648da6177","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c20ae782-3599-4a46-ab87-488b45eeda7f","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"03f92612-d279-4536-8eb4-57b5200a659c","leftValue":"={{ $json.client_secret }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"014c6267-cb88-4e6d-9f43-445b9d98000a","leftValue":"={{ $json.client_secret }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"78a2a96c-46e4-41d9-9098-36a4186a5c8a","leftValue":"={{ $json.access_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"9dac515d-47db-4036-be7a-066b5e38b0e1","leftValue":"={{ $json.access_token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fe20223f-4f7c-4a93-85ec-fcae89a1c950","leftValue":"={{ $json.refresh_expired }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}},{"id":"b6733288-bc45-4a9a-a5df-80c8c6920173","leftValue":"={{ $json.refresh_expired }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[260,0],"id":"7cd9d584-0ab8-4fc5-9f4d-0e1926567edc","name":"Auth Data Present"},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"matchType":"allFilters"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[100,0],"id":"6ee24d4e-d00b-46ab-bab0-7a32ba534cc7","name":"Get Users","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Pull Authenticated User IDs","type":"main","index":0}]]},"Get Token and User":{"main":[[{"node":"Get Gmail IDs","type":"main","index":0}],[{"node":"Loop over Users","type":"main","index":0}]]},"Get Gmail IDs":{"main":[[{"node":"Extract Tasks for Single User","type":"main","index":0}],[{"node":"Loop over Users","type":"main","index":0}]]},"Loop over Users":{"main":[[],[{"node":"Get Token and User","type":"main","index":0}]]},"Pull Authenticated User IDs":{"main":[[{"node":"Loop over Users","type":"main","index":0}],[{"node":"Get Users","type":"main","index":0}]]},"Extract Tasks for Single User":{"main":[[{"node":"Loop over Users","type":"main","index":0}]]},"Get Users":{"main":[[{"node":"Auth Data Present","type":"main","index":0}]]},"Auth Data Present":{"main":[[{"node":"Loop over Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d31a7773-8ba5-41a7-a68c-5b4b1f6c8479","triggerCount":1,"shared":[{"updatedAt":"2025-05-29T16:21:39.378Z","createdAt":"2025-05-29T16:21:39.378Z","role":"workflow:owner","workflowId":"F87ElNHdKKnbBMxC","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}