2025-10-23/[WA] WhatsApp Sign Up.json
{"createdAt":"2025-10-20T23:11:45.660Z","updatedAt":"2025-10-23T19:51:08.600Z","id":"eIk5c6hHAyLwPjIs","name":"[WA] WhatsApp Sign Up","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wa-sign-up","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-192],"id":"eae547f1-8811-42a0-a00f-4ea9c3308159","name":"Webhook","webhookId":"c1d6fa40-0924-4f4b-80f1-cb3db0a71be8"},{"parameters":{"operation":"executeQuery","query":"SELECT dev.get_whatsapp_user('{{$json.body.phone.replace(\"+\", \"\") }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-192],"id":"697b87e6-20db-4d38-99aa-556b490c6974","name":"Find User by WhatsApp ID","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e2daa52-5c2f-46ab-a36d-9801b6a117dd","leftValue":"={{ $json.get_whatsapp_user }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-192],"id":"ad4ee207-5d8d-4b66-839d-c6df6de9f2bd","name":"Found?"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"error\": \"WhatsApp integration already exists\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-288],"id":"f069ba49-c200-48c1-bbc2-2b7537f88941","name":"Bad Request"},{"parameters":{"operation":"executeQuery","query":"SELECT dev.link_whatsapp_to_user('{{ $('Webhook').item.json.body.user_id }}', '{{ $('Webhook').item.json.body.phone.replaceAll(\"+\", \"\") }}')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,-96],"id":"b007013f-b535-45ee-989a-c5544ec853be","name":"Link WhatsApp","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a13b1091-5d37-4b84-9c89-aacba852908e","leftValue":"={{ $json.link_whatsapp_to_user.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-96],"id":"78b7c1ae-a2f7-4f37-87b6-69e64a4dfdc8","name":"Success?"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"message\": \"Success!\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1120,-192],"id":"e6b2d9f0-fcfc-4d32-9473-eef4e045452e","name":"Success"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"message\": \"Could not link WhatsApp to user. Please, try again later.\"\n}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1120,0],"id":"fb70a512-b447-4cef-95bc-3b5e49a31947","name":"Internal Server Error"},{"parameters":{"phoneNumberId":"749915891538765","recipientPhoneNumber":"={{ \"+\" + $('Webhook').item.json.body.phone.replaceAll(\"+\", \"\") }}","template":"hello_world|en_US"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1312,-192],"id":"e64c95be-5950-4d7b-990c-f6db0a24fc45","name":"Send template","webhookId":"173f9d37-f3d0-487c-813e-01bf7845743f","credentials":{"whatsAppApi":{"id":"hn7HYT0djID7QTau","name":"WhatsApp account"}}},{"parameters":{"content":"## TODO, We must create and use a proper template for the welcome message.","height":288},"type":"n8n-nodes-base.stickyNote","position":[1248,-352],"typeVersion":1,"id":"c1edaf08-785c-4e16-b88e-2a4fd39a58ae","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Find User by WhatsApp ID","type":"main","index":0}]]},"Find User by WhatsApp ID":{"main":[[{"node":"Found?","type":"main","index":0}]]},"Found?":{"main":[[{"node":"Bad Request","type":"main","index":0}],[{"node":"Link WhatsApp","type":"main","index":0}]]},"Link WhatsApp":{"main":[[{"node":"Success?","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Internal Server Error","type":"main","index":0}]]},"Success":{"main":[[{"node":"Send template","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv845833.hstgr.cloud","user-agent":"PostmanRuntime/7.48.0","content-length":"82","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","postman-token":"6468c440-daff-4bd3-a6af-64bac4a6c82a","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv845833.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fd58d051aa38","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"user_id":"t07ZDdtiVLduDE3RuRHGKowoSd0f","phone":"+573195884149"},"webhookUrl":"https://n8n.srv845833.hstgr.cloud/webhook-test/wa-sign-up","executionMode":"test"}}]},"versionId":"5e672b77-e5c3-412c-9896-3bcdd4c455ba","triggerCount":1,"shared":[{"createdAt":"2025-10-20T23:11:45.660Z","updatedAt":"2025-10-20T23:11:45.660Z","role":"workflow:owner","workflowId":"eIk5c6hHAyLwPjIs","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}