2025-07-31/[TG] List Events.json
{"createdAt":"2025-07-31T22:35:36.546Z","updatedAt":"2025-07-31T22:42:07.143Z","id":"6QyO6cwvo04GtJfR","name":"[TG] List Events","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"from"},{"name":"to"},{"name":"timeZone"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,80],"id":"e46458f5-f5b8-4839-a8be-7dceb0b8e039","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for Signal Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-16,80],"id":"998331eb-ddef-4fd9-ba4c-59fbb5f8a89b","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"9f092131-4eb5-4f4d-8bb5-ced3bd034685","name":"message","value":"There was an error. Try later.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,176],"id":"8ed46314-d484-439d-bfd3-20f6bc37e312","name":"Set Error Message"},{"parameters":{"content":"# TODO\n\nInput time zone.\nReturn times in the input time zone."},"type":"n8n-nodes-base.stickyNote","position":[16,-112],"typeVersion":1,"id":"2f3ac0dd-27bb-44f4-92d0-19655860d826","name":"Sticky Note"},{"parameters":{"url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').first().json.query }}"},{"name":"timeMin","value":"={{ $('When Executed by Another Workflow').item.json.from }}"},{"name":"timeMax","value":"={{ $('When Executed by Another Workflow').item.json.to }}"},{"name":"timeZone","value":"={{ $('When Executed by Another Workflow').first().json.timeZone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,80],"id":"0d99c7d5-65ea-404b-8828-ac7e7882c25a","name":"List Events","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"List Events","type":"main","index":0}]]},"List Events":{"main":[[],[{"node":"Set Error Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"1IUzo3Dc3BdIwXUaaxxS4XlmKgn1","query":"Ken","from":"2025-07-24T00:00:00-10:00","to":"2025-07-24T23:59:59-10:00","timeZone":"Pacific/Honolulu"}}]},"versionId":"d0a8679a-48ea-4a17-ba10-3b13755f7c8a","triggerCount":0,"tags":[]}