2026-01-18/[TOMO] Search Contacts in Vector Store.json
{"updatedAt":"2026-01-05T17:55:35.912Z","createdAt":"2026-01-05T17:55:24.036Z","id":"Dd0kAGyveBZpzoyoH6ktJ","name":"[TOMO] Search Contacts in Vector Store","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"query"}]}},"id":"b34a533f-df61-465e-8627-2b9b2934a9b7","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-528,92]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-232,64],"id":"329402e0-ff34-4dd8-9818-d6375f8162c4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"mode":"load","prompt":"={{ $('When Executed by Another Workflow').item.json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"google"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-304,-160],"id":"59300dc3-434e-40e7-9595-12346c8ff1bc","name":"[Google] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"mode":"load","prompt":"={{ $('When Executed by Another Workflow').item.json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"conversation"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-304,240],"id":"188ce255-8d48-4c5e-b21f-fc9b82ab0064","name":"[Conversation] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"assignments":{"assignments":[{"id":"e599b1de-86bc-475c-a2a7-937e9dcde816","name":"pageContent","value":"={{ $json.document.pageContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,92],"id":"8f07bc63-dbad-4bd9-98ea-d973d944a186","name":"Simplify Output"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,92],"id":"a4c530ab-c585-4e05-a23b-dc48fe990a4d","name":"Append"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"[Google] Contacts","type":"main","index":0},{"node":"[Conversation] Contacts","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"[Google] Contacts","type":"ai_embedding","index":0},{"node":"[Conversation] Contacts","type":"ai_embedding","index":0}]]},"[Google] Contacts":{"main":[[{"node":"Append","type":"main","index":0}]]},"[Conversation] Contacts":{"main":[[{"node":"Append","type":"main","index":1}]]},"Append":{"main":[[{"node":"Simplify Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"user_id":"qZT6blvRgXN0eb2GWKK7gQCBbY2s","query":"Geoff","channel_id":"1598386790","message_ts":"4387","slack_user_id":"abc"}}]},"versionId":"3dbdefdc-b25f-4105-b12d-d7cc512b91f6","activeVersionId":"3dbdefdc-b25f-4105-b12d-d7cc512b91f6","triggerCount":0,"shared":[{"updatedAt":"2026-01-05T17:55:24.036Z","createdAt":"2026-01-05T17:55:24.036Z","role":"workflow:owner","workflowId":"Dd0kAGyveBZpzoyoH6ktJ","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":{"updatedAt":"2026-01-05T18:03:08.264Z","createdAt":"2026-01-05T17:55:35.913Z","versionId":"3dbdefdc-b25f-4105-b12d-d7cc512b91f6","workflowId":"Dd0kAGyveBZpzoyoH6ktJ","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"query"}]}},"id":"b34a533f-df61-465e-8627-2b9b2934a9b7","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-528,92]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-232,64],"id":"329402e0-ff34-4dd8-9818-d6375f8162c4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"mode":"load","prompt":"={{ $('When Executed by Another Workflow').item.json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"google"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-304,-160],"id":"59300dc3-434e-40e7-9595-12346c8ff1bc","name":"[Google] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"mode":"load","prompt":"={{ $('When Executed by Another Workflow').item.json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"conversation"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-304,240],"id":"188ce255-8d48-4c5e-b21f-fc9b82ab0064","name":"[Conversation] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"assignments":{"assignments":[{"id":"e599b1de-86bc-475c-a2a7-937e9dcde816","name":"pageContent","value":"={{ $json.document.pageContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,92],"id":"8f07bc63-dbad-4bd9-98ea-d973d944a186","name":"Simplify Output"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,92],"id":"a4c530ab-c585-4e05-a23b-dc48fe990a4d","name":"Append"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"[Google] Contacts","type":"main","index":0},{"node":"[Conversation] Contacts","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"[Google] Contacts","type":"ai_embedding","index":0},{"node":"[Conversation] Contacts","type":"ai_embedding","index":0}]]},"[Google] Contacts":{"main":[[{"node":"Append","type":"main","index":0}]]},"[Conversation] Contacts":{"main":[[{"node":"Append","type":"main","index":1}]]},"Append":{"main":[[{"node":"Simplify Output","type":"main","index":0}]]}},"authors":"Dev JIA","name":"Version 3dbdefdc","description":"","autosaved":false},"tags":[]}