2025-08-02/[TG] Get Time Zone.json
{"createdAt":"2025-07-30T17:52:59.488Z","updatedAt":"2025-07-30T21:19:07.394Z","id":"DHcoEXUvqWWKxbZD","name":"[TG] Get Time Zone","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"chatHistory","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,-80],"id":"ba9be2d1-ee5a-4f97-b850-0cac30d371da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for Signal Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').first().json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,16],"id":"d26910ab-b781-41d7-bda9-b53bc361b94c","name":"Get Token"},{"parameters":{"url":"https://www.googleapis.com/calendar/v3/calendars/primary","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"timeZone"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,16],"id":"2cd47bc5-7e1c-4212-96ab-bec13a62b5e0","name":"Get Time Zone from Primary Calendar","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"model":"google/gemini-2.5-pro","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-432,144],"id":"ff2e89aa-8bf5-4c53-ac58-f1f35b4777d9","name":"Gemini 2.5 PRO","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\"timeZone\": \"America/New_York\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-176,144],"id":"4cc92dde-3cc4-4f48-a5cd-7dc50770ce35","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,352],"id":"31c3b54e-a45d-469f-9d03-ac2ee22ca87b","name":"4.1","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.chatHistory) }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=You are a timezone extraction agent.\n\nYour sole task is to determine the most likely time zone of the conversation.\nTo do this, analyze the entire chat history for mentions of geographic locations—cities, countries, regions, or landmarks—that can be mapped to an IANA time zone.\n\nIf a valid location is found, return the corresponding IANA time zone string (e.g., \"America/New_York\").\n\nIf no location data is available or inference is not possible, return \"NONE\".\n\nReturn only the time zone string or \"NONE\" — no explanations or extra output."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-432,-80],"id":"bf84975f-b7c3-4e7a-9992-f4e973218c5f","name":"Time Zone Extractor"},{"parameters":{"model":{"__rl":true,"value":"o3","mode":"list","cachedResultName":"o3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-304,144],"id":"11c06142-85e8-485b-93f0-2e3d0fadb84c","name":"o3","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04fc2c96-d0d3-4303-b046-a117b5f7a8fc","leftValue":"={{ $json.output.timeZone }}","rightValue":"none","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-80],"id":"8adabe3b-de70-40f9-ba07-ebbc73e345ca","name":"Time Zone?"},{"parameters":{"assignments":{"assignments":[{"id":"efe47c53-2fd8-4b01-b911-dc97d0c7f18e","name":"timeZone","value":"={{ $json.output.timeZone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-176],"id":"5cc5f1ce-7c79-48a1-b1c1-be10892b9ef3","name":"Set Extracted Time Zone"}],"connections":{"Get Token":{"main":[[{"node":"Get Time Zone from Primary Calendar","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Time Zone Extractor","type":"main","index":0}]]},"Gemini 2.5 PRO":{"ai_languageModel":[[{"node":"Time Zone Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Time Zone Extractor","type":"ai_outputParser","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Time Zone Extractor":{"main":[[{"node":"Time Zone?","type":"main","index":0}]]},"o3":{"ai_languageModel":[[{"node":"Time Zone Extractor","type":"ai_languageModel","index":1}]]},"Time Zone?":{"main":[[{"node":"Set Extracted Time Zone","type":"main","index":0}],[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"2vlTPXwWiYYsnlVTJXyTeGZ0u7P2","chatHistory":[{"date":"2025-07-16T22:57:17.560Z","message":"Here’s a summary of our conversation so far:\n\n- You started by testing the chat, and I responded to confirm I was here.\n- You introduced yourself as \"Tomo,\" and I greeted you.\n- You mentioned you were just testing, and I assured you I’m here if you need help.\n- You asked what I can do, and I listed my main abilities, such as answering questions, helping with writing, coding support, and more.\n- You asked what day it is, and I told you it’s Wednesday, July 16, 2025.\n- You thanked me, and I replied you're welcome.\n- Most recently, you asked for a summary of our conversation.\n\nIs there anything you’d like to continue with or ask next?","role":"ai"},{"date":"2025-07-16T22:57:51.517Z","message":"Hey, I'm in Times Square. What do you recommend I do?.","role":"user"},{"date":"2025-07-16T22:58:04.284Z","message":"Thank you for pointing that out! I apologize for the mix-up. Yes, I am Tomo—your helpful assistant. If you need anything or want to test more features, just let me know!","role":"ai"},{"date":"2025-07-16T22:58:18.267Z","message":"Nahthxbye","role":"user"},{"date":"2025-07-16T22:58:28.256Z","message":"No problem! If you ever need anything, I'll be here. Take care! 👋","role":"ai"},{"date":"2025-07-21T23:46:35.443Z","message":"Hey can you tell me what's my availability?","role":"user"}]}}]},"versionId":"706b00f8-09ec-41ba-a87d-5cb63df827ad","triggerCount":0,"tags":[]}