2025-07-17/[Signal] Find Time.json
{"createdAt":"2025-07-17T22:38:55.519Z","updatedAt":"2025-07-17T22:39:30.962Z","id":"MPm81H6BEFVS24LU","name":"[Signal] Find Time","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"082aaa82-53e3-45ef-96e0-9d0cd1aaf7e6","leftValue":"={{ $('When Executed by Another Workflow').item.json.task.category }}","rightValue":"event","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2460,600],"id":"db04c06d-1f61-4168-a2b6-374626919690","name":"Event?"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/freeBusy","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('When Executed by Another Workflow').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"timeMin","value":"={{ $('Get Default Start Date').item.json.startDate }}"},{"name":"timeMax","value":"={{ $('Get Default End Date').item.json.endDate }}"},{"name":"timeZone","value":"={{ $('Get Token and User').item.json.user.time_zone }}"},{"name":"items","value":"={{ [{\"id\": \"primary\"}] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1360,600],"id":"e46faa8b-abb3-4c89-af06-c1ae82023141","name":"Get Free Busy Data","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"email_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.task.email_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2240,500],"id":"cb1d59b5-d52f-4c9c-bc5f-5c29cfe16e0b","name":"Get Email","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"esyzlKEmnRcCbmGs","mode":"list","cachedResultName":"Find Date Range"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","timeZone":"={{ $('When Executed by Another Workflow').first().json.user.time_zone }}"},"matchingColumns":[],"schema":[{"id":"timeZone","displayName":"timeZone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2020,500],"id":"a21e716d-0fa0-4886-a6b2-377d9ef5339b","name":"Find Date Range"},{"parameters":{"assignments":{"assignments":[{"id":"840dbb20-b390-4516-8d00-95dbffa80f22","name":"startDate","value":"={{ $json.start ?? $('Get Default Start Date').item.json.startDate }}","type":"string"},{"id":"aea49d9b-5288-44e0-b3bb-69266a335d08","name":"endDate","value":"={{ DateTime.fromISO($json.start ?? $('Get Default Start Date').item.json.startDate, { zone: 'UTC' }).setZone($('When Executed by Another Workflow').item.json.user.time_zone).plus({ days: 3 }).toISO({ suppressMilliseconds: true }) }}","type":"string"},{"id":"f9f10d79-5ad5-406c-bec8-70248ebd3103","name":"duration","value":"={{ $json.duration ?? 60 }}","type":"number"},{"id":"e58acee3-d662-4e0e-8fb6-ddb0cf487612","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,500],"id":"6210e6e2-6948-4626-8b71-4f9a10ae9d92","name":"Set Dates"},{"parameters":{"assignments":{"assignments":[{"id":"3aa18ec6-b977-40cd-b26a-0a8d9fd5ed5a","name":"startDate","value":"={{ $('Get Default Start Date').item.json.startDate }}","type":"string"},{"id":"629fd87f-9f0e-4dbd-9f04-885b13f1977d","name":"endDate","value":"={{ $('Get Default End Date').item.json.endDate }}","type":"string"},{"id":"6516b873-a6f0-4437-bcf3-bff493e8e698","name":"duration","value":60,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,700],"id":"d7129d4d-76dd-42e4-a5ab-3e9e2da4b16c","name":"Set Default Dates"},{"parameters":{"jsCode":"const getDefaultStartDate = (timeZone) => {\n  const now = DateTime.now().setZone(timeZone);\n\n  let resultDate;\n\n  if (now.hour < 19) {\n    // Add 1 hour, round down to the top of the next hour (00 mins, 00 secs)\n    resultDate = now.plus({ hours: 1 }).set({ minute: 0, second: 0, millisecond: 0 });\n  } else {\n    // After or at 7 PM → Tomorrow at 07:00:00\n    resultDate = now.plus({ days: 1 }).set({ hour: 7, minute: 0, second: 0, millisecond: 0 });\n  }\n\n  // Return ISO string with timezone offset, no milliseconds\n  return resultDate.toISO({ suppressMilliseconds: true });\n};\n\n// Example usage\nconst timeZone = $('When Executed by Another Workflow').first().json.user.time_zone; // Replace or get dynamically\nconst result = getDefaultStartDate(timeZone);\n\nreturn [{ json: { startDate: result } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2680,600],"id":"a95b1dcd-64e0-4c85-b645-ddaeb9d72644","name":"Get Default Start Date"},{"parameters":{"jsCode":"const getDefaultEndDate = (timeZone) => {\n  const now = DateTime.now().setZone(timeZone);\n\n  let targetDate;\n  if (now.hour < 19) {\n    targetDate = now.set({ hour: 20, minute: 0, second: 0, millisecond: 0 });\n  } else {\n    targetDate = now.plus({ days: 1 }).set({ hour: 20, minute: 0, second: 0, millisecond: 0 });\n  }\n\n  return targetDate.toISO({ suppressMilliseconds: true });\n};\n\nconst timeZone = $('When Executed by Another Workflow').first().json.user.time_zone;\nconst result = getDefaultEndDate(timeZone);\n\nreturn [{ json: { endDate: result } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2900,600],"id":"20d28ab1-c656-47d8-a476-bd59c9d90eae","name":"Get Default End Date"},{"parameters":{"jsCode":"// Inputs\nconst startDate = $('Consolidate Dates').first().json.startDate;\nconst endDate = $('Consolidate Dates').first().json.endDate;\nconst timeZone = $('When Executed by Another Workflow').first().json.user.time_zone || 'UTC';\n\n// Parse to UTC\nconst startUTC = DateTime.fromISO(startDate).toUTC();\nconst endUTC = DateTime.fromISO(endDate).toUTC();\n\nconst generateNighttimeBlocks = (start, end) => {\n\tconst blocks = [];\n\tlet current = start.startOf('day');\n\n\twhile (current <= end) {\n\t\tconst nightStart = current.set({ hour: 20, minute: 0, second: 0, millisecond: 0 });\n\t\tconst nightEnd = current.set({ hour: 23, minute: 59, second: 59, millisecond: 0 });\n\n\t\tif (nightStart >= start && nightStart <= end) {\n\t\t\tblocks.push({\n\t\t\t\tstart: nightStart.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t\tend: nightEnd.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t});\n\t\t}\n\n\t\tconst nextMorningStart = current.plus({ days: 1 }).set({ hour: 0 });\n\t\tconst nextMorningEnd = nextMorningStart.set({ hour: 6 });\n\n\t\tif (nextMorningEnd >= start && nextMorningStart <= end) {\n\t\t\tblocks.push({\n\t\t\t\tstart: nextMorningStart.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t\tend: nextMorningEnd.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t});\n\t\t}\n\n\t\tcurrent = current.plus({ days: 1 });\n\t}\n\n\treturn blocks;\n};\n\nconst generateWeekendBlocks = (start, end) => {\n\tconst blocks = [];\n\tlet current = start.startOf('day');\n\tlet weekendStart = null;\n\n\twhile (current <= end) {\n\t\tconst isWeekend = current.weekday === 6 || current.weekday === 7;\n\n\t\tif (isWeekend && !weekendStart) {\n\t\t\tweekendStart = current > start ? current : start;\n\t\t}\n\n\t\tif (!isWeekend && weekendStart) {\n\t\t\tconst weekendEnd = current < end ? current : end;\n\t\t\tif (weekendEnd > weekendStart) {\n\t\t\t\tblocks.push({\n\t\t\t\t\tstart: weekendStart.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t\t\tend: weekendEnd.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\t\t});\n\t\t\t}\n\t\t\tweekendStart = null;\n\t\t}\n\n\t\tcurrent = current.plus({ days: 1 });\n\t}\n\n\tif (weekendStart && end > weekendStart) {\n\t\tblocks.push({\n\t\t\tstart: weekendStart.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\tend: end.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t});\n\t}\n\n\treturn blocks;\n};\n\nconst nighttimeBlocks = generateNighttimeBlocks(startUTC, endUTC);\nconst weekendBlocks = generateWeekendBlocks(startUTC, endUTC);\nconst busy = $input.first().json.calendars.primary.busy.concat(weekendBlocks);\n\nreturn [{\n\tjson: {\n\t\tnighttimeBlocks,\n\t\tweekendBlocks,\n        busy: $('When Executed by Another Workflow').first().json.task.category.toLowerCase() === 'event' ?  busy.concat(nighttimeBlocks) : busy\n\t}\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1140,500],"id":"0c21759b-8cc6-4ef2-938a-392a13792aca","name":"Generate Busy Blocks"},{"parameters":{"assignments":{"assignments":[{"id":"bcefd51a-2c9f-4b4d-a0d1-88efc7b40c22","name":"startDate","value":"={{ $json.startDate }}","type":"string"},{"id":"dc795c8e-a02a-4f8e-a1e1-a0b80f79586c","name":"endDate","value":"={{ $json.endDate }}","type":"string"},{"id":"a70f3754-5ccb-4e33-a634-904b29326071","name":"duration","value":60,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1580,600],"id":"e6744970-3814-4aa5-b788-8b53c53f5633","name":"Consolidate Dates"},{"parameters":{"jsCode":"const startStr = $('Consolidate Dates').first().json.startDate;\nconst endStr = $('Consolidate Dates').first().json.endDate;\nconst incrementMinutes = $('Consolidate Dates').first().json.duration ?? 60;\nconst timeZone = $('When Executed by Another Workflow').first().json.user.time_zone || 'UTC';\n\nif (incrementMinutes <= 0) {\n\treturn [{ json: { intervals: [] } }];\n}\n\n// Parse input in any zone, convert to UTC for logic\nconst startUTC = DateTime.fromISO(startStr).toUTC();\nconst endUTC = DateTime.fromISO(endStr).toUTC();\n\nif (startUTC > endUTC) {\n\treturn [{ json: { intervals: [] } }];\n}\n\n// Generate timestamps in UTC\nconst timestamps = [];\nlet current = startUTC;\n\nwhile (current <= endUTC) {\n\ttimestamps.push(current);\n\tcurrent = current.plus({ minutes: incrementMinutes });\n}\n\n// Pair timestamps, convert to output TZ\nconst intervals = [];\n\nfor (let i = 0; i < timestamps.length - 1; i++) {\n\tintervals.push({\n\t\tstart: timestamps[i].setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\tend: timestamps[i + 1].setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t});\n}\n\nreturn [{ json: { intervals } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,500],"id":"53aedadb-7216-4013-848f-714c24164cd0","name":"Generate Time Blocks"},{"parameters":{"jsCode":"const timeZone = $('When Executed by Another Workflow').first().json.user.time_zone || 'UTC';\nconst available = $input.first().json.intervals || [];\nconst busy = $('Generate Busy Blocks').first().json.busy || [];\n\n// --- Normalize and merge busy intervals in UTC ---\nconst mergeIntervals = (intervals) => {\n\tif (!intervals.length) return [];\n\n\tconst sorted = intervals\n\t\t.map(i => ({\n\t\t\tstart: DateTime.fromISO(i.start).toUTC(),\n\t\t\tend: DateTime.fromISO(i.end).toUTC(),\n\t\t}))\n\t\t.sort((a, b) => a.start - b.start);\n\n\tconst merged = [sorted[0]];\n\n\tfor (let i = 1; i < sorted.length; i++) {\n\t\tconst last = merged[merged.length - 1];\n\t\tconst current = sorted[i];\n\n\t\tif (current.start <= last.end) {\n\t\t\tlast.end = current.end > last.end ? current.end : last.end;\n\t\t} else {\n\t\t\tmerged.push(current);\n\t\t}\n\t}\n\n\treturn merged;\n};\n\n// --- Subtract merged busy intervals from available ---\nconst removeConflicts = (available, busyMerged) => {\n\tconst result = [];\n\n\tfor (const a of available) {\n\t\tconst aStartUTC = DateTime.fromISO(a.start).toUTC();\n\t\tconst aEndUTC = DateTime.fromISO(a.end).toUTC();\n\t\tlet currentStart = aStartUTC;\n\n\t\tfor (const b of busyMerged) {\n\t\t\tif (b.end <= currentStart) continue;\n\t\t\tif (b.start >= aEndUTC) break;\n\n\t\t\tif (b.start > currentStart) {\n\t\t\t\tresult.push({\n\t\t\t\t\tstart: currentStart,\n\t\t\t\t\tend: b.start,\n\t\t\t\t});\n\t\t\t}\n\t\t\tcurrentStart = b.end > currentStart ? b.end : currentStart;\n\t\t}\n\n\t\tif (currentStart < aEndUTC) {\n\t\t\tresult.push({\n\t\t\t\tstart: currentStart,\n\t\t\t\tend: aEndUTC,\n\t\t\t});\n\t\t}\n\t}\n\n\t// Filter and convert to target time zone\n\treturn result\n\t\t.filter(i => i.end > i.start)\n\t\t.map(i => ({\n\t\t\tstart: i.start.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t\tend: i.end.setZone(timeZone).toISO({ suppressMilliseconds: true }),\n\t\t}));\n};\n\n// Run\nconst mergedBusy = mergeIntervals(busy);\nconst finalAvailable = removeConflicts(available, mergedBusy);\n\n// Output\nreturn {json: {finalAvailable}};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,500],"id":"475b3842-a1d8-498f-9972-1b3d227ebabf","name":"Remove Conflicts"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Set Parameters').item.json.mode.toLowerCase() }}","rightValue":"first","operator":{"type":"string","operation":"equals"},"id":"e0528d43-c8b2-4e93-87d8-999c2341b820"}],"combinator":"and"},"renameOutput":true,"outputKey":"FIRST"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38d1ac15-06dc-427f-8c78-607c14c042c5","leftValue":"={{ $('Set Parameters').item.json.mode.toLowerCase() }}","rightValue":"last","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LAST"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,500],"id":"39094fae-fb54-4c95-9bac-44c0c7773670","name":"Switch"},{"parameters":{"maxItems":"={{ $('Set Parameters').item.json.limit }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[180,300],"id":"e7520eee-1270-4bb0-9202-4dfe66849249","name":"Get First"},{"parameters":{"maxItems":"={{ $('Set Parameters').item.json.limit }}","keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[180,500],"id":"80ecada5-b9d3-43b7-8a09-69533ca059a4","name":"Get Last"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-40,700],"id":"352a997d-ff08-46de-8131-64a06d80b4c4","name":"Sort","executeOnce":true},{"parameters":{"maxItems":"={{ $('Set Parameters').item.json.limit }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[180,700],"id":"130348d4-7f2a-46ee-8bd7-2d344c5eda5c","name":"Limit"},{"parameters":{"fieldToSplitOut":"finalAvailable","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,500],"id":"53ca44b5-6f12-4cd3-ac36-031c0eb8fcca","name":"Split Out"},{"parameters":{"jsCode":"const inputSlots =  $input.first().json.data || [];\nconst timeZone = $('When Executed by Another Workflow').first().json.user.time_zone || 'UTC';\n\nconst transformed = inputSlots.map(slot => {\n\tconst start = DateTime.fromISO(slot.start).setZone(timeZone);\n\tconst end = DateTime.fromISO(slot.end).setZone(timeZone);\n\n\tconst duration = Math.floor(end.diff(start, 'minutes').minutes);\n\n\t// Format time: \"09:00 AM\" → \"9:00 AM\"\n\tlet displayTime = start.toFormat('hh:mm a');\n\tif (displayTime.startsWith('0')) {\n\t\tdisplayTime = displayTime.slice(1);\n\t}\n\n\t// Format date: \"Mon, May 12\"\n\tconst displayDate = start.toFormat(\"ccc, LLL d\");\n\n\t// Full: \"Mon, May 12 9:00 AM\"\n\tconst displayDatetime = `${displayDate} ${displayTime}`;\n\n\treturn {\n\t\traw_datetime: slot.start,\n\t\tduration,\n\t\tdisplay_time: displayTime,\n\t\tdisplay_date: displayDate,\n\t\tdisplay_datetime: displayDatetime\n\t};\n});\n\nreturn [{ json: { transformed } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,400],"id":"e6918ae5-ace9-4d9d-ad1c-29e698d923a3","name":"Transform Time Slots"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,400],"id":"a7acc8bd-9741-4cd2-8207-116d48e09e29","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"task","type":"object"},{"name":"userId"},{"name":"limit","type":"number"},{"name":"user","type":"object"},{"name":"accessToken"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3340,600],"id":"0df5f2d4-c6c1-44c5-8576-04c19cb587ff","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify($json.transformed) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,400],"id":"32155d18-bfcc-4f04-8578-8d8860a482f2","name":"Return Transformed"},{"parameters":{"assignments":{"assignments":[{"id":"411ca917-0c9e-4f63-92b5-c9df2459e26c","name":"mode","value":"={{ $json.task.category.toLowerCase() == \"event\" ? \"first\" : $('When Executed by Another Workflow').item.json.mode }}","type":"string"},{"id":"eaa043a0-c06f-47f3-b8ba-5c271bba39c6","name":"limit","value":"={{ $('When Executed by Another Workflow').item.json.limit ?? 3 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3120,600],"id":"5054aa15-227b-414c-80de-1807bf4d58e9","name":"Set Parameters"},{"parameters":{"assignments":{"assignments":[{"id":"9f092131-4eb5-4f4d-8bb5-ced3bd034685","name":"message","value":"There was an error. Try later.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1140,700],"id":"041c5886-18c4-488a-896a-1ac4d8a1dc92","name":"Edit Fields"}],"connections":{"Event?":{"main":[[{"node":"Get Email","type":"main","index":0}],[{"node":"Set Default Dates","type":"main","index":0}]]},"Get Free Busy Data":{"main":[[{"node":"Generate Busy Blocks","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get Email":{"main":[[{"node":"Find Date Range","type":"main","index":0}]]},"Find Date Range":{"main":[[{"node":"Set Dates","type":"main","index":0}]]},"Set Dates":{"main":[[{"node":"Consolidate Dates","type":"main","index":0}]]},"Set Default Dates":{"main":[[{"node":"Consolidate Dates","type":"main","index":0}]]},"Get Default Start Date":{"main":[[{"node":"Event?","type":"main","index":0}]]},"Get Default End Date":{"main":[[{"node":"Get Default Start Date","type":"main","index":0}]]},"Generate Busy Blocks":{"main":[[{"node":"Generate Time Blocks","type":"main","index":0}]]},"Consolidate Dates":{"main":[[{"node":"Get Free Busy Data","type":"main","index":0}]]},"Generate Time Blocks":{"main":[[{"node":"Remove Conflicts","type":"main","index":0}]]},"Remove Conflicts":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get First","type":"main","index":0}],[{"node":"Get Last","type":"main","index":0}],[{"node":"Sort","type":"main","index":0}]]},"Get First":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Last":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transform Time Slots":{"main":[[{"node":"Return Transformed","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Transform Time Slots","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Return Transformed":{"main":[[]]},"Set Parameters":{"main":[[{"node":"Get Default End Date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"task":{"id":"018644d6-fc73-406e-97d3-71f78f3fc84f","created_at":"2025-06-03T15:00:54.876+00:00","description":"Investigate workflow failure in n8n","due_date":"Check original email","category":"app","priority":"high","feedback":0,"user_id":"d24503d6-48da-4af1-8599-177cd8501341","email_id":"197363415b8fe88d","progress":null,"app_link":"https://n8n-latest-jvhv.onrender.com/workflow/lBkDISX9Vn0oLdZH/executions/25117","app_name":"n8n","chat_id":null,"draft_response":"Hey Jesus, can you check out the failed workflow in n8n using the execution URL to see what's causing the out-of-memory issue?","time_blocked":null,"user_feedback":null,"extracted_from_id":"f4d4cf2d-3e1f-438b-817f-e549feec5ab0","description_extended":"Investigate the high-priority failure of the \"Extract Links\" workflow in n8n, focusing on the possible out-of-memory issue that halted execution at the \"Extract Link and App\" node; review the provided execution URL for diagnostic details and report findings promptly."},"userId":"d24503d6-48da-4af1-8599-177cd8501341","limit":3}}]},"versionId":"99f8ea3f-6096-40f6-a5e1-911ce668a932","triggerCount":1,"tags":[]}