2025-09-30/🖥️ [TG] Get Time Zone.json
{"createdAt":"2025-07-30T17:52:59.488Z","updatedAt":"2025-09-30T19:37:41.009Z","id":"DHcoEXUvqWWKxbZD","name":"🖥️ [TG] Get Time Zone","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"context"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,-80],"id":"ba9be2d1-ee5a-4f97-b850-0cac30d371da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"OH9PUovRKlvZel5e","mode":"list","cachedResultName":"🖥️ [TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').first().json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[236,16],"id":"d26910ab-b781-41d7-bda9-b53bc361b94c","name":"Get Token"},{"parameters":{"url":"https://www.googleapis.com/calendar/v3/calendars/primary","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"timeZone"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,16],"id":"2cd47bc5-7e1c-4212-96ab-bec13a62b5e0","name":"Get Time Zone from Primary Calendar","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsonSchemaExample":"{\"time_zone\": \"America/New_York\", \"confidence\": 0.8, \"reason\": \"The user mentions having visited Times Square yesterday\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-356,144],"id":"4cc92dde-3cc4-4f48-a5cd-7dc50770ce35","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=## Context: {{ $json.context }}","hasOutputParser":true,"options":{"systemMessage":"=**Input**\n\n* `Context`: A string containing known facts and recent user messages.\n\n**Task**\nFind the **most recent user location** in the `Context` and return its corresponding **IANA time zone** in JSON.\n\n**Rules**\n\n1. Look for location evidence (IANA zone, city/region/country, UTC/GMT offset).\n2. Use timestamps to decide recency: prefer items marked as `(… - present)` or with the latest end time.\n3. If multiple locations appear at the same time, choose the most specific (city > region > country).\n4. Ignore future plans (e.g., “going to Tokyo tomorrow”).\n5. If no clear location is found, return `null`.\n\n**Confidence Levels**\n\n* **1.0** → Explicit IANA zone or explicit present-tense location (“I’m in Paris now”).\n* **0.8** → Plain city/region with no conflict.\n* **0.6** → Offset + locality.\n* **0.4** → Offset only (canonical guess).\n* **0.0** → No usable evidence or conflicting data.\n\n**Output Format**\n\n```json\n{\n  \"time_zone\": \"IANA time zone or null\",\n  \"confidence\": 0.0,\n  \"reason\": \"Short explanation of the evidence used.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-432,-80],"id":"bf84975f-b7c3-4e7a-9992-f4e973218c5f","name":"Time Zone Extractor"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04fc2c96-d0d3-4303-b046-a117b5f7a8fc","leftValue":"={{ $json.output.confidence }}","rightValue":0.5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12,-80],"id":"8adabe3b-de70-40f9-ba07-ebbc73e345ca","name":"Time Zone?"},{"parameters":{"assignments":{"assignments":[{"id":"efe47c53-2fd8-4b01-b911-dc97d0c7f18e","name":"timeZone","value":"={{ $json.output.time_zone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[236,-176],"id":"5cc5f1ce-7c79-48a1-b1c1-be10892b9ef3","name":"Set Extracted Time Zone"},{"parameters":{"assignments":{"assignments":[{"id":"0fdd8902-0577-4469-9832-717dd35739c2","name":"timeZone","value":"={{ $('Time Zone?').item.json.output.time_zone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[684,16],"id":"e7f3b207-58e9-4472-8240-e8cb7b13f4ec","name":"Set Low Confidence Time Zone"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-360,352],"id":"31c3b54e-a45d-469f-9d03-ac2ee22ca87b","name":"4.1","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}}],"connections":{"Get Token":{"main":[[{"node":"Get Time Zone from Primary Calendar","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Time Zone Extractor","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Time Zone Extractor","type":"ai_outputParser","index":0}]]},"Time Zone Extractor":{"main":[[{"node":"Time Zone?","type":"main","index":0}]]},"Time Zone?":{"main":[[{"node":"Set Extracted Time Zone","type":"main","index":0}],[{"node":"Get Token","type":"main","index":0}]]},"Get Time Zone from Primary Calendar":{"main":[[],[{"node":"Set Low Confidence Time Zone","type":"main","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"Time Zone Extractor","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"d24503d6-48da-4af1-8599-177cd8501341","context":"No Context Exist."}}]},"versionId":"2e7b3605-a755-40d4-a8d2-98ea6f03db2e","triggerCount":0,"shared":[{"createdAt":"2025-07-30T17:52:59.488Z","updatedAt":"2025-07-30T17:52:59.488Z","role":"workflow:owner","workflowId":"DHcoEXUvqWWKxbZD","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}