2025-09-30/🖥️ [TG] Generate TG Sign Up Link.json
{"createdAt":"2025-08-28T21:45:22.739Z","updatedAt":"2025-09-02T22:48:51.692Z","id":"lHx47sEHxVpIXsDI","name":"🖥️ [TG] Generate TG Sign Up Link","active":false,"isArchived":false,"nodes":[{"parameters":{"value":"={{ JSON.stringify($json) }}","dataPropertyName":"telegram_signup_token"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-208,224],"id":"4951e6f7-0c66-4dfd-a08b-73724f3ed02c","name":"Generate Token"},{"parameters":{"assignments":{"assignments":[{"id":"d6d44179-3294-4120-a806-9edeed86be94","name":"telegramSignUpLink","value":"=https://t.me/AskTomoBot?start={{ $json.telegram_signup_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,224],"id":"c1d64987-9f2e-42e6-a493-931de09068fd","name":"Set Sign Up Link"},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"email","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"telegram_signup_token","fieldValue":"={{ $('Generate Token').item.json.telegram_signup_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[240,224],"id":"13cc65c6-70c0-414e-8c3a-f681f23f4931","name":"Update User with TG Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"3cabc399-9076-4be5-afd0-7923501122c4","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,320],"id":"68545c7c-18ea-4dc6-a897-f8d12166ab67","name":"Webhook","webhookId":"3cabc399-9076-4be5-afd0-7923501122c4"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"link\": \"{{ $('Set Sign Up Link').item.json.telegramSignUpLink }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[464,224],"id":"c2617dcc-20cc-4afe-b8a4-487cb324f558","name":"Respond to Webhook"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,320],"id":"53ddbcc6-0951-4a4e-a42f-8deb85aa6f12","name":"Get User","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6625e9ac-e2c8-43c3-b1bb-7c1cfbbbd494","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}},{"id":"1b4c2e9a-ac72-4ee3-892c-adace3cd2862","leftValue":"={{ $json.telegram_signup_token === null || $json.telegram_signup_token === undefined || $json.telegram_signup_token.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,320],"id":"2c02818e-74f7-4d51-a365-98debf9b40af","name":"New User?","disabled":true},{"parameters":{"respondWith":"json","responseBody":"{\n  \"error\": \"User not found or already signed up.\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-208,416],"id":"1e261a8d-7712-4eb3-9d48-3d7b86e202b3","name":"Bad Request"}],"connections":{"Generate Token":{"main":[[{"node":"Set Sign Up Link","type":"main","index":0}]]},"Set Sign Up Link":{"main":[[{"node":"Update User with TG Token","type":"main","index":0}]]},"Update User with TG Token":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Get User":{"main":[[{"node":"New User?","type":"main","index":0}]]},"New User?":{"main":[[{"node":"Generate Token","type":"main","index":0}],[{"node":"Bad Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f677d63d-7977-421c-aae5-b29aeecd5a24","triggerCount":1,"shared":[{"createdAt":"2025-08-28T21:45:22.739Z","updatedAt":"2025-08-28T21:45:22.739Z","role":"workflow:owner","workflowId":"lHx47sEHxVpIXsDI","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}