2025-05-21/1. Extract Tasks for Authenticated Users.json
{"createdAt":"2025-05-06T21:43:57.803Z","updatedAt":"2025-05-20T22:34:49.000Z","id":"z6AAvd4Z7Nu5Z3Cn","name":"1. Extract Tasks for Authenticated Users","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-540],"id":"73c4b37d-8e6f-4ab2-b8b0-1baf094f5cf8","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,-340],"id":"54a325d8-a193-449f-a3b1-f5a77c5810f7","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"40ae722b-7a8f-4eea-82f6-3ac76d693d59","name":"since","value":3,"type":"number"},{"id":"a16cdbd6-2d67-473e-b1cd-1c6c276c6977","name":"max_results","value":100,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,-440],"id":"bc0d0acc-320c-458f-a866-b71d23bb6374","name":"Set Parameters"},{"parameters":{"workflowId":{"__rl":true,"value":"ar1V7OobX3sauykf","mode":"list","cachedResultName":"Get Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[540,-515],"id":"4b3e711c-006b-4d9b-be77-41c658399e95","name":"Get Token and User","onError":"continueErrorOutput"},{"parameters":{"url":"https://www.googleapis.com/gmail/v1/users/me/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"maxResults","value":"={{ $('Set Parameters').item.json.max_results }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"},{"name":"q","value":"={{ \"after:\" + (new Date(Date.now() - 1000*60*60*24*$('Set Parameters').item.json.since).toISOString().split('T')[0]) + \" in:inbox\"}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-515],"id":"8a291543-3633-4c96-b840-2c921adb64ae","name":"Get Gmail IDs"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,-515],"id":"124ed277-fc54-4513-bb0c-86155ae2f1b6","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,-465],"id":"2e2b967b-43e8-4567-a2ea-70cfff5a3524","name":"Loop over Emails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,-440],"id":"8060c88c-4aea-47b8-b14d-53ff7c54741d","name":"Loop over Users"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,-440],"id":"ef41f760-2065-4562-9ddf-c4d53178db4a","name":"Wait","webhookId":"4c2b7c82-e495-41c5-9f9b-ba9485893e88"},{"parameters":{"workflowId":{"__rl":true,"value":"yoj6BCWURbtB941i","mode":"list","cachedResultName":"2. Extract Tasks from Email"},"workflowInputs":{"mappingMode":"defineBelow","value":{"emailId":"={{ $json.id }}","userId":"={{ $('Get Token and User').item.json.user.id }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"emailId","displayName":"emailId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1420,-515],"id":"3cdd1101-5a40-4bf7-b871-d7c3eafade17","name":"Extract Tasks from Email","onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT id\nFROM users\nWHERE refresh_token IS NOT NULL\nAND client_id IS NOT NULL\nAND client_secret IS NOT NULL\nAND access_token IS NOT NULL\nAND refresh_expired IS NOT NULL","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,-440],"id":"82d39478-013c-4a57-b5a7-dbe49644357e","name":"Pull Authenticated User IDs","credentials":{"postgres":{"id":"kI6uSN0fI2Vhpmlk","name":"Postgres account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Pull Authenticated User IDs","type":"main","index":0}]]},"Get Token and User":{"main":[[{"node":"Get Gmail IDs","type":"main","index":0}],[{"node":"Loop over Users","type":"main","index":0}]]},"Get Gmail IDs":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Loop over Emails":{"main":[[{"node":"Loop over Users","type":"main","index":0}],[{"node":"Extract Tasks from Email","type":"main","index":0}]]},"Loop over Users":{"main":[[],[{"node":"Get Token and User","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Extract Tasks from Email":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Loop over Emails","type":"main","index":0}]]},"Pull Authenticated User IDs":{"main":[[{"node":"Loop over Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e90833b-095c-4373-a659-e1e15e347971","triggerCount":1,"tags":[]}