2025-05-21/Summarize Email (Endpoint).json
{"createdAt":"2025-04-29T02:54:54.024Z","updatedAt":"2025-05-05T13:55:53.000Z","id":"CG6CWS3PrWM85C2B","name":"Summarize Email (Endpoint)","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"d1cf0121-7cce-4534-92e7-5b5cb3b108d2","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,80],"id":"966fc694-94af-4871-a4a0-cd770a20c13e","name":"Webhook","webhookId":"d0cf0121-7cce-4534-92e7-5b5cb3b108d2"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"summary\":  {{ JSON.stringify($json.message.content) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[176,80],"id":"01c07c60-4999-42cc-9e49-1970b4a13397","name":"Respond to Webhook"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=You are an email summarizer.\n\nYour job is to create a summary of the provided text, which corresponds to a Gmail email.\n\nKeep the summary concise, to the point, and don't leave out any important information.\n\nMake your summary AT MOST 3 sentences long.\n\nOnly return the summary.","role":"system"},{"content":"={{ $('Webhook').item.json.body.body }}"}]},"options":{"maxTokens":512,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-200,80],"id":"c3e52883-4b3d-4208-87db-01cbd4797359","name":"Summarize","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"f75c7535-bcc1-4981-b975-f430c7ec078b","triggerCount":1,"tags":[]}