2025-05-21/Summarize Thread (Endpoint).json
{"createdAt":"2025-04-29T13:06:01.978Z","updatedAt":"2025-05-05T13:55:22.000Z","id":"9H78mcLvx2bZlCIG","name":"Summarize Thread (Endpoint)","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"4f1ec571-8842-4dc4-bc83-2a10378ed205","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"7a12e33c-fa56-4ec1-83a6-4189125913a8","name":"Webhook","webhookId":"4f1ec571-8842-4dc4-bc83-2a10378ed205"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are an email thread summarizer.\n\nYour job is to create a summary of an email thread. You will receive a JSON structure like this: \n\n[\n    {\n        \"body\": \"Dev JIA has accepted the invitation for Test Z #2 scheduled on Thursday, July 25, 2024, from 11:30 am to 12:30 pm Singapore Standard Time. The meeting will be held via Zoom, and joining details are provided in the email. Test JIA is the organizer, and further guest information can be accessed through the provided Google Calendar link.\",\n        \"date_received\": \"2024-07-24\"\n    },\n    {\n        \"body\": \"Your cloud recording for Test Z #4 from July 25, 2024, at 07:17 PM Singapore time is now available. You can view, share, and access the recording using the provided links and passcode K+qjj9wR.\",\n        \"date_received\": \"2024-07-25\"\n    },\n    {\n        \"body\": \"Your paid Zoom subscription has expired, resulting in the loss of access to Cloud Recordings, which will be deleted in 30 days unless you renew your subscription.\",\n        \"date_received\": \"2024-08-07\"\n    }\n]\n\n## Notes about the input:\n- It is a list of email bodies for each email in the thread.\n- It is order in chronological ascending order.\n- \"body\" contains the body of a particular email.\n- \"date_received\" is the date that email was received.\n\nKeep the summary concise, to the point, and don't leave out any important information.\n\nMake your summary AT MOST 3 sentences long.\n\nOnly return the summary.","role":"system"},{"content":"={{ $('Webhook').item.json.body.thread }}"}]},"options":{"maxTokens":512,"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"d491ff62-4d3e-4ac3-8558-b3658cd36621","name":"Email Thread Summarizer","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"threadSummary\": {{ JSON.stringify($json.message.content) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[596,0],"id":"3010947d-2d42-4999-8836-63ffaf3e856a","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Email Thread Summarizer","type":"main","index":0}]]},"Email Thread Summarizer":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"0c8a663e-9851-44d6-984e-bb22eefcb6a0","triggerCount":1,"tags":[]}