2025-05-21/☀️ Create Morning Report.json
{"createdAt":"2025-05-19T15:41:50.547Z","updatedAt":"2025-05-20T22:30:35.000Z","id":"ZZxPpML6WO0Yt3tg","name":"☀️ Create Morning Report","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT display_name, email\nFROM users\nWHERE id = '{{ $json.body.user_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-20,80],"id":"73e7a654-7778-41d2-9657-7735e6ea5eb4","name":"Get Display Name & Email From User","credentials":{"postgres":{"id":"kI6uSN0fI2Vhpmlk","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT email_id, relevant \nFROM emails\nWHERE user_id = '{{ $('Webhook1').item.json.body.user_id }}'\n  AND created_at >= '{{ $today.plus('-1', 'day').toUTC().format('yyyy-MM-dd') }}'\n  AND relevant","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,80],"id":"7db01698-e1d5-4483-af60-80a8fefdb3c9","name":"Get Email Ids","alwaysOutputData":true,"credentials":{"postgres":{"id":"kI6uSN0fI2Vhpmlk","name":"Postgres account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"email_id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[640,80],"id":"4009851f-c487-459f-b457-8cad87d0e1d5","name":"Aggregate"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*)\nFROM tasks\nWHERE email_id IN ({{ JSON.stringify($json.email_id).replaceAll(\"[\", \"\").replaceAll(\"]\", \"\").replaceAll(\"\\\"\", \"'\") }})","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1080,180],"id":"8a0f761a-96b2-451f-9fc9-c8222102e255","name":"Count Tasks","credentials":{"postgres":{"id":"kI6uSN0fI2Vhpmlk","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) \nFROM emails\nWHERE user_id = '{{ $('Webhook1').item.json.body.user_id }}'\n  AND created_at >= '{{ $today.plus('-1', 'day').toUTC().format('yyyy-MM-dd') }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,80],"id":"3b3000f5-760d-4420-9977-6e642f4407ee","name":"Count All Emails","credentials":{"postgres":{"id":"kI6uSN0fI2Vhpmlk","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64394273-c2e7-4db7-981c-32f8b69d867a","leftValue":"={{ $json.email_id.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[860,80],"id":"8c66072f-250a-4302-b2f9-be044ae3bdfe","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"43e9ac24-d294-4b65-9b8d-e442bd7c6529","name":"count","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,-20],"id":"babeb5e2-6bba-4b7e-8d78-7a3214e2e49e","name":"Set Taks Count"},{"parameters":{"sendTo":"={{ $('Get Display Name & Email From User').first().json.email }}","subject":"={{ $today.format('yyyy-MM-dd') }} - Morning Task Report","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Morning Task Report</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            background-color: #f4f4f4;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            overflow: hidden;\n        }\n        .header {\n            background-color: #4CAF50;\n            color: #ffffff;\n            text-align: center;\n            padding: 15px;\n        }\n        .content {\n            padding: 20px;\n        }\n        .content h1 {\n            font-size: 24px;\n            color: #333333;\n        }\n        .metrics {\n            margin: 20px 0;\n            font-size: 18px;\n            line-height: 1.4;\n        }\n        .cta-button {\n            display: inline-block;\n            background-color: #4CAF50;\n            color: #ffffff;\n            text-decoration: none;\n            padding: 10px 20px;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .footer {\n            text-align: center;\n            font-size: 14px;\n            color: #777777;\n            padding: 10px;\n            background-color: #f4f4f4;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <h2>Morning Task Extraction Report</h2>\n        </div>\n\n        <!-- Content -->\n        <div class=\"content\">\n            <h1>Good morning, {{ $('Get Display Name & Email From User').first().json.display_name }}!</h1>\n            <p class=\"metrics\">\n                Here's what we accomplished since yesterday:<br>\n                <strong>{{ $('Count All Emails').first().json.count }}</strong> emails processed<br>\n                <strong>{{ $('Aggregate').first().json.email_id.length }}</strong> emails identified as relevant<br>\n                <strong>{{ $json.count }}</strong> tasks extracted\n            </p>\n            <p>\n                <a href=\"{link_to_tomo}\" class=\"cta-button\">Head over to Tomo</a>\n            </p>\n        </div>\n\n        <!-- Footer -->\n        <div class=\"footer\">\n            Have a productive day ahead!<br>\n            <strong>The Task Extraction Team</strong>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1300,80],"id":"e0e686bd-57f1-49c0-b798-25470088649c","name":"Send Morning Report","webhookId":"3ed2021a-d66b-49b2-accb-872b11bcc3d9","credentials":{"gmailOAuth2":{"id":"2CUBPvzdDQZZbQxh","name":"Gmail account"}}},{"parameters":{"content":"**📝 Morning Report Workflow**\n\n* **Trigger**: Webhook (`/morning_report`)\n* **Gets**: User info → Emails (past 24h) → Relevant emails → Tasks\n* **Logic**:\n\n  * No relevant emails → tasks = 0\n  * Else → count tasks\n* **Output**: Sends HTML report via Gmail\n","height":240,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-240,-240],"typeVersion":1,"id":"bb57d844-2bcd-4fd1-8085-fa724f7870a2","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"morning_report","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,80],"id":"0cfb1ee8-f05d-4263-a7c1-1946af143fb3","name":"Webhook","webhookId":"1c641698-47ff-4573-8886-6dedd41be81c"}],"connections":{"Get Display Name & Email From User":{"main":[[{"node":"Count All Emails","type":"main","index":0}]]},"Get Email Ids":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"Count Tasks":{"main":[[{"node":"Send Morning Report","type":"main","index":0}]]},"Count All Emails":{"main":[[{"node":"Get Email Ids","type":"main","index":0}]]},"If":{"main":[[{"node":"Set Taks Count","type":"main","index":0}],[{"node":"Count Tasks","type":"main","index":0}]]},"Set Taks Count":{"main":[[{"node":"Send Morning Report","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Display Name & Email From User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c654cf46-05c9-4ae1-9729-7c2bb7c006a2","triggerCount":1,"tags":[]}