2025-08-10/[TEST] Google Places Search API.json
{"createdAt":"2025-08-05T23:24:50.854Z","updatedAt":"2025-08-08T00:17:06.553Z","id":"kXQdpbqm9MW3XOA1","name":"[TEST] Google Places Search API","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-464,-128],"id":"f8793278-f227-49d4-b681-8c6e1e5d2c0d","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"References:\n\n- https://developers.google.com/maps/documentation/places/web-service/text-search"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-304],"id":"0ff44011-6f7d-4e60-a3a5-421da7afcd91","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.photos,places.rating,places.googleMapsUri,places.websiteUri"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"Spicy Vegetarian Food in Honolulu, Hawaii"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-128],"id":"1831630e-db24-4d6d-bcbc-03c7b327695c","name":"Search Places"},{"parameters":{"url":"=https://places.googleapis.com/v1/{{ $json.places[0].photos[0].name }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"maxHeightPx","value":"1600"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-128],"id":"d616fc21-86fd-4dd4-ad07-67d25323e328","name":"Download Image"},{"parameters":{"operation":"sendPhoto","chatId":"1598386790","binaryData":true,"additionalFields":{"caption":"<a href=\"https://maps.google.com/?cid=13972111762538512750&g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQABgEIAA\" target=\"_blank\">Some location</a>","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,-128],"id":"730e8884-1ae6-4c51-9972-0a987e2ace37","name":"Send a photo message","webhookId":"9ccebad4-77f5-43a1-b65b-38d21c3f5d43","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}}},{"parameters":{"content":"## Notes:\n\n- Render one image + link per option.\n- Select the top 3 places.\n- Each link should take the user to Google Maps.\n- Send each image in succession (save in chat history); assign a number to each so the user can reference by their number.\n- Create another agent to handle locations.","height":256,"width":384},"type":"n8n-nodes-base.stickyNote","position":[48,-544],"typeVersion":1,"id":"76bd25ef-1219-4878-8a55-6c128956d4d0","name":"Sticky Note1"},{"parameters":{"content":"## Next Steps\n\nMake everything work THE SAME in a Group chat.","color":3},"type":"n8n-nodes-base.stickyNote","position":[448,-496],"typeVersion":1,"id":"9f5c4d1b-76bf-494a-aa84-12107df37ea0","name":"Sticky Note2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search Places","type":"main","index":0}]]},"Search Places":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Send a photo message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe43acdd-11e6-4dfd-815c-287a3d376021","triggerCount":0,"tags":[]}