2025-09-05/[Signal] Vectorize Contacts.json
{"createdAt":"2025-07-28T22:19:20.841Z","updatedAt":"2025-08-05T22:24:44.668Z","id":"XeowitBalY6QwLfg","name":"[Signal] Vectorize Contacts","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"users","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-352],"id":"1a29f02c-fea6-440e-948e-aa74e3575b85","name":"Get Users","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79e8b3d9-b0d1-4837-b9c0-3b43628d6ee4","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec44bd2f-ef92-4739-ad92-206eac8e9396","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9df1debe-14b3-476c-92e6-06f3eb9e0d9e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"20fa9d20-abb4-44ad-86c1-3da1d45e9b8e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"859e0653-6403-4471-8b4c-cf1da741265b","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b6bc3d3a-b594-49d5-8139-c0b77c4cc781","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"7f739a64-dfb4-480e-be1f-55a5b6ca32ce","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"3288274a-5dab-4106-b9b8-0cd52fbf89a3","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-352],"id":"3e97a671-d933-48af-b6b0-08951936083e","name":"Keep Authenticated Users"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,-352],"id":"46018f08-da77-4545-837f-f892f33d7b95","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"uu7semjX1n1iWDt6","mode":"list","cachedResultName":"[Signal] Vectorize Single User Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,-336],"id":"3f45e7ba-a58a-49e6-866c-a9c4ed4f028a","name":"Vectorize User Contacts"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,-336],"id":"11a69535-455e-4e42-8b34-8c89252f47c6","name":"Wait 10 seconds","webhookId":"78250ccb-57bd-43c1-a717-5679398718ad"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-352],"id":"259a374b-3c38-46da-90d0-125b99d5941e","name":"Run Every Week"}],"connections":{"Get Users":{"main":[[{"node":"Keep Authenticated Users","type":"main","index":0}]]},"Keep Authenticated Users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Vectorize User Contacts","type":"main","index":0}]]},"Vectorize User Contacts":{"main":[[{"node":"Wait 10 seconds","type":"main","index":0}]]},"Wait 10 seconds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Run Every Week":{"main":[[{"node":"Get Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Run Every Week":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9b9890a-452e-4b29-a3ae-d07059fcabb4","triggerCount":1,"shared":[{"createdAt":"2025-07-28T22:19:20.841Z","updatedAt":"2025-07-28T22:19:20.841Z","role":"workflow:owner","workflowId":"XeowitBalY6QwLfg","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}