2025-09-05/[TG] Delete Event.json
{"createdAt":"2025-08-26T09:39:41.187Z","updatedAt":"2025-09-02T15:41:46.875Z","id":"QohmrZ6vlLShdpbO","name":"[TG] Delete Event","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('When Executed by Another Workflow').item.json.attendees.trim() === \"NONE\" ? [] : \n$('When Executed by Another Workflow').item.json.attendees.trim().split(\",\").map(item => item.trim()))}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.start).plus($('When Executed by Another Workflow').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-80],"id":"e7d7c4ba-6aa4-4824-ad88-ae599a3b3b45","name":"Set Attendees & End Date","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"eventId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,-80],"id":"a6bcf1a3-ead9-4efb-96d8-794ea47b36da","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,16],"id":"8ed9e628-1b29-4d29-83eb-55afa8b4e94f","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for TG Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-960,-80],"id":"b50141c1-b4fb-4e94-83bb-64836340e0a5","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-176],"id":"41ce7e9b-e6cc-4c28-ba8a-2808676dc139","name":"Set Event Info"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// This script creates a JSON object for UPDATING a Google Calendar event.\n// It only includes the fields that are being modified.\n\n$input.item.json.calendarRequest = {\n  // Set the start time from the workflow input\n  start: {\n    dateTime: $('When Executed by Another Workflow').item.json.start,\n    timeZone: $('When Executed by Another Workflow').item.json.timeZone\n  },\n  // Set the end time (assuming it's pre-calculated from start + duration in a previous step)\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('When Executed by Another Workflow').item.json.timeZone\n  },\n  // Set the location from the workflow input\n  location: $('When Executed by Another Workflow').item.json.location,\n  // Replace the attendee list with the new one from the workflow input\n  attendees: $json.attendees?.map(email => ({ email })) ?? [],\n  summary: $('When Executed by Another Workflow').item.json.summary\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-80],"id":"41a6ca34-5d9f-46d7-a907-99e101c48ba6","name":"Create Update Event Request","disabled":true},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-80],"id":"81376696-e094-4fea-b534-38e2e32065bb","name":"Delete Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"}],"connections":{"Set Attendees & End Date":{"main":[[{"node":"Create Update Event Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]},"Create Update Event Request":{"main":[[{"node":"Delete Event","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":null,"pinData":{},"versionId":"41c54f91-32eb-454c-b583-a8d5591663f3","triggerCount":0,"shared":[{"createdAt":"2025-08-26T09:39:41.187Z","updatedAt":"2025-08-26T09:39:41.187Z","role":"workflow:owner","workflowId":"QohmrZ6vlLShdpbO","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}