2026-01-19/[TOMO] Delete Event.json
{"updatedAt":"2026-01-05T17:54:57.580Z","createdAt":"2026-01-05T17:53:23.064Z","id":"GSSD0_tLa535g09kAxRq_","name":"[TOMO] Delete Event","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"eventId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-992,-64],"id":"8b4476d6-feec-4785-849a-6935adbae4b8","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,32],"id":"54e49d4e-5b3d-4554-bf32-7ff526f736c5","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-768,-64],"id":"284ea41a-8eb7-4236-b158-fa79f92f50e2","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-160],"id":"cb3f428c-0a1e-408b-9a6b-07bc909c4c1e","name":"Set Event Info"},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,-64],"id":"4b55ce69-ad24-4b5b-a1ba-464136abb56d","name":"Delete Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Delete Event","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"2de3dbc5-a76c-401a-ace7-8abbe348e633","activeVersionId":"2de3dbc5-a76c-401a-ace7-8abbe348e633","triggerCount":0,"shared":[{"updatedAt":"2026-01-05T17:53:23.064Z","createdAt":"2026-01-05T17:53:23.064Z","role":"workflow:owner","workflowId":"GSSD0_tLa535g09kAxRq_","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":{"updatedAt":"2026-01-05T17:54:59.710Z","createdAt":"2026-01-05T17:54:57.581Z","versionId":"2de3dbc5-a76c-401a-ace7-8abbe348e633","workflowId":"GSSD0_tLa535g09kAxRq_","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"eventId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-992,-64],"id":"8b4476d6-feec-4785-849a-6935adbae4b8","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,32],"id":"54e49d4e-5b3d-4554-bf32-7ff526f736c5","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-768,-64],"id":"284ea41a-8eb7-4236-b158-fa79f92f50e2","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-160],"id":"cb3f428c-0a1e-408b-9a6b-07bc909c4c1e","name":"Set Event Info"},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,-64],"id":"4b55ce69-ad24-4b5b-a1ba-464136abb56d","name":"Delete Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Delete Event","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]}},"authors":"Dev JIA","name":"Version 2de3dbc5","description":"","autosaved":false},"tags":[]}