2026-01-23/Service Search Contacts in Vector Store.json
{"updatedAt":"2026-01-23T20:48:52.171Z","createdAt":"2026-01-23T20:44:09.459Z","id":"cSi44h1ZEK3gmDmx","name":"Service Search Contacts in Vector Store","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-520,64],"id":"c444eb4c-1819-4b18-abb3-718052dc5a91","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"mode":"load","prompt":"={{ $json.body.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.body.user_id }}"},{"name":"source","value":"google"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-592,-160],"id":"d1365146-27dd-45aa-9bdd-27da2be704d5","name":"[Google] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"mode":"load","prompt":"={{ $json.body.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.body.user_id }}"},{"name":"source","value":"conversation"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-592,240],"id":"672d78fa-bb2f-4f1b-88ff-3dcc6be80eb1","name":"[Conversation] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"assignments":{"assignments":[{"id":"e599b1de-86bc-475c-a2a7-937e9dcde816","name":"pageContent","value":"={{ $json.document.pageContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,92],"id":"bfba63e8-6119-460f-9a4c-bd9ef25dc13d","name":"Simplify Output"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-240,92],"id":"9a332844-51ae-4dd2-ba3a-0015c0443615","name":"Append"},{"parameters":{"httpMethod":"POST","path":"search-contacts","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,92],"id":"49b243c7-bae7-4952-bb9c-b9cec4c65e53","name":"Webhook","webhookId":"458b449a-ce08-45c5-974c-862573b0bb52"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"[Google] Contacts","type":"ai_embedding","index":0},{"node":"[Conversation] Contacts","type":"ai_embedding","index":0}]]},"[Google] Contacts":{"main":[[{"node":"Append","type":"main","index":0}]]},"[Conversation] Contacts":{"main":[[{"node":"Append","type":"main","index":1}]]},"Append":{"main":[[{"node":"Simplify Output","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"[Google] Contacts","type":"main","index":0},{"node":"[Conversation] Contacts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"body":{"user_id":"qZT6blvRgXN0eb2GWKK7gQCBbY2s","query":"Geoff"}}}]},"versionId":"57ff8281-0704-4120-94c7-d95e22f37ac0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-23T20:44:09.459Z","createdAt":"2026-01-23T20:44:09.459Z","role":"workflow:owner","workflowId":"cSi44h1ZEK3gmDmx","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":null,"tags":[]}