2025-09-03/🖥️ [TG] Vectorize Contacts.json
{"createdAt":"2025-08-28T21:44:22.972Z","updatedAt":"2025-09-02T22:55:26.383Z","id":"A6WLN1SB6j5Lxcu2","name":"🖥️ [TG] Vectorize Contacts","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79e8b3d9-b0d1-4837-b9c0-3b43628d6ee4","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec44bd2f-ef92-4739-ad92-206eac8e9396","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9df1debe-14b3-476c-92e6-06f3eb9e0d9e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"20fa9d20-abb4-44ad-86c1-3da1d45e9b8e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"859e0653-6403-4471-8b4c-cf1da741265b","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b6bc3d3a-b594-49d5-8139-c0b77c4cc781","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"7f739a64-dfb4-480e-be1f-55a5b6ca32ce","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"3288274a-5dab-4106-b9b8-0cd52fbf89a3","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-280],"id":"b4733949-1d94-4125-a039-858354bae765","name":"Keep Authenticated Users"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,-280],"id":"f56cb18d-74a8-4cc7-8830-312279a9429c","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"lRcJeeFDaeonUo4f","mode":"list","cachedResultName":"🖥️ [TG] Vectorize Single User Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[544,-352],"id":"f01a66eb-7192-4d03-bb78-73ba83844df7","name":"Vectorize User Contacts"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,-280],"id":"88724ecf-959c-4619-a18c-f572cbda97f5","name":"Wait 10 seconds","webhookId":"a36f2284-ef43-40fc-8480-4bbdb8fce936"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-280],"id":"a3131eaf-665f-40e5-a52a-37f981ffd8ce","name":"Run Every 45 Minutes"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dev.users;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-280],"id":"cb8f9fa3-b12f-45e9-9c4a-cfda4508c4dc","name":"Get Users","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Keep Authenticated Users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Vectorize User Contacts","type":"main","index":0}]]},"Vectorize User Contacts":{"main":[[{"node":"Wait 10 seconds","type":"main","index":0}]]},"Wait 10 seconds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Run Every 45 Minutes":{"main":[[{"node":"Get Users","type":"main","index":0}]]},"Get Users":{"main":[[{"node":"Keep Authenticated Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Run Every Week":{"recurrenceRules":[]},"node:Run Every Month":{"recurrenceRules":[]},"node:Run Every 45 Minutes":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf3e7006-3f0d-4f13-9895-e7d3646d0325","triggerCount":1,"shared":[{"createdAt":"2025-08-28T21:44:22.972Z","updatedAt":"2025-08-28T21:44:22.972Z","role":"workflow:owner","workflowId":"A6WLN1SB6j5Lxcu2","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}