2025-07-22/[Signal] Search Contacts.json
{"createdAt":"2025-07-22T20:39:16.441Z","updatedAt":"2025-07-22T20:50:22.029Z","id":"BmazSSTKstkRHFz9","name":"[Signal] Search Contacts","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"f68fe61d-59f9-42aa-9e24-93217b5f5456","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for Signal Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,0],"id":"03a2b582-70d3-4f7a-8c8a-0a953e4146fb","name":"Get Token"},{"parameters":{"url":"=https://people.googleapis.com/v1/people:searchContacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $('When Executed by Another Workflow').item.json.query }}"},{"name":"readMask","value":"names,emailAddresses"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"71f5c2ea-944b-4476-b562-e6472c49adb0","name":"Search Contacts","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"}],"connections":{"Get Token":{"main":[[{"node":"Search Contacts","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"M88dm4Whe7B1dI2MZ1ilO6cp4xxd","query":"ken"}}],"Search Contacts":[{"json":{"results":[{"person":{"resourceName":"people/c1467631864186137506","etag":"%EgcBAgkuNz0+GgECIgwvTk8zc0NsQm1XST0=","names":[{"metadata":{"primary":true,"source":{"type":"CONTACT","id":"145e136795dbeba2"},"sourcePrimary":true},"displayName":"Ken Dad HK","givenName":"Ken Dad HK","displayNameLastFirst":"Ken Dad HK","unstructuredName":"Ken Dad HK"}]}},{"person":{"resourceName":"people/c5312739810180299075","etag":"%EgcBAgkuNz0+GgECIgxFYkdQaTA1ZlFqQT0=","names":[{"metadata":{"primary":true,"source":{"type":"CONTACT","id":"49baa4b591df7943"},"sourcePrimary":true},"displayName":"Ken Wong","familyName":"Wong","givenName":"Ken","displayNameLastFirst":"Wong, Ken","unstructuredName":"Ken Wong"}]}},{"person":{"resourceName":"people/c5370861444361165055","etag":"%EgcBAgkuNz0+GgECIgxhbE9zUCtRRG1BQT0=","names":[{"metadata":{"primary":true,"source":{"type":"CONTACT","id":"4a89220710fd18ff"},"sourcePrimary":true},"displayName":"Ken_冷氣清洗","givenName":"Ken_冷氣清洗","displayNameLastFirst":"Ken_冷氣清洗","unstructuredName":"Ken_冷氣清洗"}]}},{"person":{"resourceName":"people/c7078635452459776502","etag":"%EgcBAgkuNz0+GgECIgxDM2E0SU1YTHZ4bz0=","names":[{"metadata":{"primary":true,"source":{"type":"CONTACT","id":"623c5d709659f9f6"},"sourcePrimary":true},"displayName":"Kennies-shop","givenName":"Kennies-shop","displayNameLastFirst":"Kennies-shop","unstructuredName":"Kennies-shop"}]}},{"person":{"resourceName":"people/c641478538677446606","etag":"%EgcBAgkuNz0+GgECIgwvUkN4OGVqTitWUT0=","names":[{"metadata":{"primary":true,"source":{"type":"CONTACT","id":"8e6fd550ce7e7ce"},"sourcePrimary":true},"displayName":"Carmen Ken","familyName":"Ken","givenName":"Carmen","displayNameLastFirst":"Ken, Carmen","unstructuredName":"Carmen Ken"}]}}]}}]},"versionId":"910f3821-d41c-4193-ab87-5b985817c539","triggerCount":0,"tags":[]}