2025-09-21/[TG] Vectorize Contacts.json
{"createdAt":"2025-07-30T17:52:15.612Z","updatedAt":"2025-08-28T22:21:49.207Z","id":"35LtEy5AZP7vL7PP","name":"[TG] Vectorize Contacts","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"users","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-352],"id":"4f6b6c01-383c-4837-800f-4671e6361c03","name":"Get Users","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79e8b3d9-b0d1-4837-b9c0-3b43628d6ee4","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec44bd2f-ef92-4739-ad92-206eac8e9396","leftValue":"={{ $json.access_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9df1debe-14b3-476c-92e6-06f3eb9e0d9e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"20fa9d20-abb4-44ad-86c1-3da1d45e9b8e","leftValue":"={{ $json.refresh_token_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"859e0653-6403-4471-8b4c-cf1da741265b","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b6bc3d3a-b594-49d5-8139-c0b77c4cc781","leftValue":"={{ $json.client_id_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"7f739a64-dfb4-480e-be1f-55a5b6ca32ce","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"3288274a-5dab-4106-b9b8-0cd52fbf89a3","leftValue":"={{ $json.client_secret_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-352],"id":"ed1334b5-58ea-47ed-bb27-4103b449fa9f","name":"Keep Authenticated Users"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,-352],"id":"8a302641-a244-48f8-aeea-796a26b715f6","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"uu7semjX1n1iWDt6","mode":"list","cachedResultName":"[TG] Vectorize Single User Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,-336],"id":"ea5dfe33-614c-4ec1-a8d8-4c9ef8f38289","name":"Vectorize User Contacts"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,-336],"id":"999a2d37-bceb-4dc8-b547-27d28207f053","name":"Wait 10 seconds","webhookId":"19a66f32-6da0-4bcb-81d9-1cda8ac810bc"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-352],"id":"b06a0bfe-3f3c-476f-a903-7d1cfd95801c","name":"Run Every 45 Minutes"}],"connections":{"Get Users":{"main":[[{"node":"Keep Authenticated Users","type":"main","index":0}]]},"Keep Authenticated Users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Vectorize User Contacts","type":"main","index":0}]]},"Vectorize User Contacts":{"main":[[{"node":"Wait 10 seconds","type":"main","index":0}]]},"Wait 10 seconds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Run Every 45 Minutes":{"main":[[{"node":"Get Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Run Every Week":{"recurrenceRules":[]},"node:Run Every Month":{"recurrenceRules":[]},"node:Run Every 45 Minutes":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72ec1623-661e-4925-972a-10f9cc6ceee6","triggerCount":1,"shared":[{"createdAt":"2025-07-30T17:52:15.612Z","updatedAt":"2025-07-30T17:52:15.612Z","role":"workflow:owner","workflowId":"35LtEy5AZP7vL7PP","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}