2025-06-12/🤖 Extract Name.json
{"createdAt":"2025-05-29T16:22:15.817Z","updatedAt":"2025-05-29T19:45:48.642Z","id":"8QMz7slg4GzUPTjc","name":"🤖 Extract Name","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Analyze the input email address, and try to extract the full name of the owner of the account. \n\nIf you can't, return NONE. \n            \nYou should only return the name or NONE, no other comments or remarks are allowed.\n          \n## Examples:\nINPUT: tom@jia-nomads.com\nOUTPUT: Tom\n            \nINPUT: no-reply@gmail.com\nOUTPUT: NONE\n            \nINPUT: asdf11223@outlook.com\nOUTPUT: NONE\n            \nINPUT: john.a.doe@render.com\nOUTPUT: John A. Doe","role":"system"},{"content":"={{ $json.body }}"}]},"options":{"maxTokens":64,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,260],"id":"e3802083-0c6d-4e20-ab05-3964a932172d","name":"Name Extractor","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"body"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-60,260],"id":"4d522c37-619b-4589-b53f-a6daee19e2e5","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"112fb06d-c972-4d62-bda0-f5bcfd4e4283","name":"senderName","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,260],"id":"a5f0eb20-f46f-4c13-afb6-173beb53b28f","name":"Set Response"}],"connections":{"Name Extractor":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Name Extractor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21c6750a-fabc-4b35-8686-812c666e84a4","triggerCount":0,"tags":[]}