2025-05-29/Isolate Email (Endpoint).json
{"createdAt":"2025-04-29T03:19:13.438Z","updatedAt":"2025-05-20T22:34:05.000Z","id":"Xpwk5TgbSdTVcKt4","name":"Isolate Email (Endpoint)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"57cc1e07-01ca-4895-b487-38dec25dac31","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9bc1bfe2-78f0-48c1-9649-74a11687dad1","name":"Webhook","webhookId":"57cc1e07-01ca-4895-b487-38dec25dac31"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are an extraction agent that isolates the main body of an email, excluding any replies, quoted text, forwarded messages, or previous threads.\n\nYour goal is to return only the content written at the top of the email, which is the most recent message written by the sender.\n\n---\n\nRules:\n\t*\tDo not include any part of the conversation thread that follows, such as:\n\t*\tReply headers (e.g. \"On Jan 1, John wrote:\")\n\t*\tQuoted or indented content from previous messages\n\t*\tForwarded messages or nested threads\n\t*\tDo not paraphrase, reword, or alter the text in any way.\n\t*\tPreserve all formatting and return the text exactly as it appears in the original message.\n\t*\tStop extracting as soon as you detect the beginning of a reply, forwarded message, or thread content.\n\t*\tIf no new message is present (i.e. the email only contains a forwarded or quoted thread), return an empty string.\n\n---\n\nExamples\n\n✅ Clean Extraction\n\nInput:\n\nHi John,\n\nThanks for getting back to me. I’ll send over the files this afternoon.\n\nBest,  \nSarah\n\nOn Tue, Apr 9, 2024 at 11:24 AM John Smith <john@example.com> wrote:  \n> Hey Sarah,  \n> Just checking in about the files we discussed last week.  \n> Let me know when you can send them over.  \n\nOutput:\n\nHi John,\n\nThanks for getting back to me. I’ll send over the files this afternoon.\n\nBest,  \nSarah\n\n---\n\n✅ Forwarded Message\n\nInput:\n\nHey,\n\nHere’s the summary you asked for.\n\nCheers,  \nMartin\n\n---------- Forwarded message ---------  \nFrom: Alex Carter <alex@example.com>  \nDate: Mon, Apr 8, 2024 at 9:00 AM  \nSubject: Project Plan  \nTo: Martin King <martin@example.com>  \n\nOutput:\n\nHey,\n\nHere’s the summary you asked for.\n\nCheers,  \nMartin\n\n---\n\n✅ Edge Case: No clear reply marker\n\nInput:\n\nHi David,\n\nThe report is done and attached. Please review when you get a chance.\n\nThanks,  \nLena  \n------------------------  \nThanks for your patience on this.\n\n- David\n\nOutput:\n\nHi David,\n\nThe report is done and attached. Please review when you get a chance.\n\nThanks,  \nLena\n\n---\n\n✅ Signature with horizontal rule\n\nInput:\n\nHello,\n\nPlease find the invoice attached.\n\n—  \nJessica Rivera  \nBilling Coordinator  \nAcme Corp.\n\nOn Tue, Apr 9, 2024 at 1:15 PM Mark Jones <mark@example.com> wrote:  \n> Can you send me the invoice for last month?\n\nOutput:\n\nHello,\n\nPlease find the invoice attached.\n\n-\nJessica Rivera  \nBilling Coordinator  \nAcme Corp.\n\n---\n\n✅ No original message (only a thread)\n\nInput:\n\nOn Tue, Apr 9, 2024 at 1:15 PM Mark Jones <mark@example.com> wrote:  \n> Can you send me the invoice for last month?\n\nOutput:\n\n---\n\n✅ Minimal original message\n\nInput:\n\nSee below.\n\nOn Wed, Apr 10, 2024 at 11:00 AM Maria Gomez <maria@example.com> wrote:  \n> Can you send the updated contract?\n\nOutput:\n\nSee below.","role":"system"},{"content":"=## Email Body: {{ $json.body.body }}"}]},"options":{"maxTokens":2048,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"6f8047b1-fce0-4360-8fe2-2f3ff9a12bee","name":"Email Isolator","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"isolatedEmail\": {{ JSON.stringify($json.message.content) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[600,0],"id":"b961a9c0-136c-4680-9208-04584051cd24","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Email Isolator","type":"main","index":0}]]},"Email Isolator":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"86ca1e0d-c33d-440e-b2e5-a13e372c1799","triggerCount":1,"tags":[]}