2025-05-29/Re-Extract Tasks for User on Change.json
{"createdAt":"2025-04-22T21:54:55.235Z","updatedAt":"2025-05-26T16:54:30.000Z","id":"Er3Xv8yoFLG9Qyub","name":"Re-Extract Tasks for User on Change","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"5a2964f5-f57a-46d8-a719-6dd7d0c78682","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,-220],"id":"f996d666-3994-4b26-9066-b7aabb6dd3d0","name":"Webhook","webhookId":"5a2964f5-f57a-46d8-a719-6dd7d0c78682"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54646c2b-82ff-40aa-b9fc-a96e2c967f15","leftValue":"={{ $json.body.type.toLowerCase() }}","rightValue":"=update","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,-220],"id":"0b4599d3-85a8-4e86-930e-2a907a9946ba","name":"Update?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0d4d334-f305-4418-ab3c-8278c2bd4361","leftValue":"={{ $json.body.old_record.refresh_expired }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"e8b0c9aa-1a73-493b-91bb-53474aa9807d","leftValue":"={{ $json.body.record.refresh_expired }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,-320],"id":"901c4736-783f-411a-b3d2-6211efdd7877","name":"Refreshed Token?"},{"parameters":{"method":"POST","url":"=https://utils-server-22rm.onrender.com/extract_tasks/{{ $json.body.record.id }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"since","value":"7"},{"name":"max_results","value":"500"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-220],"id":"9b87f6bc-77d6-4d6a-a85a-73886dfbd8ed","name":"Extract Tasks for User"}],"connections":{"Webhook":{"main":[[{"node":"Update?","type":"main","index":0}]]},"Update?":{"main":[[{"node":"Refreshed Token?","type":"main","index":0}],[{"node":"Extract Tasks for User","type":"main","index":0}]]},"Refreshed Token?":{"main":[[{"node":"Extract Tasks for User","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"644150e0-a6b3-4ea9-8c5a-09c8cae7f4ed","triggerCount":1,"tags":[]}