2025-08-27/Block Time (Tool).json
{"createdAt":"2025-07-03T23:00:29.812Z","updatedAt":"2025-07-07T22:56:10.512Z","id":"qGoVkhfhVEnGUURi","name":"Block Time (Tool)","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('When Executed by Another Workflow').item.json.attendees ?? []).append($json.user.email)}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.start).plus($('When Executed by Another Workflow').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,230],"id":"708b3fa7-198b-435e-97f7-256751386604","name":"Set Attendees & End Date"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('When Executed by Another Workflow').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,230],"id":"99aac5ea-811b-465c-b33f-bca6c35cb46f","name":"Create Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.calendarRequest = {\n  description: $('When Executed by Another Workflow').item.json.task.description,\n  summary: $('When Executed by Another Workflow').item.json.title || $('When Executed by Another Workflow').item.json.task.description,\n  start: {\n    dateTime: $('When Executed by Another Workflow').item.json.start,\n    timeZone: $('When Executed by Another Workflow').item.json.user.time_zone\n  },\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('When Executed by Another Workflow').item.json.user.time_zone\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      {method: \"email\", minutes: 1440},\n      {method: \"popup\", \"minutes\": 10},\n    ],\n  },\n  attendees: $json.attendees?.map(email => ({ email })) ?? []\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[740,230],"id":"7460b74f-f804-419b-a631-2a5e3727a9a9","name":"Create Event Request"},{"parameters":{"workflowInputs":{"values":[{"name":"task","type":"object"},{"name":"start"},{"name":"duration","type":"number"},{"name":"title"},{"name":"attendees","type":"array"},{"name":"accessToken"},{"name":"user","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[300,230],"id":"d52f7cb4-b1b7-48e0-a3e6-cd6c1e9bca12","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"546750b7-388c-4ea0-ad8b-10cd79f35b19","name":"message","value":"Event created successfully.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,130],"id":"0dc1c538-c97d-4bc6-98ea-623864e261e2","name":"Success Message"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,330],"id":"6695ce4d-7723-44c9-a0d0-b6c9b66b2e6d","name":"Set Failure Message"}],"connections":{"Set Attendees & End Date":{"main":[[{"node":"Create Event Request","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Success Message","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Create Event Request":{"main":[[{"node":"Create Event","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b19e6aa-d8b2-4c00-bad3-22437516a57f","triggerCount":1,"shared":[{"createdAt":"2025-07-03T23:00:29.812Z","updatedAt":"2025-07-03T23:00:29.812Z","role":"workflow:owner","workflowId":"qGoVkhfhVEnGUURi","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}