2025-09-06/🖥️ [TG] Send Telegram Message.json
{"createdAt":"2025-08-28T21:45:52.244Z","updatedAt":"2025-09-02T22:45:13.786Z","id":"kI31iVTkkY44j2Rv","name":"🖥️ [TG] Send Telegram Message","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"},{"name":"message"},{"name":"chatId"},{"name":"toolActivity","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,32],"id":"8e7df4d8-3132-4458-a814-ed5211fc1ace","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.result.date.toDateTime('s').toUTC().toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,32],"id":"fd67e208-5185-4849-9347-2d82c5028159","name":"Parse Timestamp"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1216,32],"id":"b5e51ca6-d9ce-4f94-9c6c-829eb71a2961","name":"Send AI Reply","webhookId":"77ecd802-c094-4849-a206-36d40ae8daaf","credentials":{"telegramApi":{"id":"jVBGRP26zaEzfcME","name":"Tomo DEV"}}},{"parameters":{"schema":{"__rl":true,"value":"=dev","mode":"name"},"table":{"__rl":true,"value":"telegram_messages","mode":"list","cachedResultName":"telegram_messages"},"columns":{"mappingMode":"defineBelow","value":{"telegram_date":"={{ $('Send AI Reply').item.json.result.date }}","telegram_date_utc":"={{ $json.timetampUTC }}","text":"={{ $('When Executed by Another Workflow').first().json.message }}","direction":"outbound","sender_id":"={{ $('Send AI Reply').item.json.result.from.id }}","recipient_id":"={{ $('When Executed by Another Workflow').item.json.telegramId }}","tool_activity":"={{ { toolActivity: $('When Executed by Another Workflow').item.json.toolActivity } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telegram_date","displayName":"telegram_date","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"telegram_date_utc","displayName":"telegram_date_utc","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_id","displayName":"recipient_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"attachments","displayName":"attachments","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-784,32],"id":"4f96df99-80b5-42ab-9c98-f89a1d7a89c7","name":"Save Message","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send AI Reply","type":"main","index":0}]]},"Parse Timestamp":{"main":[[{"node":"Save Message","type":"main","index":0}]]},"Send AI Reply":{"main":[[{"node":"Parse Timestamp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790","message":"Hi there! 😃 How can I assist you with your schedule or meetings today? If you need help booking, rescheduling, or finding time for anything, just let me know!","chatId":"1598386790","toolActivity":[]}}]},"versionId":"139ca41c-fe5f-4e19-a418-f0faf2710975","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:45:52.244Z","updatedAt":"2025-08-28T21:45:52.244Z","role":"workflow:owner","workflowId":"kI31iVTkkY44j2Rv","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}