2025-09-06/🖥️ [TG] Get Cached User by TelegramID.json
{"createdAt":"2025-08-28T21:53:40.868Z","updatedAt":"2025-09-02T15:37:10.166Z","id":"Cmy0W7cqK2M9OaFZ","name":"🖥️ [TG] Get Cached User by TelegramID","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId","type":"number"}]}},"id":"eae5a09a-fe5e-4061-a217-d1699ac6d32a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[304,-720]},{"parameters":{"operation":"get","propertyName":"user","key":"={{ $json.telegramId }}_USER_DEV","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[528,-720],"id":"5b40f76d-1f73-4a33-8874-413bc8c6f069","name":"Get Cached User","credentials":{"redis":{"id":"UKWNNzdg9opjGBYW","name":"Redis Cache"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f07b4a16-6b8e-4726-a150-11e59297c0b4","leftValue":"={{ $json.user }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"7d37698f-df1f-4ba9-ab0d-57fd172a7f22","leftValue":"={{ $json.user }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,-720],"id":"6a3b6c65-1114-4b4e-a14b-f3a32bcf639b","name":"Exists?"},{"parameters":{"operation":"set","key":"={{ $('Start').item.json.telegramId }}_USER_DEV","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":"={{ 1 * 24 * 60 * 60 }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,-696],"id":"dba5f31b-2e5a-433f-9d8c-1609b621db99","name":"Cache User","credentials":{"redis":{"id":"UKWNNzdg9opjGBYW","name":"Redis Cache"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1424,-624],"id":"26786338-946e-46da-9c5d-6f1976c3bf0c","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.user) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-816],"id":"227a14ba-fb66-468b-b5d0-69a0b0a4e054","name":"Set User"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"dev","mode":"list","cachedResultName":"dev"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"where":{"values":[{"column":"telegram_id","value":"={{ $('Start').item.json.telegramId.toString() }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[976,-624],"id":"9e442480-59d7-40b8-a3c0-7d319b0aa7b0","name":"Get User","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Start":{"main":[[{"node":"Get Cached User","type":"main","index":0}]]},"Get Cached User":{"main":[[{"node":"Exists?","type":"main","index":0}]]},"Exists?":{"main":[[{"node":"Set User","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}]]},"Cache User":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Cache User","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"telegramId":1598386790}}]},"versionId":"e655254c-41c7-4ae8-ae21-86b965860fb5","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:53:40.868Z","updatedAt":"2025-08-28T21:53:40.868Z","role":"workflow:owner","workflowId":"Cmy0W7cqK2M9OaFZ","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}