2025-11-25/[Slack] Find Time.json
{"updatedAt":"2025-11-23T01:50:32.232Z","createdAt":"2025-11-23T00:59:17.355Z","id":"3Dmc7uFKKHW26g1Q","name":"[Slack] Find Time","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/freeBusy","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"timeMin","value":"={{ $('When Executed by Another Workflow').item.json.from }}"},{"name":"timeMax","value":"={{ $('When Executed by Another Workflow').item.json.to }}"},{"name":"timeZone","value":"={{ $('When Executed by Another Workflow').first().json.timeZone }}"},{"name":"items","value":"={{ [{\"id\": \"primary\"}] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,520],"id":"468c7b81-88c4-4a72-9e0e-749c07432203","name":"Get Free Busy Data","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"limit","type":"number"},{"name":"from"},{"name":"to"},{"name":"timeZone"},{"name":"channel_id"},{"name":"message_ts"},{"name":"slack_user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,520],"id":"a3baea6f-d4ee-4a98-8100-d27bcae4077b","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,520],"id":"23fb3c13-91ea-46a9-a008-ce5505f02b18","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"9f092131-4eb5-4f4d-8bb5-ced3bd034685","name":"message","value":"There was an error. Try later.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,720],"id":"39567873-528d-4ad3-8270-828e96bb3bb6","name":"Set Error Message"},{"parameters":{"promptType":"define","text":"=Convert the \"start\" and \"end\" times of each element in the input array to the following time zone: {{ $('When Executed by Another Workflow').first().json.timeZone }}\n\n## Input\n{{ JSON.stringify($json.calendars.primary) }}","hasOutputParser":true,"needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[656,112],"id":"f2e1de73-eaa8-46a7-8120-ebeace285e6b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[812,544],"id":"325ee3b7-655f-4129-aae9-97f2f123cebc","name":"4.1 mini","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[752,336],"id":"171b09b3-bd7c-457b-bb30-db11c5ed1380","name":"OpenAI 4.1 mini","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"\n{\n\"primary\": \n{\n\"busy\": \n[\n{\n\"start\": \n\"2025-07-25T08:00:00+09:00\",\n\"end\": \n\"2025-07-25T09:00:00+09:00\"\n},\n{\n\"start\": \n\"2025-07-25T10:00:00+09:00\",\n\"end\": \n\"2025-07-25T12:00:00+09:00\"\n},\n{\n\"start\": \n\"2025-07-25T12:30:00+09:00\",\n\"end\": \n\"2025-07-25T13:30:00+09:00\"\n},\n{\n\"start\": \n\"2025-07-25T14:00:00+09:00\",\n\"end\": \n\"2025-07-25T16:00:00+09:00\"\n}\n]\n}\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[880,336],"id":"8f84604b-5501-4490-922b-2de80bb0f467","name":"Structured Output Parser"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.slack_user_id }}","channel_id":"={{ $json.channel_id }}","message_ts":"={{ $json.message_ts }}","text":"_Finding time... :hourglass:_"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-16,520],"id":"d2ca3ebd-1c7e-4ca9-bb34-e06a3bc2b190","name":"Call '[Slack] Edit Message'"}],"connections":{"Get Free Busy Data":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Set Error Message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Get Free Busy Data","type":"main","index":0}]]},"4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI 4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Call '[Slack] Edit Message'":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"t07ZDdtiVLduDE3RuRHGKowoSd0f","limit":10,"from":"2025-11-04T00:00:00-05:00","to":"2025-11-05T00:00:00-05:00","channel_id":"1598386790","message_ts":"4387","slack_user_id":"abc"}}]},"versionId":"ff0f8c00-2917-4804-87f0-75a4a3606c08","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T00:59:17.355Z","createdAt":"2025-11-23T00:59:17.355Z","role":"workflow:owner","workflowId":"3Dmc7uFKKHW26g1Q","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}