2025-11-25/[TG] Generate TG Sign Up Link.json
{"updatedAt":"2025-10-27T18:43:13.734Z","createdAt":"2025-08-26T22:37:53.300Z","id":"NGtEphYMxdLcbH71","name":"[TG] Generate TG Sign Up Link","active":true,"isArchived":false,"nodes":[{"parameters":{"value":"={{ JSON.stringify($json) }}","dataPropertyName":"telegram_signup_token"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-208,224],"id":"74f7df55-ac5f-4eda-8432-777ddccf917f","name":"Generate Token"},{"parameters":{"assignments":{"assignments":[{"id":"d6d44179-3294-4120-a806-9edeed86be94","name":"telegramSignUpLink","value":"=https://t.me/AskTomoBot?start={{ $json.telegram_signup_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,224],"id":"9609a3a8-c2fb-4dcf-814a-0a6db889b1f0","name":"Set Sign Up Link"},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"email","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"telegram_signup_token","fieldValue":"={{ $('Generate Token').item.json.telegram_signup_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"12a65bbb-1f57-4751-a26e-335595dbc34c","name":"Update User with TG Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"tg-sign-up","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,320],"id":"81790e2b-2ad9-4e4f-94e8-71ec50cdaf70","name":"Webhook","webhookId":"87f5b5a3-945b-48dd-8bce-c757c2f4fcfd"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"link\": \"{{ $('Set Sign Up Link').item.json.telegramSignUpLink }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[464,224],"id":"c70190b5-0b27-4a2e-8692-f58367cfab30","name":"Respond to Webhook"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,320],"id":"d3019914-874e-4daa-9abf-f2cccad4dab9","name":"Get User","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6625e9ac-e2c8-43c3-b1bb-7c1cfbbbd494","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}},{"id":"1b4c2e9a-ac72-4ee3-892c-adace3cd2862","leftValue":"={{ $json.telegram_signup_token === null || $json.telegram_signup_token === undefined || $json.telegram_signup_token.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,320],"id":"fffe0f4d-7b22-4e57-975c-282459cac975","name":"New User?","disabled":true},{"parameters":{"respondWith":"json","responseBody":"{\n  \"error\": \"User not found or already signed up.\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-208,416],"id":"36d2161a-1345-4d91-8eb7-304399c9854a","name":"Bad Request"},{"parameters":{"operation":"executeQuery","query":"SELECT public.set_telegram_signup_token('{{ $('Get User').item.json.id }}', '{{ $('Generate Token').item.json.telegram_signup_token }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,224],"id":"3345ae0b-3815-4b41-8035-96a02480e34a","name":"Set TG Sign Up Token","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Generate Token":{"main":[[{"node":"Set Sign Up Link","type":"main","index":0}]]},"Set Sign Up Link":{"main":[[{"node":"Set TG Sign Up Token","type":"main","index":0}]]},"Update User with TG Token":{"main":[[]]},"Webhook":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Get User":{"main":[[{"node":"New User?","type":"main","index":0}]]},"New User?":{"main":[[{"node":"Generate Token","type":"main","index":0}],[{"node":"Bad Request","type":"main","index":0}]]},"Set TG Sign Up Token":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"body":{"email":"jesus@datasmarts.net","user_id":"t07ZDdtiVLduDE3RuRHGKowoSd0f"}}}]},"versionId":"9888b935-8776-4967-a024-8e46dd3af169","triggerCount":1,"shared":[{"updatedAt":"2025-08-26T22:37:53.300Z","createdAt":"2025-08-26T22:37:53.300Z","role":"workflow:owner","workflowId":"NGtEphYMxdLcbH71","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}