2025-11-12/[TG] Add Missing Data to Signal Messages.json
{"updatedAt":"2025-07-30T21:16:00.462Z","createdAt":"2025-07-30T17:52:32.339Z","id":"hIATeyKm3ES458pe","name":"[TG] Add Missing Data to Signal Messages","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"getAll","tableId":"signal_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"direction","condition":"eq","keyValue":"outbound"},{"keyName":"recipient_uuid","condition":"is","keyValue":"={{ null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,-176],"id":"5d153868-adf8-4856-9ae0-7e267b8f2e90","name":"Get Outbound Messages Without Recipient UUID","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b350f632-7685-4337-a3ee-69842964341b","leftValue":"={{ $json.signal_source_uuid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec6cac67-f576-491b-b0c8-b388380cb7f0","leftValue":"={{ $json.signal_source_uuid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-176],"id":"6eaf7333-576b-4710-9fbd-7b2922397a44","name":"Does Signal UUID Exist?"},{"parameters":{"operation":"update","tableId":"signal_messages","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get Outbound Messages Without Recipient UUID').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"recipient_uuid","fieldValue":"={{ $json.signal_source_uuid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,-176],"id":"3d7a63f6-5221-428b-b07d-d28701d58fad","name":"Update Signal Message","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"signal_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"direction","condition":"eq","keyValue":"inbound"},{"keyName":"sender_phone","condition":"is","keyValue":"={{ null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,32],"id":"240b7c90-e475-4c43-a91a-d1c7c7c0935c","name":"Get Inbound Messages Without Sender Phone","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"phone_number","keyValue":"={{ $json.recipient_phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,-176],"id":"e90b3579-53b9-470d-8ee5-ea9b95cbe496","name":"Get User by Phone","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"signal_source_uuid","keyValue":"={{ $json.sender_uuid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,32],"id":"2ce32e55-7729-4c1a-b9b0-aa6b222b579d","name":"Get User by Signal UUID","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b350f632-7685-4337-a3ee-69842964341b","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ec6cac67-f576-491b-b0c8-b388380cb7f0","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,32],"id":"4399a34c-7eff-4a86-b144-4c8f00b76105","name":"Does Phone Exist?"},{"parameters":{"operation":"update","tableId":"signal_messages","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get Inbound Messages Without Sender Phone').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"sender_phone","fieldValue":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,32],"id":"20e4265d-e06f-441d-ba43-68b594278aee","name":"Update Signal_Message","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,-80],"id":"ba1174c6-8fb7-4570-b0a3-e51381fd1794","name":"Run Every 5 Minutes"}],"connections":{"Get Outbound Messages Without Recipient UUID":{"main":[[{"node":"Get User by Phone","type":"main","index":0}]]},"Does Signal UUID Exist?":{"main":[[{"node":"Update Signal Message","type":"main","index":0}]]},"Get Inbound Messages Without Sender Phone":{"main":[[{"node":"Get User by Signal UUID","type":"main","index":0}]]},"Get User by Phone":{"main":[[{"node":"Does Signal UUID Exist?","type":"main","index":0}]]},"Get User by Signal UUID":{"main":[[{"node":"Does Phone Exist?","type":"main","index":0}]]},"Does Phone Exist?":{"main":[[{"node":"Update Signal_Message","type":"main","index":0}]]},"Run Every 5 Minutes":{"main":[[{"node":"Get Outbound Messages Without Recipient UUID","type":"main","index":0},{"node":"Get Inbound Messages Without Sender Phone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Run Every 5 Minutes":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2c19806-8cb8-43dd-9d3c-3689bc975e76","triggerCount":1,"shared":[{"updatedAt":"2025-07-30T17:52:32.339Z","createdAt":"2025-07-30T17:52:32.339Z","role":"workflow:owner","workflowId":"hIATeyKm3ES458pe","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}