2025-06-20/🤖 Classify Email Relevance.json
{"createdAt":"2025-05-29T16:23:11.690Z","updatedAt":"2025-05-29T19:46:13.390Z","id":"OGlzylPN2T4ZSIbw","name":"🤖 Classify Email Relevance","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"282c26fc-1fe6-48e3-84f8-9cee3c96dbf3","leftValue":"={{ $json.isCc }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,320],"id":"552425f8-3b94-455d-9f5b-4d86383bd0f6","name":"Cc?"},{"parameters":{"assignments":{"assignments":[{"id":"b12a2b5c-c453-4b0b-af9c-17d51cef8543","name":"prompt","value":"=## Objective\n\nClassify emails as RELEVANT (require user action) or IRRELEVANT (no action needed).\n\nRELEVANT if:\n* The email explicitly mentions the recipient by name AND asks them to do something\n  (e.g., \"Jane, can you review this?\")\n  \nOR\n\n* The email clearly indicates that all recipients need to take action\n  (e.g., \"Everyone please provide feedback\")\n\nIRRELEVANT otherwise.\n\n## Response Format\n\nRespond with the following JSON:\n\n{\n  \"relevant\": <true or false>,\n  \"explanation\": \"<agent's rationale to decide the relevance of the email>\"\n}\n\n### Examples\n\nEmail: \"Hi Team, Please review the attached document by Friday. Alex and Sarah, I'd like your specific feedback on section 3.\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"The recipient is explicitly mentioned by name and asked to provide specific feedback.\"\n}\n\nEmail: \"John, please update the spreadsheet with Q3 numbers. I've included the finance team for visibility.\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"The recipients are only included for visibility, not asked to take any action.\"\n}\n\nEmail: \"All recipients: Please submit your expense reports by end of week.\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"The email explicitly requests action from all recipients.\"\n}\n\nEmail: \"The quarterly meeting is scheduled for next Monday at 10am.\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"This is an informational email with no action requested.\"\n}\n\nEmail: \"Dave, as requested I've attached the report. Mark, could you verify the numbers before Dave presents them?\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"The recipient is explicitly asked to verify something.\"\n}\n\nEmail: \"The project deadline has been extended to April 30th. Let me know if you have questions.\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"This is an informational update with no specific action required.\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,220],"id":"1be50ad3-80b5-4ce8-8289-4798d1221bf6","name":"Set 'CC' Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"1dc91561-e5ed-405f-92c6-6442384f19e9","name":"prompt","value":"=## Role\nDetermine if emails require action from the recipient (RELEVANT) or don't require specific action (IRRELEVANT).\n\n## Classification Rules\n\nCLASSIFY AS RELEVANT IF:\n- Email requires a specific action from the recipient, even in mass communications  \n- Email contains critical updates, security warnings, or error messages requiring action  \n- Email is about invoices or transactions that need review or payment  \n- Email comes from the same domain as the recipient (likely work-related)  \n- Email requests verification, confirmation, or approval  \n- Email requires a decision or response that affects the recipient  \n- Email requires reviewing or reading through information should be considered relevant AS WELL.\n\nCLASSIFY AS IRRELEVANT OTHERWISE.\n\n## Key Distinction\nThe primary factor is whether the recipient needs to take action, not whether the communication is personalized or mass-distributed. Security warnings, critical updates, and error alerts are RELEVANT even when sent to all users.\n\n## Response Format\nRespond with the following JSON:\n\n{\n  \"relevant\": <true or false>,\n  \"explanation\": \"<agent's rationale to decide the relevance of the email>\"\n}\n\n### Examples - Basic with Named Recipients\n\nEmail: \"Marisa, your monthly account statement is ready to view\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"Despite addressing Marisa by name, this is merely a notification that something is available. No specific action is required, and viewing the statement is optional.\"\n}\n\nEmail: \"Ken, can you review the budget proposal by Thursday and provide feedback?\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"This directly requests Ken to complete a specific task (reviewing and providing feedback) by a deadline. It requires his personal attention and response.\"\n}\n\nEmail: \"Geoff, thank you for your recent purchase. Your order has been confirmed.\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"This is just a confirmation notification to Geoff. No action is required from him.\"\n}\n\n### Examples - Basic without Named Recipients\n\nEmail: \"WARNING! To all customers: UPGRADE TO THE LATEST VERSION to avoid hacking.\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"Despite being a mass communication with no personal address, this email requires a specific security action (upgrading) from all recipients to protect their accounts.\"\n}\n\nEmail: \"Your monthly account statement is ready to view\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"This is merely a notification that something is available. No specific action is required, and viewing the statement is optional.\"\n}\n\nEmail: \"Please confirm your attendance at tomorrow's meeting by responding to this email\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"This requires a specific response action from the recipient, making it relevant.\"\n}\n\n### Examples - Complex with Named Recipients\n\nEmail:\n\"Dear Geoff, I hope this email finds you well. I wanted to share some updates about the company's recent achievements in Q3. Our team has exceeded targets by 15%, and the marketing campaign we launched last month has received positive feedback from clients. We've also been featured in Industry Weekly magazine! Speaking of which, the editorial team mentioned they'd like to interview a few team members for an upcoming feature. Could you please let me know by Friday if you're interested in participating? They need 2-3 people with technical backgrounds. The photos from the company retreat are now available on the shared drive. Have a great week ahead!\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"While most of this email contains general updates for Geoff, it includes a specific request for him to respond by Friday about his interest in the interview. This requires a decision and response, making it relevant despite being buried in other content.\"\n}\n\nEmail:\n\"Hi Ken, I'm reaching out with our monthly newsletter. This edition covers recent market trends, industry news, and highlights from our research team. We've included an article featuring your department's work on Project Falcon - great job on that! Also included are upcoming webinar schedules, new resources available in our knowledge base, and profiles of new team members who joined this month. The IT department has announced routine server maintenance this weekend, but no action is needed from your end as this will happen outside business hours. As always, you can access archived newsletters through our portal. Best regards, Communications Team\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"Despite mentioning Ken by name and his department's work, this is purely a newsletter with information. The email explicitly states 'no action is needed' regarding the only operational update mentioned (server maintenance). All content is FYI only.\"\n}\n\nEmail:\n\"Marisa, I hope your week is going well. I'm writing to provide a comprehensive update on the Henderson account. They've been with us for five years now, and we recently completed their annual service review. The client satisfaction scores came in at 92%, which is excellent. Their usage analytics show increased engagement with our platform, particularly with the new features we rolled out in June. Their contract is set to auto-renew next quarter, so no immediate action needed there. The support tickets from their team have decreased by 30% since last year. I've attached the full analytics report for your records. By the way, they mentioned they're expanding to the European market next year and will need additional support. Could you please schedule a strategy meeting for us to discuss how we'll handle their expansion requirements? Ideally sometime in the next two weeks. Thanks!\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"Although most of this email provides account updates requiring no action, it contains a specific request for Marisa to schedule a strategy meeting within a timeframe (next two weeks). This actionable request makes the entire email relevant, as Marisa needs to respond to or complete this task.\"\n}\n\n### Examples - Complex without Named Recipients\n\nEmail:\n\"Welcome to our monthly newsletter. This edition covers recent market trends, industry news, and highlights from our research team. We've included an article featuring your department's work on Project Falcon - great job on that! Also included are upcoming webinar schedules, new resources available in our knowledge base, and profiles of new team members who joined this month. The IT department has announced routine server maintenance this weekend, but no action is needed from your end as this will happen outside business hours. As always, you can access archived newsletters through our portal. Best regards, Communications Team\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"Despite mentioning the recipient's department, this is purely a newsletter with information. The email explicitly states 'no action is needed' regarding the only operational update mentioned.\"\n}\n\nEmail:\n\"Thank you for being a valued customer for 3 years! We wanted to personally update you on several exciting changes to our platform. We've redesigned our user interface based on feedback from customers like you, improved our backend performance by 40%, and added 15 new integration options with popular tools. Your account has been automatically upgraded to access these features at no additional cost. We've also expanded our support hours and added weekend coverage. Our blog has new articles about making the most of these features, and our YouTube channel now includes detailed tutorials. As a loyal customer, we've added a complimentary report to your dashboard that analyzes your usage patterns and offers personalization suggestions. We hope you enjoy these improvements and would love to hear your thoughts in our upcoming customer satisfaction survey (participation optional). Warm regards, The Product Team\"\n\n{\n  \"relevant\": false,\n  \"explanation\": \"Despite personalization throughout, this email is purely informational about platform updates and new features. All changes mentioned have been automatically applied, and even the survey is explicitly marked as 'optional.' Nothing requires specific action.\"\n}\n\nEmail:\n\"It's been an exciting quarter for our industry with many regulatory changes and market shifts. As you may have seen in the news, the recent legislation has created new compliance requirements that will take effect next year. We've prepared a detailed analysis of these changes in our quarterly industry report, which is attached for your reference. Our research team has also compiled case studies from similar organizations navigating these changes. As a reminder, our annual client conference is happening next month, and early bird registration ends this week. On an unrelated note, we've detected that your account access credentials for our client portal will expire in 7 days. Please update your password before then to maintain uninterrupted access to your account and important documents. If you have any questions about the report or need assistance with your account, our support team is available to help.\"\n\n{\n  \"relevant\": true,\n  \"explanation\": \"While most of this email provides industry information and general reminders, it contains a critical security alert about account credentials expiring in 7 days. This requires specific action (updating the password) before a deadline to prevent access issues. This action requirement makes the email relevant despite being largely informational otherwise.\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,420],"id":"336687ac-c9f3-4882-af76-88711ba9c936","name":"Set Prompt"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"={{ $json.prompt }}","role":"system"},{"content":"=## Sender: {{ $('When Executed by Another Workflow').item.json.sender }}\n\n## Recipient email: {{  $('When Executed by Another Workflow').item.json.recipient }}\n\n## Recipient name: {{  $('When Executed by Another Workflow').item.json.recipientName }}\n\n## Body: {{  $('When Executed by Another Workflow').item.json.body }}"}]},"jsonOutput":true,"options":{"maxTokens":256,"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[580,320],"id":"4c19c7d8-c79b-4587-8a98-ac09c7d2fe6b","name":"Classify","retryOnFail":true,"waitBetweenTries":2000,"maxTries":5,"credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[680,540],"id":"be479220-09be-49fa-ad3b-e4d89aea354e","name":"Think"},{"parameters":{"workflowInputs":{"values":[{"name":"isCc","type":"boolean"},{"name":"sender"},{"name":"recipient"},{"name":"recipientName"},{"name":"body"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,320],"id":"cd77bfe0-3d6d-4ca7-808c-63c2e47542e8","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"757c230a-cade-4f87-8ff2-44dcdf966903","name":"relevant","value":"={{ $json.message.content.relevant }}","type":"boolean"},{"id":"903b4c2d-803f-4923-82bb-742d93eaec9c","name":"explanation","value":"={{ $json.message.content.explanation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,320],"id":"393fd459-6928-4f92-b8f9-930dfa86f063","name":"Set Response"}],"connections":{"Cc?":{"main":[[{"node":"Set 'CC' Prompt","type":"main","index":0}],[{"node":"Set Prompt","type":"main","index":0}]]},"Set 'CC' Prompt":{"main":[[{"node":"Classify","type":"main","index":0}]]},"Set Prompt":{"main":[[{"node":"Classify","type":"main","index":0}]]},"Classify":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Classify","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Cc?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b4fe34f-e054-4b0b-b665-681fdb36d34b","triggerCount":0,"tags":[]}