2025-05-28/Find Date Range (Endpoint).json
{"createdAt":"2025-04-29T03:25:07.193Z","updatedAt":"2025-05-05T13:55:37.000Z","id":"ppLF7grBLw1KPAhG","name":"Find Date Range (Endpoint)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b2675552-0b72-4b2f-9ff7-4655fb70e2cc","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"81749d0c-ff41-4239-9849-995c4e1a94e5","name":"Webhook","webhookId":"b2675552-0b72-4b2f-9ff7-4655fb70e2cc"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are an expert assistant in scheduling meetings. You will be given:\n\nThe current date (i.e., \"today's date\").\nThe recipient's time zone.\nThe text of an email thread or meeting request.\n\nYour task is to:\n\n* Extract potential date/time ranges from the email content, interpreting them in the recipient's time zone.\n* If multiple date/time ranges are suggested, pick the earliest one.\n* If the email is vague and says, for example, \"anytime next week,\" assume Monday of the upcoming week (in the recipient's time zone).\n* If no explicit or implicit time range is found, default to tomorrow from 9 AM to 6 PM in the recipient's time zone.\n* The default duration is 60 minutes, unless explicitly stated otherwise in the email body.\n* Output only a valid JSON object with the following format:\n\n{\n  \"start\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"end\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n  \"duration\": number_of_minutes\n}\n\nWhere:\n\n* \"start\" is the chosen meeting start time in ISO 8601 format (with the local time offset).\n* \"end\" is the chosen meeting end time in ISO 8601 format (with the local time offset).\n* \"duration\" is the integer representing how many minutes the meeting should last.\n\n## Important details and clarifications:\n\n* Convert all times to the recipient's time zone (e.g., Australia/Sydney).\n* \"Today's date\" is provided so you can interpret references like \"tomorrow,\" \"next week,\" etc.\n* If a partial time range is given (e.g., \"morning,\" \"afternoon,\" \"evening\"), you should do your best to pick a standard assumption (e.g., morning could be 10 AM, afternoon could be 2 PM, evening could be 6 PM, etc.)—whatever best fits the schedule constraints.\n* If the email says something like \"Tuesday evening or Wednesday morning,\" choose the earliest possible time in the future (Tuesday evening in this example).\n* If you cannot confidently extract a time range from the text, default to tomorrow from 9 AM to 6 PM.\n* If there is a mention of duration in the email (e.g., \"a 90-minute call\"), adjust the duration accordingly.\n* Only return a JSON object with keys start, end, and duration; do not add or modify any other fields in the output.\n\n## Additional instructions to ensure the user's local timezone is always returned:\n\n1. Always interpret all dates and times in the user’s specified time zone.\n2. When returning the final JSON object, make sure the \"start\" and \"end\" fields include the correct offset for the user’s time zone in ISO 8601 format.\n3. If no user time zone is specified, default to a known or requested time zone (e.g., UTC).\n4. Never alter or ignore the user-provided time zone—use it verbatim and keep it consistent throughout the response.","role":"system"},{"content":"=Today's date: 2025-01-22\nTime zone: Australia/Sydney\nEmail body: Are you free tomorrow at 10 AM? I only need 30 minutes."},{"content":"{\"start\": \"2025-01-23T10:00:00+11:00\", \"end\": \"2025-01-23T10:30:00+11:00\", \"duration\": 30}","role":"assistant"},{"content":"Today's date: 2025-01-25\nTime zone: Australia/Sydney\nEmail body: We could meet next Tuesday or next Thursday, 1 hour each, whichever is earlier."},{"content":"{\"start\": \"2025-01-28T09:00:00+11:00\", \"end\": \"2025-01-28T10:00:00+11:00\", \"duration\": 60}","role":"assistant"},{"content":"Today's date: 2025-01-22\nTime zone: Australia/Sydney\nEmail body: Hey, let's meet sometime next week. I have plenty of availability—any day works. \nI think 30 minutes should be enough."},{"content":"{\"start\": \"2025-01-27T09:00:00+11:00\",\"end\": \"2025-01-27T09:30:00+11:00\", \"duration\": 30}","role":"assistant"},{"content":"Today's date: 2025-01-23\nTime zone: Australia/Sydney\nEmail body: I'm not sure when we can meet, but let's try something soon."},{"content":"{\"start\": \"2025-01-24T09:00:00+11:00\",\"end\": \"2025-01-24T10:00:00+11:00\",\"duration\": 60}","role":"assistant"},{"content":"=Today's date: {{ $('Webhook').item.json.body.today }}\n\nTime zone: {{ $('Webhook').item.json.body.timeZone }}\n\nEmail Body: {{ $('Webhook').item.json.body.body }}"}]},"jsonOutput":true,"options":{"maxTokens":512,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,0],"id":"b0e63b55-a3ad-46f9-9c44-50adbc34d849","name":"Date Range Finder","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.message.content) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[580,0],"id":"78485d33-3736-430d-92e2-a0bf7cf338e9","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Date Range Finder","type":"main","index":0}]]},"Date Range Finder":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"c1c7c230-9d1c-4032-9567-a317b6513e99","triggerCount":1,"tags":[]}