2025-05-28/Send Draft Response.json
{"createdAt":"2025-05-14T22:02:59.699Z","updatedAt":"2025-05-26T00:30:11.000Z","id":"PQmsSuWLBH4biAuh","name":"Send Draft Response","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send-draft","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"07b8e44d-ea9f-4c1c-b50a-b8b21502f6f3","name":"Webhook","webhookId":"b3105595-addd-48cf-8689-dbebd18a4584","credentials":{"httpHeaderAuth":{"id":"e8oHO2aCQwMUV1sJ","name":"Authorization Header Auth"}}},{"parameters":{"operation":"get","tableId":"tasks","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.taskId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"4ba02f5f-58f7-44e6-bb8d-176cb8d210c7","name":"Get Task","credentials":{"supabaseApi":{"id":"4EHtJhQUmG6XN1Mw","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ar1V7OobX3sauykf","mode":"list","cachedResultName":"Get Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.user_id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[440,0],"id":"c844d20c-a16d-4e7b-a95a-0640f3a960a8","name":"Get Token & User"},{"parameters":{"operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Get Task').item.json.extracted_from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[660,0],"id":"c47511b4-654a-42e1-ae30-af5d55f8a293","name":"Get Email","credentials":{"supabaseApi":{"id":"4EHtJhQUmG6XN1Mw","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"32827dc5-13e3-4920-b4e2-d9211af77334","name":"to","value":"={{ ( ($('Webhook').item.json.emaillist ?? []).concat([$json.sender_email]) ).unique() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"1624311b-e498-41a5-a95d-0c0aa47176aa","name":"Set Recipients"},{"parameters":{"assignments":{"assignments":[{"id":"5b0eb5a8-72e1-4902-b5eb-aa412370d994","name":"content","value":"=To: {{ $json.to.join(\",\") }}\nFrom: {{ $('Get Token & User').item.json.user.email }}\nSubject: Re: {{ $('Get Email').item.json.subject }}\nContent-Type: text/plain; charset=\"\"UTF-8\"\"\n\n{{ $('Get Task').item.json.draft_response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,0],"id":"65e5c0c8-b73a-4802-a959-c62d27d0a0a5","name":"Set Email Content"},{"parameters":{"method":"POST","url":"https://gmail.googleapis.com/gmail/v1/users/me/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get Token & User').item.json.accessToken }}"},{"name":"raw","value":"={{ $json.base64 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,0],"id":"402346cc-0a1c-4030-8e3a-6114a9402f16","name":"Send Email"},{"parameters":{"respondWith":"json","responseBody":"{\"message\": \"Email sent successfully\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1760,0],"id":"49d22508-86d9-4f51-8c01-3023822eff2d","name":"Respond to Webhook"},{"parameters":{"jsCode":"const base64 = Buffer.from($input.first().json.content).toString('base64');\nreturn {json: {base64} };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,0],"id":"317820b0-3bde-4b19-ad15-ee0cf2eb7abd","name":"Compute Base64"}],"connections":{"Webhook":{"main":[[{"node":"Get Task","type":"main","index":0}]]},"Get Task":{"main":[[{"node":"Get Token & User","type":"main","index":0}]]},"Get Token & User":{"main":[[{"node":"Get Email","type":"main","index":0}]]},"Get Email":{"main":[[{"node":"Set Recipients","type":"main","index":0}]]},"Set Recipients":{"main":[[{"node":"Set Email Content","type":"main","index":0}]]},"Set Email Content":{"main":[[{"node":"Compute Base64","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Compute Base64":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2af9fb4-f867-4a7d-a3a3-335f41a1de1f","triggerCount":1,"tags":[]}