2025-10-09/1.5 Extract tasks for single user.json
{"createdAt":"2025-05-29T16:25:10.273Z","updatedAt":"2025-05-29T19:49:05.242Z","id":"Mj4RxNBaTdIesZPt","name":"1.5 Extract tasks for single user","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,40],"id":"873119ff-e03f-4ba2-b3b1-bfda5d748f60","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"rzWrvWkl4FPQEOeD","mode":"list","cachedResultName":"2. Extract Tasks from Email"},"workflowInputs":{"mappingMode":"defineBelow","value":{"emailId":"={{ $json.id }}","userId":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"emailId","displayName":"emailId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[140,60],"id":"84f3cc7b-3427-474a-a8d3-7174176b7a3f","name":"Extract Tasks from Email","onError":"continueRegularOutput"},{"parameters":{"batchSize":10,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-180,40],"id":"17649ded-a7db-4424-bcfe-0609608cf6d7","name":"Loop over Emails"},{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"messages","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-620,40],"id":"3fc8f7ff-8b08-408a-8a00-87bae9ce5112","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"943c400a-cb88-4a5b-b385-a5bb923356dc","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-160],"id":"f5b67b40-b2d5-43c9-ae3d-50b62cf0bab3","name":"Set Success","executeOnce":true}],"connections":{"Split Out":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Extract Tasks from Email":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Loop over Emails":{"main":[[{"node":"Set Success","type":"main","index":0}],[{"node":"Extract Tasks from Email","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":null,"pinData":{},"versionId":"ac1e295a-16fb-4d6f-b6f9-592db4f8f95d","triggerCount":0,"shared":[{"createdAt":"2025-05-29T16:25:10.273Z","updatedAt":"2025-05-29T16:25:10.273Z","role":"workflow:owner","workflowId":"Mj4RxNBaTdIesZPt","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}