2025-10-09/🖥️ [TG] Get Cached Time Zone.json
{"createdAt":"2025-08-28T21:47:44.283Z","updatedAt":"2025-10-09T20:09:52.135Z","id":"9jeZuQfIDYEe9f5u","name":"🖥️ [TG] Get Cached Time Zone","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"},{"name":"userId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-144],"id":"37a82f6d-9b3e-4d5e-a9e4-7f81d78047d4","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"DHcoEXUvqWWKxbZD","mode":"list","cachedResultUrl":"/workflow/DHcoEXUvqWWKxbZD","cachedResultName":"🖥️ [TG] Get Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').first().json.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-64,-144],"id":"d2bfb287-b0a5-4c71-afba-27bb71403fba","name":"Compute Time Zone"},{"parameters":{"assignments":{"assignments":[{"id":"29ad7c76-3dcb-4e2b-9f4f-3d52f99bb65b","name":"timeZone","value":"={{ $json.time_zone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-144],"id":"101277fc-c017-4450-ba68-10259f86afc9","name":"Unify Time Zone"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Compute Time Zone","type":"main","index":0}]]},"Compute Time Zone":{"main":[[{"node":"Unify Time Zone","type":"main","index":0}]]},"Unify Time Zone":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790","userId":"d24503d6-48da-4af1-8599-177cd8501341"}}]},"versionId":"5feec72a-6f67-43b2-a525-82623fbc534e","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:47:44.283Z","updatedAt":"2025-08-28T21:47:44.283Z","role":"workflow:owner","workflowId":"9jeZuQfIDYEe9f5u","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}