2025-06-29/Delete Old Executions.json
{"createdAt":"2025-06-03T14:22:41.502Z","updatedAt":"2025-06-03T14:33:08.138Z","id":"g4dUW6YdtvafoqXj","name":"Delete Old Executions","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"executionId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[340,135],"id":"c82a222a-fb9f-4e81-95aa-81f67e01d7fb","name":"When Executed by Another Workflow"},{"parameters":{"batchSize":50,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[780,-125],"id":"773a3fde-0286-4d04-886b-106026150b9a","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"g4dUW6YdtvafoqXj","mode":"list","cachedResultName":"Delete Old Executions"},"workflowInputs":{"mappingMode":"defineBelow","value":{"executionId":"={{ $json.id }}"},"matchingColumns":["executionId"],"schema":[{"id":"executionId","displayName":"executionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,-125],"id":"96ce67ee-eb0e-4a9d-8f52-c0bdb313d1f6","name":"Delete Old Execs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89f10-8567-4a6d-9aaf-3ab2ffb56c45","leftValue":"={{ $json.finished }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1000,-200],"id":"fb07c4ea-9d03-4bde-be20-d09dbcdbfc8d","name":"Filter"},{"parameters":{"rule":{"interval":[{"daysInterval":7,"triggerAtHour":3,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[340,-125],"id":"cdd38184-45c1-42fb-9a78-4d2c87a76ee3","name":"Schedule Trigger1"},{"parameters":{"resource":"execution","returnAll":true,"filters":{},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[560,-125],"id":"b6fa7c2c-5af9-4d19-9bfb-b43851b5716a","name":"Get Executions","executeOnce":true,"credentials":{"n8nApi":{"id":"6d1NXLwgbMyrWTUw","name":"n8n account"}}},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json.executionId }}","requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[560,135],"id":"a6d5b37f-8f2e-45a5-8bd9-0db9b77fcc70","name":"Delete Executions","credentials":{"n8nApi":{"id":"6d1NXLwgbMyrWTUw","name":"n8n account"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Delete Executions","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filter","type":"main","index":0}]]},"Delete Old Execs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Delete Old Execs","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Executions","type":"main","index":0}]]},"Get Executions":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[176]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45f55173-83d1-494d-8c77-50c849ba1dd1","triggerCount":1,"tags":[]}