2025-11-05/🖥️ [TG] Internal Sign Up.json
{"updatedAt":"2025-08-28T21:49:13.128Z","createdAt":"2025-08-28T21:39:26.090Z","id":"urmJHC4TPADs0QVs","name":"🖥️ [TG] Internal Sign Up","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Telegram Sign Up","formFields":{"values":[{"fieldLabel":"Email","fieldType":"email","placeholder":"abc@gmail.com","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false},"path":"fd65d8fa-019c-4f3a-9af2-b7e9664fe850"},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"800faa45-be36-40c3-8655-c9c50f08ec43","name":"On form submission","webhookId":"fd65d8fa-019c-4f3a-9af2-b7e9664fe850"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"email","keyValue":"={{ $json.Email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"0fb960a0-0342-4938-a269-6c0d0fba1e7c","name":"Get a row","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"value":"={{ $json.email }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[416,0],"id":"304b3d8c-e20b-4b7f-b6fe-bf62d34f7746","name":"Crypto"},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"email","condition":"eq","keyValue":"={{ $json.email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"telegram_signup_token","fieldValue":"={{ $json.data }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,0],"id":"781df1d2-2f4b-4b19-92fa-cd7ec5ae8a34","name":"Update a row","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"completion","completionTitle":"Use This Link To SignUp to Tomo","completionMessage":"=Telegram SignUp Link: https://t.me/TomoDevBot?start={{ $json.telegram_signup_token }}","options":{},"path":"e6157c6b-1235-440e-873c-ecaa3d59837e"},"type":"n8n-nodes-base.form","typeVersion":1,"position":[832,0],"id":"7c1a6d14-34d0-4c35-ae2b-ba9f4bed74a2","name":"Form","webhookId":"e6157c6b-1235-440e-873c-ecaa3d59837e"}],"connections":{"On form submission":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5131b440-bc98-44b7-8f23-aa1cd85340da","triggerCount":1,"shared":[{"updatedAt":"2025-08-28T21:39:26.090Z","createdAt":"2025-08-28T21:39:26.090Z","role":"workflow:owner","workflowId":"urmJHC4TPADs0QVs","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}