2025-05-25/Create Extended Task Description (Endpoint).json
{"createdAt":"2025-04-29T03:08:46.189Z","updatedAt":"2025-05-05T13:55:44.000Z","id":"HwHOcKAbusHUjYWC","name":"Create Extended Task Description (Endpoint)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f58ec855-af5f-456f-9064-476826761109","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,0],"id":"3de0da9b-bb9e-41e5-8aec-0ef851cca58d","name":"Webhook","webhookId":"f58ec855-af5f-456f-9064-476826761109"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"description\": {{ JSON.stringify($json.message.content) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[316,0],"id":"b7b7d3f8-7c2b-4d82-a482-cb0f2b5c2c4b","name":"Respond to Webhook"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=## Role\nYour role is to generate a clear, detailed, and actionable task description based on information extracted from an email. Your output should maintain clarity while ensuring completeness and professionalism.\n\n\n## Input:\n\nYou will receive the following details:\n\t*\tTask Description: A brief summary of the task extracted from the email.\n\t*\tEmail Body: The full content of the email where the task was identified.\n\t*\tEmail Thread Summary: A summary of the conversation leading to the current email.\n\t*\tDue Date: The deadline for the task (if available).\n\t*\tEmail Subject: The subject line of the email.\n\t*\tPriority: The urgency or importance of the task.\n\t*   Sender Name: Name of the sender.\n\t*   Sender Email: Sender email.\n\t*   Recipient Name: Name of the recipient\n\t*   Recipient Email: Recipient email.\n\n## Instructions:\n\nExpand the given Task Description by incorporating relevant context from the Email Body and Email Thread Summary to create a well-defined task. Your response should:\n\t1.\tClarify the Task Scope: Ensure the task is explicit, specifying what needs to be done, by whom, and any key details missing from the original description.\n\t2.\tIncorporate Context: If necessary, use relevant information from the email body and thread to provide additional instructions, references, or background.\n\t3.\tMaintain Clarity & Actionability: The output should be precise, structured, and easy to understand. If applicable, include steps or dependencies.\n\t4.\tReflect Priority & Deadline: If the task has a due date or priority level, ensure that urgency is properly communicated.\n\t5.\tPreserve Professionalism: The output should maintain a professional and neutral tone suitable for business communication.\n\t6.  Be Concise: Keep the response short and focused on the task at hand. No more than two sentences or 50 words.\n\n## Example Input & Output:\n\n### Input:\n\t*\tTask Description: \"Prepare a draft response to the client's inquiry.\"\n\t*\tEmail Body: \"Hey John, can you draft a response to the client about their concerns regarding the contract terms? They're particularly worried about the penalty clauses. Let's send them something by Thursday at the latest.\"\n\t*\tEmail Thread Summary: \"Client asked about penalty clauses in the contract. The team discussed internally, and [Sender] suggested sending a response addressing concerns.\"\n\t*\tDue Date: Thursday\n\t*\tEmail Subject: \"Client Concerns – Contract Terms\"\n\t*\tPriority: High\n    *   Sender Name: Martha Smith.\n\t*   Sender Email: martha@workforce.ai\n\t*   Recipient Name: John Adams\n\t*   Recipient Email: john.a@workspace.com\n\n\n### Output:\nDraft a clear, professional response addressing the client's concerns about penalty clauses, clarifying their purpose, reassuring compliance with company policies, and submit for internal review before client delivery. This high-priority task is due Thursday.","role":"system"},{"content":"=## Email Subject: {{ $('Webhook').item.json.body.subject }}\n\n## Email Body: {{ $('Webhook').item.json.body.body }}\n\n## Thread Summary: {{ $('Webhook').item.json.body.threadSummary }}\n\n## Task Description: {{ $('Webhook').item.json.body.taskDescription }}\n\n## Due Date: {{ $('Webhook').item.json.body.dueDate }}\n\n## Priority: {{ $('Webhook').item.json.body.priority }}\n\n## Sender Name: {{ $('Webhook').item.json.body.senderName}}\n\n## Sender Email: {{ $('Webhook').item.json.body.senderEmail }}\n\n## Recipient Name: {{ $('Webhook').item.json.body.recipientName }}\n\n## Recipient Email: {{ $('Webhook').item.json.body.recipientEmail }}\n"}]},"options":{"maxTokens":256,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-60,0],"id":"3a36f412-5051-473a-a351-73487ccfce15","name":"Task Descriptor","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"Task Descriptor","type":"main","index":0}]]},"Task Descriptor":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5be6a8b-40d4-4962-b979-6a73799e4ac1","triggerCount":1,"tags":[]}