2026-01-05/!!! [TOMO] Google Places Search API.json
{"updatedAt":"2026-01-05T18:03:49.114Z","createdAt":"2026-01-05T17:51:09.644Z","id":"w7yoyFcnYU6KTHrFtsKse","name":"!!! [TOMO] Google Places Search API","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.photos,places.rating,places.googleMapsUri,places.websiteUri"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('When Executed by Another Workflow').item.json.query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-64],"id":"47b1568e-8205-49a4-ba7e-d4ed07ca49f9","name":"Search Places","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-864,-64],"id":"aa2ca67d-422a-48de-b020-989e3e0326ba","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,-160],"id":"66a7afd5-c892-4214-9edf-c441f509b6cd","name":"Split Out"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[256,-160],"id":"90482387-21e1-454b-b580-4f622bd9a382","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"4c47c47f-daf9-401c-9148-42e5e00bdcf9","name":"response","value":"={{ $json.concatenated_message_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,-160],"id":"8250ced6-f999-4d32-aeae-f80cc6c3d6e7","name":"Set Successful Response","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"6587096c-e9d7-498e-a8f9-374befde1b85","name":"response","value":"There was a problem searching for places.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,32],"id":"29bb053f-bfa1-4e7e-89bd-d597e8ae4875","name":"Set Error Response"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.text","separateBy":"other","customSeparator":"\\n---\\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1376,-160],"id":"a0f21798-b878-47c9-a6ab-4dd4fae5225f","name":"Concatenate Options"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b436d84-0f54-49c9-a0ef-ca5f9d07a4c4","leftValue":"={{ $json.rating }}","rightValue":4.5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-192,-160],"id":"bc95ac77-2dbd-4ac4-9c56-1ed765c241c0","name":"Filter"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[32,-160],"id":"80d620d8-6493-4ae0-a48a-3f591538728c","name":"Randomize"},{"parameters":{"assignments":{"assignments":[{"id":"2bc3e4f7-6d56-495c-addb-2fcd8543c051","name":"=caption","value":"=Option #{{ $itemIndex + 1 }}: *{{$('Limit').item.json.displayName.text}}*  \n\nLink: {{$('Limit').item.json.googleMapsUri}} \nRating: {{ $('Limit').item.json.rating }} \nAddress: {{ $('Limit').item.json.formattedAddress }}\n\nhttps://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/{{ $json.Key }}","type":"string"},{"id":"ca1a3a8e-35a5-4780-9715-58dfac511b4c","name":"tomoWhatsAppId","value":"15551366684","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-160],"id":"66701205-cc77-455e-9500-88979a91319e","name":"Set Params"},{"parameters":{"workflowId":{"__rl":true,"value":"dl7Ouu4fFql85VAB","mode":"list","cachedResultUrl":"/workflow/dl7Ouu4fFql85VAB","cachedResultName":"[Slack] Send Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.caption }}","slack_user_id":"={{ $('When Executed by Another Workflow').item.json.slack_user_id }}","save":true},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"save","displayName":"save","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1152,-160],"id":"e84e74fd-e94a-4729-8dcf-e1390464a799","name":"Call '[Slack] Send Message'"},{"parameters":{"url":"=https://places.googleapis.com/v1/{{ $('Limit').item.json.photos[0].name }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"maxHeightPx","value":"1600"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-160],"id":"016c03a8-e72a-400d-afb4-b75ecfa101d4","name":"Download Image","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/tomo_assets/{{$now.toMillis()}}_{{$binary.data.fileName.replaceAll(\" \", \"_\") }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"={{ $binary.data.mimeType }}"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-160],"id":"c56c49e8-4033-4b42-9323-0117ae7b0c5f","name":"Upload Image to Supabase Storage","retryOnFail":true,"credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}}],"connections":{"Search Places":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Set Error Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Search Places","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Concatenate Options":{"main":[[{"node":"Set Successful Response","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Randomize","type":"main","index":0}]]},"Randomize":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Set Params":{"main":[[{"node":"Call '[Slack] Send Message'","type":"main","index":0}]]},"Call '[Slack] Send Message'":{"main":[[{"node":"Concatenate Options","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload Image to Supabase Storage","type":"main","index":0}]]},"Upload Image to Supabase Storage":{"main":[[{"node":"Set Params","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"query":"cool restaurants in Usaquén, Bogotá","slack_user_id":"U07U3MJ9SQY","channel_id":"1598386790","message_ts":"4387"}}],"Call '[Slack] Send Message'":[{"json":{"ok":true,"channel":"D09TR7U4DBL","ts":"1763865700.330449","message":{"user":"U09U4508SFK","type":"message","ts":"1763865700.330449","bot_id":"B09TR7TTPM0","app_id":"A09U4GD1064","text":"Option #1: *Lounge de Andrei*  \n\nLink: <https://maps.google.com/?cid=3261129308049135596&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA> \nRating: 4.6 \nAddress: Cra. 6 #116-78, Bogotá, Colombia\n\n<https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865598992_unnamed.jpg>","team":"T02Q7P07G91","bot_profile":{"id":"B09TR7TTPM0","app_id":"A09U4GD1064","user_id":"U09U4508SFK","name":"Ask Tomo","icons":{"image_36":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_36.png","image_48":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_48.png","image_72":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_72.png"},"deleted":false,"updated":1763484497,"team_id":"T02Q7P07G91"},"blocks":[{"type":"rich_text","block_id":"y2RK","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Option #1: "},{"type":"text","text":"Lounge de Andrei","style":{"bold":true}},{"type":"text","text":"  \n\nLink: "},{"type":"link","url":"https://maps.google.com/?cid=3261129308049135596&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA","text":"https://maps.google.com/?cid=3261129308049135596&g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA"},{"type":"text","text":" \nRating: 4.6 \nAddress: Cra. 6 #116-78, Bogotá, Colombia\n\n"},{"type":"link","url":"https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865598992_unnamed.jpg"}]}]}],"language":{"locale":"en","is_reliable":true}},"warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}},{"json":{"ok":true,"channel":"D09TR7U4DBL","ts":"1763865700.312589","message":{"user":"U09U4508SFK","type":"message","ts":"1763865700.312589","bot_id":"B09TR7TTPM0","app_id":"A09U4GD1064","text":"Option #2: *Tasca La Puerta de Alcalá*  \n\nLink: <https://maps.google.com/?cid=1181418280884942830&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA> \nRating: 4.7 \nAddress: Cl. 118 #5-13, Bogotá, Colombia\n\n<https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865599102_ticr_0_0> (4).jpg","team":"T02Q7P07G91","bot_profile":{"id":"B09TR7TTPM0","app_id":"A09U4GD1064","user_id":"U09U4508SFK","name":"Ask Tomo","icons":{"image_36":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_36.png","image_48":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_48.png","image_72":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_72.png"},"deleted":false,"updated":1763484497,"team_id":"T02Q7P07G91"},"blocks":[{"type":"rich_text","block_id":"fQ/","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Option #2: "},{"type":"text","text":"Tasca La Puerta de Alcalá","style":{"bold":true}},{"type":"text","text":"  \n\nLink: "},{"type":"link","url":"https://maps.google.com/?cid=1181418280884942830&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA","text":"https://maps.google.com/?cid=1181418280884942830&g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA"},{"type":"text","text":" \nRating: 4.7 \nAddress: Cl. 118 #5-13, Bogotá, Colombia\n\n"},{"type":"link","url":"https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865599102_ticr_0_0"},{"type":"text","text":" (4).jpg"}]}]}],"language":{"locale":"en","is_reliable":true}},"warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}},{"json":{"ok":true,"channel":"D09TR7U4DBL","ts":"1763865700.331219","message":{"user":"U09U4508SFK","type":"message","ts":"1763865700.331219","bot_id":"B09TR7TTPM0","app_id":"A09U4GD1064","text":"Option #3: *Mister Ribs*  \n\nLink: <https://maps.google.com/?cid=17458752883162976879&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA> \nRating: 4.5 \nAddress: Cl. 119 #6 - 06, Bogotá, Colombia\n\n<https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865599108_IMG_4960.JPG>","team":"T02Q7P07G91","bot_profile":{"id":"B09TR7TTPM0","app_id":"A09U4GD1064","user_id":"U09U4508SFK","name":"Ask Tomo","icons":{"image_36":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_36.png","image_48":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_48.png","image_72":"https://avatars.slack-edge.com/2025-11-16/9941183108129_80c916379960edcbc583_72.png"},"deleted":false,"updated":1763484497,"team_id":"T02Q7P07G91"},"blocks":[{"type":"rich_text","block_id":"EcLDL","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Option #3: "},{"type":"text","text":"Mister Ribs","style":{"bold":true}},{"type":"text","text":"  \n\nLink: "},{"type":"link","url":"https://maps.google.com/?cid=17458752883162976879&amp;g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA","text":"https://maps.google.com/?cid=17458752883162976879&g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQQAhgEIAA"},{"type":"text","text":" \nRating: 4.5 \nAddress: Cl. 119 #6 - 06, Bogotá, Colombia\n\n"},{"type":"link","url":"https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/tomo_assets/1763865599108_IMG_4960.JPG"}]}]}],"language":{"locale":"en","is_reliable":true}},"warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}}],"Upload Image to Supabase Storage":[{"json":{"Key":"tomo_assets/1763865598992_unnamed.jpg","Id":"b14c9e60-c100-408b-8cc8-8cddfc221449"}},{"json":{"Key":"tomo_assets/1763865599102_ticr_0_0 (4).jpg","Id":"039e65c0-dede-4bf4-92da-637a42fa15c7"}},{"json":{"Key":"tomo_assets/1763865599108_IMG_4960.JPG","Id":"353bc2d8-4395-430a-a677-9f627ec21eef"}}]},"versionId":"8d3c2284-4a1c-4129-9c19-f783fc81052c","activeVersionId":"8d3c2284-4a1c-4129-9c19-f783fc81052c","triggerCount":0,"shared":[{"updatedAt":"2026-01-05T17:51:09.644Z","createdAt":"2026-01-05T17:51:09.644Z","role":"workflow:owner","workflowId":"w7yoyFcnYU6KTHrFtsKse","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":{"updatedAt":"2026-01-05T18:04:06.615Z","createdAt":"2026-01-05T17:51:25.681Z","versionId":"8d3c2284-4a1c-4129-9c19-f783fc81052c","workflowId":"w7yoyFcnYU6KTHrFtsKse","nodes":[{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"X-Goog-FieldMask","value":"places.displayName,places.formattedAddress,places.photos,places.rating,places.googleMapsUri,places.websiteUri"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('When Executed by Another Workflow').item.json.query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-64],"id":"47b1568e-8205-49a4-ba7e-d4ed07ca49f9","name":"Search Places","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-864,-64],"id":"aa2ca67d-422a-48de-b020-989e3e0326ba","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,-160],"id":"66a7afd5-c892-4214-9edf-c441f509b6cd","name":"Split Out"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[256,-160],"id":"90482387-21e1-454b-b580-4f622bd9a382","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"4c47c47f-daf9-401c-9148-42e5e00bdcf9","name":"response","value":"={{ $json.concatenated_message_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,-160],"id":"8250ced6-f999-4d32-aeae-f80cc6c3d6e7","name":"Set Successful Response","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"6587096c-e9d7-498e-a8f9-374befde1b85","name":"response","value":"There was a problem searching for places.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,32],"id":"29bb053f-bfa1-4e7e-89bd-d597e8ae4875","name":"Set Error Response"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.text","separateBy":"other","customSeparator":"\\n---\\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1376,-160],"id":"a0f21798-b878-47c9-a6ab-4dd4fae5225f","name":"Concatenate Options"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b436d84-0f54-49c9-a0ef-ca5f9d07a4c4","leftValue":"={{ $json.rating }}","rightValue":4.5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-192,-160],"id":"bc95ac77-2dbd-4ac4-9c56-1ed765c241c0","name":"Filter"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[32,-160],"id":"80d620d8-6493-4ae0-a48a-3f591538728c","name":"Randomize"},{"parameters":{"assignments":{"assignments":[{"id":"2bc3e4f7-6d56-495c-addb-2fcd8543c051","name":"=caption","value":"=Option #{{ $itemIndex + 1 }}: *{{$('Limit').item.json.displayName.text}}*  \n\nLink: {{$('Limit').item.json.googleMapsUri}} \nRating: {{ $('Limit').item.json.rating }} \nAddress: {{ $('Limit').item.json.formattedAddress }}\n\nhttps://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/public/{{ $json.Key }}","type":"string"},{"id":"ca1a3a8e-35a5-4780-9715-58dfac511b4c","name":"tomoWhatsAppId","value":"15551366684","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-160],"id":"66701205-cc77-455e-9500-88979a91319e","name":"Set Params"},{"parameters":{"workflowId":{"__rl":true,"value":"dl7Ouu4fFql85VAB","mode":"list","cachedResultUrl":"/workflow/dl7Ouu4fFql85VAB","cachedResultName":"[Slack] Send Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.caption }}","slack_user_id":"={{ $('When Executed by Another Workflow').item.json.slack_user_id }}","save":true},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"save","displayName":"save","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1152,-160],"id":"e84e74fd-e94a-4729-8dcf-e1390464a799","name":"Call '[Slack] Send Message'"},{"parameters":{"url":"=https://places.googleapis.com/v1/{{ $('Limit').item.json.photos[0].name }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyBpFjB5LAjnIUVf7ZyGSIQ4NWnLjgepcoM"},{"name":"maxHeightPx","value":"1600"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-160],"id":"016c03a8-e72a-400d-afb4-b75ecfa101d4","name":"Download Image","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://gbwmwbxitjsfrbuqjafz.supabase.co/storage/v1/object/tomo_assets/{{$now.toMillis()}}_{{$binary.data.fileName.replaceAll(\" \", \"_\") }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"={{ $binary.data.mimeType }}"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-160],"id":"c56c49e8-4033-4b42-9323-0117ae7b0c5f","name":"Upload Image to Supabase Storage","retryOnFail":true,"credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}}],"connections":{"Search Places":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Set Error Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Search Places","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Concatenate Options":{"main":[[{"node":"Set Successful Response","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Randomize","type":"main","index":0}]]},"Randomize":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Set Params":{"main":[[{"node":"Call '[Slack] Send Message'","type":"main","index":0}]]},"Call '[Slack] Send Message'":{"main":[[{"node":"Concatenate Options","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload Image to Supabase Storage","type":"main","index":0}]]},"Upload Image to Supabase Storage":{"main":[[{"node":"Set Params","type":"main","index":0}]]}},"authors":"Dev JIA","name":"Version 8d3c2284","description":"","autosaved":false},"tags":[]}