2025-10-20/🖥️ [TG] Send Daily Schedule for Single User.json
{"createdAt":"2025-09-24T20:35:44.208Z","updatedAt":"2025-10-20T17:23:15.110Z","id":"UIlSLg1GoSnXbYN8","name":"🖥️ [TG] Send Daily Schedule for Single User","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"k1DGWUkYJAlFS4iw","mode":"list","cachedResultUrl":"/workflow/k1DGWUkYJAlFS4iw","cachedResultName":"🖥️ [TG] Refresh Cached Chat History and Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","userId":"={{ $('When Executed by Another Workflow').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3712,-624],"id":"e5b7684d-9f9b-4a88-9980-f214500d9536","name":"Refresh Caches"},{"parameters":{"workflowId":{"__rl":true,"value":"9jeZuQfIDYEe9f5u","mode":"list","cachedResultUrl":"/workflow/9jeZuQfIDYEe9f5u","cachedResultName":"🖥️ [TG] Get Cached Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $json.telegram_id }}","userId":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,-624],"id":"f926058a-7d6a-4c61-8dcd-03402a2011e2","name":"Get Time Zone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c00f72a2-4665-4387-9770-cd2708ebdec0","leftValue":"={{ $now.setZone($json.timeZone).hour }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,-624],"id":"f72aa9da-0bbf-417a-a7a1-72f5ae9dcc11","name":"8 AM in Local Zone?"},{"parameters":{"model":"google/gemini-2.5-flash","options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1344,-192],"id":"fa49749b-220a-46f1-9ae6-1538a0490abb","name":"Gemini 2.5 Flash","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"numberInputs":3,"rules":{"rule":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe59aac6-c1b6-4b01-a2c5-57242f67754f","leftValue":"={{ $('Set Random Index').item.json.model_index }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"modelIndex":2,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4d64c42-5fee-48ce-ad88-dee0bc253aa7","leftValue":"={{ $('Set Random Index').item.json.model_index }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"modelIndex":3,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ca1ec11-df03-4a78-9362-63f7660874fa","leftValue":"={{ $('Set Random Index').item.json.model_index }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]}},"type":"@n8n/n8n-nodes-langchain.modelSelector","typeVersion":1,"position":[1392,-400],"id":"967b0394-d919-4ebb-b747-8b513c2ab9cb","name":"Model Selector"},{"parameters":{"model":"openai/gpt-5-nano","options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1472,-192],"id":"e3bed79e-a408-4fd7-88e5-3f1b0767cd2d","name":"GPT 5 Nano","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1600,-192],"id":"df69b33b-2d39-43db-892a-c394c23b941f","name":"Claude 3.5 Sonnet","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c3c836a0-ba65-43ba-bc05-8da2387ed651","name":"model_index","value":"={{ Math.floor(Math.random() * 3) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-624],"id":"6ce3273b-04c1-4a0d-a0d5-128ee3a02218","name":"Set Random Index"},{"parameters":{"jsonSchemaExample":"{\n  \"morning_message\": \"Rise and shine! Ready to tackle the day?\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1776,-400],"id":"76e8c536-1e30-423f-a3f6-3289a197c3c6","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1776,-192],"id":"2adf8b35-6af0-4806-beb0-7c4ba0d76f1a","name":"4.1 MINI","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"promptType":"define","text":"=Write a short, warm, and lightly playful good morning message for the person you assist. Keep it under three sentences. Avoid being overly cheerful or awkward. Output only the message text, no placeholders. Tone should balance professional assistant vibes with a friendly sidekick touch.\n\n# Examples:\n\n{\"morning_message\": \"Good morning! May your coffee be strong and your day kinder than expected.\"}\n\n{\"morning_message\": \"Rise and shine—today’s a fresh chance to win some small victories.\"}\n\n{\"morning_message\": \"Morning! Let’s keep today smooth, simple, and maybe even a little fun.\"}\n\n{\"morning_message\": \"Hello, sunshine. Don’t worry, I’ll keep the chaos in check for you.\"}\n\n{\"morning_message\": \"Good morning—let’s make today less about rushing and more about getting it right.\"}","hasOutputParser":true,"needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1600,-624],"id":"fb2caaf7-1ab0-4a8d-bcfd-c0dd5eea7f15","name":"Morning Message Writer","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultUrl":"/workflow/kI31iVTkkY44j2Rv","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.output.morning_message }}","telegramId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","chatId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","toolActivity":"={{ $json.toolActivity ?? [] }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2144,-688],"id":"d1e772df-1cc4-41ec-b949-b86d2d00fc32","name":"Send Good Morning Message (Telegram)","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"utMh5rQmfWApLYFc","mode":"list","cachedResultUrl":"/workflow/utMh5rQmfWApLYFc","cachedResultName":"🖥️ [TG] Scheduling Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_history":"={{ {} }}","time_zone":"={{ $('Get Time Zone').first().json.timeZone }}","user":"={{ $('When Executed by Another Workflow').first().json }}","user_message":"How does my day look like?","telegram_id":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}"},"matchingColumns":[],"schema":[{"id":"chat_history","displayName":"chat_history","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user","displayName":"user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telegram_id","displayName":"telegram_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2368,-624],"id":"2927b2d9-a878-4401-a3e4-00024c892a8f","name":"Call Scheduler Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultUrl":"/workflow/kI31iVTkkY44j2Rv","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.response }}","telegramId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","chatId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","toolActivity":"={{ $json.toolActivity ?? [] }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3040,-688],"id":"0ff4e9d0-cefe-4a77-a9e3-9504e385d52b","name":"Send Weather Info (TG)","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultUrl":"/workflow/kI31iVTkkY44j2Rv","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Call Scheduler Agent').item.json.response }}","telegramId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","chatId":"={{ $('Get User\\'s Telegram ID').item.json.telegram_id }}","toolActivity":"={{ $('Call Scheduler Agent').item.json.toolActivity ?? [] }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3264,-624],"id":"a19684ca-ac7f-469a-b5f8-218a28c672eb","name":"Send Daily Schedule Telegram Message","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"mh2OooSJDNqUVlIk","mode":"list","cachedResultUrl":"/workflow/mh2OooSJDNqUVlIk","cachedResultName":"🖥️ [TG] Get Weather Report"},"workflowInputs":{"mappingMode":"defineBelow","value":{"scheduler_response":"={{ $json.response }}"},"matchingColumns":["scheduler_response"],"schema":[{"id":"scheduler_response","displayName":"scheduler_response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2592,-624],"id":"8dfeb336-c48f-4c02-8d39-08539ceb03c5","name":"Call '🖥️ [TG] Get Weather Report'"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ef51d5b-541b-4466-a5bd-24a7a7b2b698","leftValue":"={{ $json.response }}","rightValue":"NONE","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2816,-624],"id":"9076e798-4337-4766-b307-348a010b2a55","name":"Response?"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-624],"id":"2bb7f0dd-a77e-4b8f-988d-91378bb30897","name":"When Executed by Another Workflow"},{"parameters":{"operation":"rowNotExists","dataTableId":{"__rl":true,"value":"1azZ8CNPFsyyNrh8","mode":"list","cachedResultName":"daily_reports_sent","cachedResultUrl":"/projects/8nyfoRCh3nEYWaKJ/datatables/1azZ8CNPFsyyNrh8"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.id }}"},{"keyName":"report_local_date","keyValue":"={{ $today.setZone($('Get Time Zone').item.json.timeZone).toLocaleString() }}"},{"keyName":"environment","keyValue":"dev"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[896,-624],"id":"df2e310a-13e5-4ea6-91dd-079cfc98630c","name":"If row does not exist"},{"parameters":{"dataTableId":{"__rl":true,"value":"1azZ8CNPFsyyNrh8","mode":"list","cachedResultName":"daily_reports_sent","cachedResultUrl":"/projects/8nyfoRCh3nEYWaKJ/datatables/1azZ8CNPFsyyNrh8"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"=  {{ $('When Executed by Another Workflow').item.json.id }}","environment":"dev","tz_at_send":"={{ $('Get Time Zone').item.json.timeZone }}","report_local_date":"={{ $today.setZone($('Get Time Zone').item.json.timeZone).toLocaleString() }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tz_at_send","displayName":"tz_at_send","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"environment","displayName":"environment","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"report_local_date","displayName":"report_local_date","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[3488,-624],"id":"c8e42d4f-bc9c-4a0e-995c-0740621a3141","name":"Insert row"},{"parameters":{"operation":"executeQuery","query":"SELECT dev.get_telegram_id('{{ $('When Executed by Another Workflow').item.json.id }}') as telegram_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-624],"id":"a838d937-29d6-4ee9-b336-0130f5489b45","name":"Get User's Telegram ID","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Refresh Caches":{"main":[[]]},"Get Time Zone":{"main":[[{"node":"Get User's Telegram ID","type":"main","index":0}]]},"8 AM in Local Zone?":{"main":[[{"node":"If row does not exist","type":"main","index":0}],[]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":0}]]},"Model Selector":{"ai_languageModel":[[{"node":"Morning Message Writer","type":"ai_languageModel","index":0}]]},"GPT 5 Nano":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":1}]]},"Claude 3.5 Sonnet":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":2}]]},"Set Random Index":{"main":[[{"node":"Morning Message Writer","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Morning Message Writer","type":"ai_outputParser","index":0}]]},"4.1 MINI":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0},{"node":"Morning Message Writer","type":"ai_languageModel","index":1}]]},"Morning Message Writer":{"main":[[{"node":"Send Good Morning Message (Telegram)","type":"main","index":0}],[{"node":"Call Scheduler Agent","type":"main","index":0}]]},"Send Good Morning Message (Telegram)":{"main":[[{"node":"Call Scheduler Agent","type":"main","index":0}]]},"Call Scheduler Agent":{"main":[[{"node":"Call '🖥️ [TG] Get Weather Report'","type":"main","index":0}]]},"Send Weather Info (TG)":{"main":[[{"node":"Send Daily Schedule Telegram Message","type":"main","index":0}]]},"Send Daily Schedule Telegram Message":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Call '🖥️ [TG] Get Weather Report'":{"main":[[{"node":"Response?","type":"main","index":0}]]},"Response?":{"main":[[{"node":"Send Weather Info (TG)","type":"main","index":0}],[{"node":"Send Daily Schedule Telegram Message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Time Zone","type":"main","index":0}]]},"If row does not exist":{"main":[[{"node":"Set Random Index","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Refresh Caches","type":"main","index":0}]]},"Get User's Telegram ID":{"main":[[{"node":"8 AM in Local Zone?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Run Every 30 Seconds":{"recurrenceRules":[]},"node:Run Every 15 Seconds":{"recurrenceRules":[]},"node:Run Every 5 Seconds":{"recurrenceRules":[]},"node:Every Hour":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"d24503d6-48da-4af1-8599-177cd8501341","email":"jesus@jia-nomads.com","display_name":"Jesus M.","created_at":"2024-11-19T20:55:24.366Z","time_zone":"America/Bogota","position":"VP Engineering","role":"admin","phone_number":null,"integration_created_at":"2024-11-19T20:55:24.366Z","integration_updated_at":"2025-10-13T21:55:59.157Z"}}]},"versionId":"1b2e2a53-f50c-4402-bd9c-d346f0c1ae9a","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:35:44.208Z","updatedAt":"2025-09-24T20:35:44.208Z","role":"workflow:owner","workflowId":"UIlSLg1GoSnXbYN8","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}