2025-07-20/[Signal] Block Time with Meeting.json
{"createdAt":"2025-07-17T09:56:40.202Z","updatedAt":"2025-07-20T03:06:02.986Z","id":"esH7uWaSdFwwqLd1","name":"[Signal] Block Time with Meeting","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('When Executed by Another Workflow').item.json.attendees ?? []).append($json.user.email)}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.start).plus($('When Executed by Another Workflow').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,120],"id":"ca1f4e39-7f02-4af7-a529-5553ed6566e1","name":"Set Attendees & End Date"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"conferenceDataVersion","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('When Executed by Another Workflow').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,120],"id":"767f6a63-0b34-4453-a419-be20c95ca0a7","name":"Create Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.calendarRequest = {\n  description: $('When Executed by Another Workflow').description,\n  summary: $('When Executed by Another Workflow').item.json.summary,\n  start: {\n    dateTime: $('When Executed by Another Workflow').item.json.start,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      {method: \"email\", minutes: 1440},\n      {method: \"popup\", \"minutes\": 10},\n    ],\n  },\n  attendees: $json.attendees?.map(email => ({ email })) ?? [],\n   conferenceData: {\n    createRequest: {\n      requestId: `n8n-meet-req-${Date.now()}`, // A unique ID for the request\n      conferenceSolutionKey: {\n        type: \"hangoutsMeet\"\n      }\n    }\n  }\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,120],"id":"5ad001ca-4b31-467d-8d90-5a0a2915e914","name":"Create Event Request"},{"parameters":{"workflowInputs":{"values":[{"name":"description"},{"name":"start"},{"name":"duration","type":"number"},{"name":"title"},{"name":"userId"},{"name":"summary"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1000,120],"id":"15f137dd-159f-4698-850c-56bec44edd16","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"546750b7-388c-4ea0-ad8b-10cd79f35b19","name":"message","value":"Event created successfully.","type":"string"},{"id":"1ba3b208-6ee0-460c-ad3b-1268079e64d6","name":"data","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,20],"id":"d90a9392-02a6-4e0d-bef4-82dae73cc841","name":"Success Message"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,220],"id":"a928b9a4-be07-417e-bc59-fb3adddc99e7","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for Signal Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-780,120],"id":"4eb8e3bb-91d1-4513-9eac-29200cc74c5d","name":"Get Token"}],"connections":{"Set Attendees & End Date":{"main":[[{"node":"Create Event Request","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Success Message","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Create Event Request":{"main":[[{"node":"Create Event","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b14a19af-29f9-41ea-8ae9-cfb02ed494a5","triggerCount":0,"tags":[]}