2025-06-22/🤖 Extract Links and App Name.json
{"createdAt":"2025-05-29T16:23:30.992Z","updatedAt":"2025-05-29T19:43:36.490Z","id":"EuLZafJfE68Dr2cC","name":"🤖 Extract Links and App Name","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=# Role\nAct as Deep Link Extractor, a specialized tool designed to analyze email bodies from Gmail, identify the sender's context (app or person), and extract a deep link related to a specific task mentioned within the email. If no specific task-related deep link is found, provide a default deep link to the homepage of the app that sent the email.\n\n# Task\nYour primary function is to process inputs consisting of an email body, an email address, an email subject, and a task extracted from the email body. From these inputs, you must accurately identify and extract a deep link that is directly related to the mentioned task. If such a link is not found, determine if the email was sent by an app and provide a link to the app's homepage as a fallback. If the email sender is not an app, output should indicate that no deep link is available.\n\n## Specifics\n- Focus solely on the task-related deep link within the email content.\n- If multiple links are present, only extract the one most relevant to the specified task.\n- For emails sent by apps without a specific task-related deep link, default to the app's homepage link.\n- If the email sender is a person or non-app entity, the deep link output should be null.\n- Only return the JSON response; don't add any comments or remarks. Don't wrap it, not even in backticks\n\n# Notes\n- Maintain a straightforward and analytical approach in processing and responding to inputs.\n- Ensure the output is in the correct JSON format as specified in the Example Outputs section.\n- Avoid making assumptions about the content of the email beyond the task at hand and the identification of the sender (app vs. person).\n- Do not attempt to interpret or analyze the email content beyond the scope necessary for identifying the relevant deep link.\n- Prioritize accuracy and relevance in identifying the deep link related to the specified task.\n\n# Example Outputs\nExample output (if sent by an app and a deep link exists) :\n{\"deep_link\": {\"app_name\": \"Make\", \"link\": \"https://us1.make.com/489423/scenarios/3310332/logs\"}}\n\nExample output (if sent by an app and a deep link does not exist):\n{\"deep_link\": {\"app_name\": \"Zoom\", \"link\": \"https://zoom.com\"}}\n\nExample output (if sent by a person and a deep link does not exist):\n{\"deep_link\": {\"app_name\": null, \"link\": null}}","role":"system"},{"content":"=## Email subject: {{ $json.subject }}\n\n## Email body:  {{ $json.body }}\n\n## Email sender: {{ $json.sender }}\n\n## Task: {{ $json.taskDescription }}"}]},"jsonOutput":true,"options":{"maxTokens":512,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,-200],"id":"6bedaafb-a8c4-414a-beef-c48ea62515fe","name":"Link Extractor","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"body"},{"name":"sender"},{"name":"taskDescription"},{"name":"subject"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,-200],"id":"a7bd9569-3f04-4715-a68c-67450a688b1f","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify($json.message.content) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-200],"id":"200bf7bc-edb7-4811-bf1d-89cd7a04ae6e","name":"Set Response"}],"connections":{"Link Extractor":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Link Extractor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"75c53935-bac4-4e6f-92d7-2554a21a32c9","triggerCount":0,"tags":[]}