2025-09-12/🖥️ [TG] Get Conversation.json
{"createdAt":"2025-08-28T21:44:01.700Z","updatedAt":"2025-09-02T22:51:09.072Z","id":"eHXJ67uWUIoAqTmg","name":"🖥️ [TG] Get Conversation","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,0],"id":"6d1f3181-cf5f-4bf9-8162-282fb0fff4af","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  telegram_date_utc AS date,\n  text AS message,\n  tool_activity as toolActivity,\n  CASE\n    WHEN direction = 'inbound' THEN 'user'\n    ELSE 'ai'\n  END AS role\nFROM\n  dev.telegram_messages\nWHERE (recipient_id = '{{ $('When Executed by Another Workflow').item.json.telegramId }}' OR sender_id = '{{ $('When Executed by Another Workflow').item.json.telegramId }}')\nORDER BY telegram_date DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,0],"id":"eb69d34f-8da8-463f-8926-5bf7716a75cd","name":"Get Messages","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chat_history","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,0],"id":"2c779ce3-d9f5-4364-a6d4-d8670ec93aef","name":"Aggregate"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Messages","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790"}}]},"versionId":"f5979367-e790-498f-b43f-88b3cf140073","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:44:01.700Z","updatedAt":"2025-08-28T21:44:01.700Z","role":"workflow:owner","workflowId":"eHXJ67uWUIoAqTmg","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}