2025-11-07/[TG] Vectorize Contacts.json
{"updatedAt":"2025-10-23T19:36:24.240Z","createdAt":"2025-07-30T17:52:15.612Z","id":"35LtEy5AZP7vL7PP","name":"[TG] Vectorize Contacts","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,-280],"id":"8a302641-a244-48f8-aeea-796a26b715f6","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"uu7semjX1n1iWDt6","mode":"list","cachedResultUrl":"/workflow/uu7semjX1n1iWDt6","cachedResultName":"[TG] Vectorize Single User Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[320,-352],"id":"ea5dfe33-614c-4ec1-a8d8-4c9ef8f38289","name":"Vectorize User Contacts"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[544,-280],"id":"999a2d37-bceb-4dc8-b547-27d28207f053","name":"Wait 10 seconds","webhookId":"19a66f32-6da0-4bcb-81d9-1cda8ac810bc"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-280],"id":"b06a0bfe-3f3c-476f-a903-7d1cfd95801c","name":"Run Every 45 Minutes"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM public.get_users_with_calendar();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-280],"id":"e3c52a4f-dc46-493a-8230-1f083cd782a9","name":"Get Valid Users","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Vectorize User Contacts","type":"main","index":0}]]},"Vectorize User Contacts":{"main":[[{"node":"Wait 10 seconds","type":"main","index":0}]]},"Wait 10 seconds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Run Every 45 Minutes":{"main":[[{"node":"Get Valid Users","type":"main","index":0}]]},"Get Valid Users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Run Every Week":{"recurrenceRules":[]},"node:Run Every Month":{"recurrenceRules":[]},"node:Run Every 45 Minutes":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bc04221-b2de-4306-961c-9c953aa296f7","triggerCount":1,"shared":[{"updatedAt":"2025-07-30T17:52:15.612Z","createdAt":"2025-07-30T17:52:15.612Z","role":"workflow:owner","workflowId":"35LtEy5AZP7vL7PP","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}