2025-11-07/🖥️ [TG] Get Conversation.json
{"updatedAt":"2025-09-17T18:30:17.989Z","createdAt":"2025-08-28T21:44:01.700Z","id":"eHXJ67uWUIoAqTmg","name":"🖥️ [TG] Get Conversation","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,0],"id":"6d1f3181-cf5f-4bf9-8162-282fb0fff4af","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  telegram_date_utc AS date,\n  text AS message,\n  tool_activity as toolActivity,\n  CASE\n    WHEN direction = 'inbound' THEN 'user'\n    ELSE 'ai'\n  END AS role\nFROM\n  dev.telegram_messages\nWHERE (recipient_id = '{{ $('When Executed by Another Workflow').item.json.telegramId }}' OR sender_id = '{{ $('When Executed by Another Workflow').item.json.telegramId }}')\nORDER BY telegram_date DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,0],"id":"eb69d34f-8da8-463f-8926-5bf7716a75cd","name":"Get Messages","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chat_history","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[544,96],"id":"2c779ce3-d9f5-4364-a6d4-d8670ec93aef","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09465d71-5169-455e-81bd-c6671ebf45ba","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,0],"id":"451e492d-32f2-4075-9892-d10bf0d5657d","name":"Empty?"},{"parameters":{"assignments":{"assignments":[{"id":"55fc4a4c-6b64-454a-8934-c6bc794cc233","name":"chat_history","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,-96],"id":"c513ce60-17d8-461a-ad60-e8e2823ffea0","name":"Return Empty Array"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Messages","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Empty?","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"Empty?":{"main":[[{"node":"Return Empty Array","type":"main","index":0}],[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790"}}]},"versionId":"72746c8a-952c-466b-b3a3-c0a625c275ce","triggerCount":0,"shared":[{"updatedAt":"2025-08-28T21:44:01.700Z","createdAt":"2025-08-28T21:44:01.700Z","role":"workflow:owner","workflowId":"eHXJ67uWUIoAqTmg","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}