2025-10-27/Get Token.json
{"updatedAt":"2025-06-30T23:27:57.015Z","createdAt":"2025-05-29T16:21:59.120Z","id":"5nLuIwEVYbgbkXK2","name":"Get Token","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-360,-150],"id":"a0bb28cd-96e2-49c8-bf70-b02efc225236","name":"When Executed by Another Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/**\n * Check if a user's access token is expired.\n * @param {{ access_token?: string | null, token_expiration_date?: string | null }} user\n * @returns {boolean} true if missing or expired\n */\nfunction isTokenExpired(user) {\n  const { access_token: token, token_expiration_date: exp } = user;\n  // No token or no expiration date → expired\n  if (!token || !exp) return true;\n\n  // Normalize \"2025-04-16 21:58:02+00\" → \"2025-04-16T21:58:02+00\"\n  const iso = exp.replace(' ', 'T');\n  const expiresAt = new Date(iso);\n\n  // Invalid date → treat as expired\n  if (isNaN(expiresAt.getTime())) return true;\n\n  // Compare against now (Date.now() is UTC‑based under the hood)\n  return expiresAt.getTime() < Date.now();\n}\n\nreturn {\n  json: {\n    user: $input.item.json,\n    expiredToken: isTokenExpired($input.item.json)\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-150],"id":"961f3ef7-ca4b-450e-ad0f-45229380bc3e","name":"Check Token Expiration"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05a3655d-1a5c-407e-abd9-b77305dc158a","leftValue":"={{ $json.expiredToken }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[740,-150],"id":"035f9fd5-8737-4401-a2b4-407990be9f6e","name":"Expired Token?"},{"parameters":{"assignments":{"assignments":[{"id":"cb8984ad-464a-45b8-9d96-89e6c213699e","name":"accessToken","value":"={{ $('Set User').item.json.access_token }}","type":"string"},{"id":"c2055894-db45-4a28-8375-2472fde8585c","name":"user","value":"={{ $('Set User').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,-50],"id":"55fa2b4d-7e63-40d6-8698-c7e1c7b69584","name":"Return Token and User"},{"parameters":{"operation":"addToDate","magnitude":"={{ $now.toUTC() }}","timeUnit":"seconds","duration":"={{ $json.body.expires_in - 120 }}","outputFieldName":"tokenExpirationDate","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1180,-400],"id":"b28f7e23-15ed-441e-ba55-075f9d123a4e","name":"Compute Expiration Date"},{"parameters":{"assignments":{"assignments":[{"id":"ae218e7e-2994-42cf-82d0-81bd7deea876","name":"accessToken","value":"={{ $json.access_token }}","type":"string"},{"id":"8d144ce4-10cf-4da7-9a48-3be19ea43eda","name":"user","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,-400],"id":"76f7d546-eb04-4733-bdbc-13b35fd2da18","name":"Return Refreshed Token & User"},{"parameters":{"method":"POST","url":"https://oauth2.googleapis.com/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $json.user.client_id }}"},{"name":"client_secret","value":"={{ $json.user.client_secret }}"},{"name":"refresh_token","value":"={{ $json.user.refresh_token }}"},{"name":"grant_type","value":"refresh_token"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-250],"id":"580fe87e-5edf-422f-928f-fff2dc09d820","name":"Get New Token","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"Could not refresh token."},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1620,-75],"id":"6951910d-6e86-4b34-acab-05e29db7cb8e","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM \"public\".\"users\"\nWHERE id = '{{ $json.user_id }}'\nLIMIT 1;","options":{"connectionTimeout":2}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-140,-140],"id":"a727b96c-a228-4922-9d11-76da14c2d756","name":"Get User","retryOnFail":true,"maxTries":5,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Expired Token?').item.json.user.id }}","access_token":"={{ $json.body.access_token }}","token_expiration_date":"={{ $json.tokenExpirationDate }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"provider","displayName":"provider","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"access_token","displayName":"access_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expires_in","displayName":"expires_in","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_secret","displayName":"client_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_expired","displayName":"refresh_expired","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth_code","displayName":"auth_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_expiration_date","displayName":"token_expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"connectionTimeout":3}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,-400],"id":"a27400c4-145d-42a5-bd87-f3bc47a3c6a6","name":"Store Token","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Expired Token?').item.json.user.id }}","refresh_expired":true},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"provider","displayName":"provider","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"access_token","displayName":"access_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expires_in","displayName":"expires_in","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_secret","displayName":"client_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_expired","displayName":"refresh_expired","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"auth_code","displayName":"auth_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_expiration_date","displayName":"token_expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"role","displayName":"role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"connectionTimeout":4}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1180,-80],"id":"fc821f07-aec7-4a55-8ddc-35d69f9cc6b8","name":"Refresh Token Expired!","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"users","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('When Executed by Another Workflow').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,-40],"id":"c613ea92-32e5-4e41-852d-36940e820f26","name":"Get User by Id","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"users","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Expired Token?').item.json.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"refresh_expired","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1400,0],"id":"ce8330b4-60c6-49fe-bd5f-a576f3c090af","name":"Refresh Expired Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"users","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Expired Token?').item.json.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"token_expiration_date","fieldValue":"={{ $('Compute Expiration Date').item.json.tokenExpirationDate }}"},{"fieldId":"access_token","fieldValue":"={{ $json.body.access_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1620,-325],"id":"7962ecac-ee17-49da-a147-6d1c3e10e170","name":"Store_Token","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,-150],"id":"d07db8b8-63c8-4c61-82c8-18b1ca25b2d9","name":"Set User"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Check Token Expiration":{"main":[[{"node":"Expired Token?","type":"main","index":0}]]},"Expired Token?":{"main":[[{"node":"Get New Token","type":"main","index":0}],[{"node":"Return Token and User","type":"main","index":0}]]},"Compute Expiration Date":{"main":[[{"node":"Store Token","type":"main","index":0}]]},"Get New Token":{"main":[[{"node":"Compute Expiration Date","type":"main","index":0}],[{"node":"Refresh Token Expired!","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Set User","type":"main","index":0}],[{"node":"Get User by Id","type":"main","index":0}]]},"Store Token":{"main":[[{"node":"Return Refreshed Token & User","type":"main","index":0}],[{"node":"Store_Token","type":"main","index":0}]]},"Refresh Token Expired!":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Refresh Expired Token","type":"main","index":0}]]},"Get User by Id":{"main":[[{"node":"Set User","type":"main","index":0}]]},"Refresh Expired Token":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Store_Token":{"main":[[{"node":"Return Refreshed Token & User","type":"main","index":0}]]},"Set User":{"main":[[{"node":"Check Token Expiration","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"user_id":"cGVnIozfZpeaqSOL0PAyUHQdWgC3"}}]},"versionId":"97b07c29-572f-4d56-b913-d04708c7e754","triggerCount":0,"shared":[{"updatedAt":"2025-05-29T16:21:59.120Z","createdAt":"2025-05-29T16:21:59.120Z","role":"workflow:owner","workflowId":"5nLuIwEVYbgbkXK2","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}