2025-10-27/Upsert Email Thread.json
{"updatedAt":"2025-07-01T18:47:03.568Z","createdAt":"2025-05-29T16:22:30.287Z","id":"A3idqBR2QBYnjAwR","name":"Upsert Email Thread","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"threadId"},{"name":"newEmailBody"},{"name":"newEmailDateReceived"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1320,40],"id":"23afcd2a-53c6-4d0e-a50a-391b8a211213","name":"When Executed by Another Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"date_received,body","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-220,140],"id":"6baa29da-74b2-4929-8606-c755c98ec8ec","name":"Aggregate"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"date_received"}]},"options":{"disableDotNotation":false}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-440,140],"id":"469292fe-6ea8-454e-9565-4b103b3f9e9d","name":"Sort"},{"parameters":{"workflowId":{"__rl":true,"value":"8zUpaN0bW5TMwiZ0","mode":"list","cachedResultName":"🤖 Summarize Thread"},"workflowInputs":{"mappingMode":"defineBelow","value":{"thread":"={{ $json.data.concat([]) }}"},"matchingColumns":["thread"],"schema":[{"id":"thread","displayName":"thread","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,140],"id":"3ebf23cd-be18-4553-ae86-50486fc7fea4","name":"Summarize Thread"},{"parameters":{"workflowId":{"__rl":true,"value":"8zUpaN0bW5TMwiZ0","mode":"list","cachedResultName":"🤖 Summarize Thread"},"workflowInputs":{"mappingMode":"defineBelow","value":{"thread":"={{ \n[\n  {\n    \"body\": JSON.stringify($('When Executed by Another Workflow').item.json.newEmailBody),\n    \"date_received\": JSON.stringify($('When Executed by Another Workflow').item.json.newEmailDateReceived)\n  }\n] \n}}"},"matchingColumns":["thread"],"schema":[{"id":"thread","displayName":"thread","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,-60],"id":"6c8e4371-f2dd-4f42-9dcf-171a5cfa1d5e","name":"Summarize New Thread"},{"parameters":{"assignments":{"assignments":[{"id":"90d7d2c0-7e9b-49a5-a365-e7686d05ae2e","name":"threadId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,40],"id":"9036d192-4c77-4e97-bee7-082cedbaa364","name":"Set Response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe81f354-eb00-4dd9-9577-5aa6731b0d4d","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,40],"id":"53f9ca6e-5c75-4abf-b1c2-88001c0a3bd5","name":"New?"},{"parameters":{"operation":"executeQuery","query":"SELECT body, date_received\nFROM \"public\".\"emails\"\nWHERE thread_id = '{{ $('When Executed by Another Workflow').item.json.threadId }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-660,140],"id":"d1e40a48-6767-40a0-a30c-ff5a137e73af","name":"Get Email Bodies in Thread","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"email_threads","mode":"list","cachedResultName":"email_threads"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.threadId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1100,40],"id":"b59e8e29-d027-4d12-870b-180a0e8c1af8","name":"Get Thread","alwaysOutputData":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"email_threads","mode":"list","cachedResultName":"email_threads"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('When Executed by Another Workflow').item.json.threadId }}","summary":"={{ $json.threadSummary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[220,140],"id":"85f1fed5-a843-40d9-b52a-46e3db71460f","name":"Update Thread","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"email_threads","mode":"list","cachedResultName":"email_threads"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('When Executed by Another Workflow').item.json.threadId }}","summary":"={{ $json.threadSummary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[220,-60],"id":"e7ca478c-153d-48d0-8df4-ec1929bf47e0","name":"Create Thread","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Thread","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize Thread","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Summarize Thread":{"main":[[{"node":"Update Thread","type":"main","index":0}]]},"Summarize New Thread":{"main":[[{"node":"Create Thread","type":"main","index":0}]]},"New?":{"main":[[{"node":"Summarize New Thread","type":"main","index":0}],[{"node":"Get Email Bodies in Thread","type":"main","index":0}]]},"Get Email Bodies in Thread":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Get Thread":{"main":[[{"node":"New?","type":"main","index":0}]]},"Update Thread":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"Create Thread":{"main":[[{"node":"Set Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23e4bfa2-7e2b-4ab3-ab02-0ceb4b7f20a8","triggerCount":0,"shared":[{"updatedAt":"2025-05-29T16:22:30.287Z","createdAt":"2025-05-29T16:22:30.287Z","role":"workflow:owner","workflowId":"A3idqBR2QBYnjAwR","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}