2025-10-27/🖥️ [TG] Update Zep Memory.json
{"updatedAt":"2025-09-29T21:53:42.831Z","createdAt":"2025-09-29T21:19:16.567Z","id":"l4YE6JlyWkJNfnN7","name":"🖥️ [TG] Update Zep Memory","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.sender_id }}_dev"},{"name":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,112],"id":"21815358-ba20-428f-9225-fa2583bc3e1e","name":"Create User","credentials":{"httpHeaderAuth":{"id":"fOX1TKt1ct9iwHVn","name":"Zep Header Auth"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/threads","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{$('When Executed by Another Workflow').first().json.sender_id}}_dev"},{"name":"thread_id","value":"={{$('When Executed by Another Workflow').first().json.sender_id}}_dev"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,176],"id":"17837011-84e7-4864-9c30-5f541274e400","name":"Create Thread","credentials":{"httpHeaderAuth":{"id":"fOX1TKt1ct9iwHVn","name":"Zep Header Auth"}},"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"={{ $json.error.message }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[416,-16],"id":"402f8be0-f6be-4622-8de6-4309e969a312","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f25898c-92c3-43c0-9200-7b2fe7c26a7d","leftValue":"={{ $json.error.message }}","rightValue":"already exists","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,112],"id":"b23da6da-1ce6-4528-b1bd-806d58df81ae","name":"Thread Already Exists?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"995f0540-9a74-4aee-8022-c20500250a9a","leftValue":"={{ $json.error.message }}","rightValue":"user already exists","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,-16],"id":"5368988d-01dd-430c-820f-eb80404529f2","name":"User Already Exists?"},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/threads/{{$('When Executed by Another Workflow').first().json.sender_id.toString()}}_dev/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"{{$('When Executed by Another Workflow').item.json.role}}\",\n      \"content\": {{ JSON.stringify($('When Executed by Another Workflow').item.json.text) }}\n    }\n  ],\n  \"return_context\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,224],"id":"f81b5269-cd99-4e7a-a976-90cb177e275c","name":"Add User Messages to Zep","credentials":{"httpHeaderAuth":{"id":"fOX1TKt1ct9iwHVn","name":"Zep Header Auth"}}},{"parameters":{"workflowInputs":{"values":[{"name":"sender_id"},{"name":"email"},{"name":"text"},{"name":"role"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,112],"id":"f42faa2f-6a20-4d37-a70d-f522a692ac7f","name":"When Executed by Another Workflow"}],"connections":{"Create User":{"main":[[{"node":"Create Thread","type":"main","index":0}],[{"node":"User Already Exists?","type":"main","index":0}]]},"Create Thread":{"main":[[{"node":"Add User Messages to Zep","type":"main","index":0}],[{"node":"Thread Already Exists?","type":"main","index":0}]]},"Thread Already Exists?":{"main":[[{"node":"Add User Messages to Zep","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"User Already Exists?":{"main":[[{"node":"Create Thread","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Create User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b98c6a77-f3bb-4f98-a13d-2c9cf900bb4c","triggerCount":0,"shared":[{"updatedAt":"2025-09-29T21:19:16.567Z","createdAt":"2025-09-29T21:19:16.567Z","role":"workflow:owner","workflowId":"l4YE6JlyWkJNfnN7","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}