2025-10-27/🤖 Summarize Thread.json
{"updatedAt":"2025-07-01T18:43:53.952Z","createdAt":"2025-05-29T16:23:44.802Z","id":"8zUpaN0bW5TMwiZ0","name":"🤖 Summarize Thread","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"thread","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-20,-140],"id":"9ce59759-eaca-49fb-a9ef-df4433c61a6e","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,-140],"id":"720e1cda-9d14-4628-9a46-523405bbbb33","name":"Set Response"},{"parameters":{"assignments":{"assignments":[{"id":"098d9f2e-e217-4398-bde9-6db676a1e316","name":"system","value":"=You are an email thread summarizer.\n\nYour job is to create a summary of an email thread. You will receive a JSON structure like this: \n\n[\n    {\n        \"body\": \"Dev JIA has accepted the invitation for Test Z #2 scheduled on Thursday, July 25, 2024, from 11:30 am to 12:30 pm Singapore Standard Time. The meeting will be held via Zoom, and joining details are provided in the email. Test JIA is the organizer, and further guest information can be accessed through the provided Google Calendar link.\",\n        \"date_received\": \"2024-07-24\"\n    },\n    {\n        \"body\": \"Your cloud recording for Test Z #4 from July 25, 2024, at 07:17 PM Singapore time is now available. You can view, share, and access the recording using the provided links and passcode K+qjj9wR.\",\n        \"date_received\": \"2024-07-25\"\n    },\n    {\n        \"body\": \"Your paid Zoom subscription has expired, resulting in the loss of access to Cloud Recordings, which will be deleted in 30 days unless you renew your subscription.\",\n        \"date_received\": \"2024-08-07\"\n    }\n]\n\n## Notes about the input:\n- It is a list of email bodies for each email in the thread.\n- It is order in chronological ascending order.\n- \"body\" contains the body of a particular email.\n- \"date_received\" is the date that email was received.\n\nKeep the summary concise, to the point, and don't leave out any important information.\n\nMake your summary AT MOST 3 sentences long.\n\nOnly return the summary.","type":"string"},{"id":"bf63ab0e-8438-4c58-b68c-b84b862a6812","name":"user","value":"={{ JSON.stringify($json.thread) }}","type":"string"},{"id":"bfb36bc6-024d-4caf-89cd-350a12747cb0","name":"temperature","value":0.1,"type":"number"},{"id":"ec433b14-2ef1-4f54-9ab3-9bc93abd767a","name":"maxTokens","value":512,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-140],"id":"c6c6b8a6-2faa-46d6-ad53-38a04373dc27","name":"Set Prompts & Params"},{"parameters":{"jsonSchemaExample":"{\n\"threadSummary\": \n\"Ken has received a notification that his Amazon package has been delivered. The email includes links to track the package, view order details, and manage returns or replacements. This is an automated message and replies are not monitored.\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[540,82.5],"id":"c838112c-2252-4f22-8a21-67e3cbddb094","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":"={{ $json.maxTokens }}","temperature":"={{ $json.temperature }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,280],"id":"dcabf9de-ad07-4b01-8545-c3a756a704f0","name":"4.1","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"model":"openai/gpt-4.1","options":{"maxTokens":"={{ $json.maxTokens }}","temperature":"={{ $json.temperature }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[420,80],"id":"fc7a59ce-5a10-4c49-b832-9b326e74c928","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.user }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.system }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,-140],"id":"e8ec8ceb-c2fe-46d3-a7bc-0acd6eae9da2","name":"Thread Summarizer","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Set Prompts & Params').item.json.user }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Set Prompts & Params').item.json.system }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[900,-65],"id":"2e51d80e-9eec-42f7-a7c4-969450b939dc","name":"Thread Summarizer (Fallback)","retryOnFail":true,"maxTries":5}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set Prompts & Params","type":"main","index":0}]]},"Set Prompts & Params":{"main":[[{"node":"Thread Summarizer","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Thread Summarizer","type":"ai_outputParser","index":0},{"node":"Thread Summarizer (Fallback)","type":"ai_outputParser","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"Thread Summarizer (Fallback)","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Thread Summarizer","type":"ai_languageModel","index":0}]]},"Thread Summarizer":{"main":[[{"node":"Set Response","type":"main","index":0}],[{"node":"Thread Summarizer (Fallback)","type":"main","index":0}]]},"Thread Summarizer (Fallback)":{"main":[[{"node":"Set Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"thread":[{"body":"\"Hi Ken,\\n\\nYour package has been delivered!\\n\\nTrack your package:\\nhttps://www.amazon.com.au/gp/css/shiptrack/view.html?ie=UTF8&orderID=249-8939637-7152666&orderingShipmentId=44094826193303&packageId=1&ref_=E_301\\n\\n\\nReturn or replace items in Your Orders: \\n\\nhttps://www.amazon.com.au/gp/css/order-history?ie=UTF8&ref_=E_301\\n\\n--------------------------------------------------------------------------------------------------------------------------------------------\\nOrder #249-8939637-7152666\\nhttps://www.amazon.com.au/gp/css/summary/edit.html?ie=UTF8&orderID=249-8939637-7152666&ref_=E_301\\n\\nSee all orders:\\n\\nhttps://www.amazon.com.au/gp/css/order-history?ie=UTF8&ref_=E_301\\nThis email was sent from an email address that can't receive emails. Please don't reply to this email.\"","date_received":"\"2025-06-30T01:08:39.000Z\""}]}}]},"versionId":"cfd04a08-8120-444b-bc34-163d8d14af91","triggerCount":0,"shared":[{"updatedAt":"2025-05-29T16:23:44.802Z","createdAt":"2025-05-29T16:23:44.802Z","role":"workflow:owner","workflowId":"8zUpaN0bW5TMwiZ0","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}