2025-08-04/[TG] Suggest Locations.json
{"createdAt":"2025-08-04T22:21:36.437Z","updatedAt":"2025-08-04T22:28:01.165Z","id":"bEaLm3OLTYmttOfK","name":"[TG] Suggest Locations","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,0],"id":"892c5429-00e5-4029-99a8-b215b585adb7","name":"When clicking ‘Execute workflow’"},{"parameters":{"model":"sonar","messages":{"message":[{"content":"Nice coffee spots in Hawai"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[208,0],"id":"49e52e1e-0c2c-479c-9a45-0d2eb1e060f0","name":"Message a model","credentials":{"perplexityApi":{"id":"PziFl3ut7ddRxWPZ","name":"Perplexity account"}}},{"parameters":{"assignments":{"assignments":[{"id":"43d84f2f-1e07-4450-8b84-e9e8ffeab71c","name":"response","value":"={{ $json.choices[0].message.content }}","type":"string"},{"id":"37ea8014-ab98-45ce-946b-1b0769573ede","name":"search_results","value":"={{ $json.search_results }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"671fe7b2-ca6a-408e-a9d1-ea1d907a43c1","name":"Set Respond & Search Results"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Set Respond & Search Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7adc45a-c069-42ea-8cba-1d646ffbd61e","triggerCount":0,"tags":[]}