2025-05-30/1.5 Extract tasks for single user.json
{"createdAt":"2025-05-26T19:57:04.607Z","updatedAt":"2025-05-26T20:32:25.000Z","id":"PoIntspit7tpUaoC","name":"1.5 Extract tasks for single user","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,-100],"id":"1a7e8d9c-4a9d-45ba-bb67-d4ea1a2c673c","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"yoj6BCWURbtB941i","mode":"list","cachedResultName":"2. Extract Tasks from Email"},"workflowInputs":{"mappingMode":"defineBelow","value":{"emailId":"={{ $json.id }}","userId":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"emailId","displayName":"emailId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1340,-80],"id":"82e94e8a-49bf-4d1f-a0d0-fbfe96711a40","name":"Extract Tasks from Email","onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1020,-100],"id":"3e89a04e-2934-4056-b89e-5f2a579f1302","name":"Loop over Emails"},{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"messages","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[580,-100],"id":"a6e1893a-79c0-47f5-8889-c09f814104fa","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"943c400a-cb88-4a5b-b385-a5bb923356dc","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,-300],"id":"18154cd5-b9be-4c8d-8d74-8b7f031a4c55","name":"Edit Fields","executeOnce":true}],"connections":{"Split Out":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Extract Tasks from Email":{"main":[[{"node":"Loop over Emails","type":"main","index":0}]]},"Loop over Emails":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Extract Tasks from Email","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"40d36919-8e1a-4439-85f7-9307ba07e296","triggerCount":0,"tags":[]}