2025-05-30/Merge Tasks (Endpoint).json
{"createdAt":"2025-04-29T13:44:50.017Z","updatedAt":"2025-05-05T13:54:30.000Z","id":"7J3wAZnWjWJvAQhJ","name":"Merge Tasks (Endpoint)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"3d20f750-f9ff-44e5-a2e2-fd663cf0f189","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"bb264b4a-89da-465a-b2fa-c555203c5090","name":"Webhook","webhookId":"3d20f750-f9ff-44e5-a2e2-fd663cf0f189"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are an AI agent tasked with analyzing lists of tasks extracted from emails. Your job is to identify tasks that are very similar or closely related and combine them into a single, clear task when appropriate.\n\n**Categories are limited to:** `EVENT`, `REPLY`, `REVIEW`, or `APP`.\n\n### Criteria for combination:\n\n- Tasks have similar descriptions or clearly overlap.\n- Tasks share the same or very similar due dates, priorities, or categories.\n\n### When combining tasks:\n\n- **Description:** Concisely merge descriptions into a single clear action.\n- **Priority:** Use the highest priority among combined tasks (`high` > `medium` > `low`).\n- **Due date:** Use the earliest clearly specified due date.\n- **Category:** Maintain the most relevant common category.\n\nIf no tasks logically require combining, do **not** alter them.\n\n---\n\n### Example Input (should combine):\n\n```json\n[\n  {\n    \"description\": \"Send updated app report to client\",\n    \"priority\": \"high\",\n    \"due_date\": \"2024-11-10\",\n    \"category\": \"APP\"\n  },\n  {\n    \"description\": \"Prepare app report update\",\n    \"priority\": \"medium\",\n    \"due_date\": \"2024-11-09\",\n    \"category\": \"APP\"\n  },\n  {\n    \"description\": \"Schedule team event\",\n    \"priority\": \"low\",\n    \"due_date\": \"2024-11-15\",\n    \"category\": \"EVENT\"\n  }\n]\n```\n\n### Example Output (combined):\n\n```json\n[\n  {\n    \"description\": \"Prepare and send updated app report to client\",\n    \"priority\": \"high\",\n    \"due_date\": \"2024-11-09\",\n    \"category\": \"APP\"\n  },\n  {\n    \"description\": \"Schedule team event\",\n    \"priority\": \"low\",\n    \"due_date\": \"2024-11-15\",\n    \"category\": \"EVENT\"\n  }\n]\n```\n\n---\n\n### Example Input (no combination):\n\n```json\n[\n  {\n    \"description\": \"Reply to client's question about billing\",\n    \"priority\": \"medium\",\n    \"due_date\": \"2024-11-12\",\n    \"category\": \"REPLY\"\n  },\n  {\n    \"description\": \"Review team's project milestones\",\n    \"priority\": \"high\",\n    \"due_date\": \"2024-11-14\",\n    \"category\": \"REVIEW\"\n  }\n]\n```\n\n### Example Output (unchanged):\n\n```json\n[\n  {\n    \"description\": \"Reply to client's question about billing\",\n    \"priority\": \"medium\",\n    \"due_date\": \"2024-11-12\",\n    \"category\": \"REPLY\"\n  },\n  {\n    \"description\": \"Review team's project milestones\",\n    \"priority\": \"high\",\n    \"due_date\": \"2024-11-14\",\n    \"category\": \"REVIEW\"\n  }\n]\n```\n\n---\n\nYour response must always and ONLY be a JSON array of tasks following the structure above.","role":"system"},{"content":"={{ JSON.stringify($json.body.tasks) }}"}]},"jsonOutput":true,"options":{"maxTokens":512,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"e6dbde84-19a5-46ee-a3e5-e6f63853adbb","name":"Task Merger","credentials":{"openAiApi":{"id":"hyDTTerH5EyySsq0","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"mergedTasks\":  {{ JSON.stringify($json.message.content) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[580,0],"id":"e357b0db-06e9-430d-9004-19bc8a4935f7","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Task Merger","type":"main","index":0}]]},"Task Merger":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe6273f6-a8bd-4e6c-b963-d28f7f67b29a","triggerCount":1,"tags":[]}