2025-10-25/[TG] Get Cached Time Zone.json
{"createdAt":"2025-08-27T21:26:29.349Z","updatedAt":"2025-10-23T17:39:25.472Z","id":"vMEAaS35KPAgCfnj","name":"[TG] Get Cached Time Zone","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,-48],"id":"c5f1524a-c94c-4ae2-9999-577fb5af17fd","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f30d3a0-7e86-41ad-885a-f6a43f9665a1","leftValue":"={{ $json.timeZone }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"db212835-39e0-47fd-8ad7-a0151a408f87","leftValue":"={{ $json.timeZone }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-48],"id":"62a4c084-91ee-4525-99ac-25e9a2aec5ea","name":"Does Not Exist?","disabled":true},{"parameters":{"operation":"get","propertyName":"timeZone","key":"={{ $json.telegramId }}_TZ","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[96,-48],"id":"7ca9e603-3e16-429c-b3ba-7ebf45f3d0c9","name":"Get Cached Time Zone","credentials":{"redis":{"id":"UKWNNzdg9opjGBYW","name":"Redis Cache"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"1CRIZvDnn0bOy1Y5","mode":"list","cachedResultName":"[TG] Get Cached Conversation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('When Executed by Another Workflow').item.json.telegramId }}"},"matchingColumns":["telegramId"],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[544,-112],"id":"b166c1cf-ad38-4a5f-a132-64c040f067e9","name":"Get Chat History","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"9OyASSckcIeMWtfb","mode":"list","cachedResultUrl":"/workflow/9OyASSckcIeMWtfb","cachedResultName":"[TG] Get Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[768,-112],"id":"0dc60d43-946e-4b55-8325-401725d0065f","name":"Compute Time Zone"},{"parameters":{"assignments":{"assignments":[{"id":"29ad7c76-3dcb-4e2b-9f4f-3d52f99bb65b","name":"timeZone","value":"={{ $json.time_zone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-32],"id":"1d9dfc6c-45bf-4386-8f51-18ce0a9d1f38","name":"Unify Time Zone"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Cached Time Zone","type":"main","index":0}]]},"Does Not Exist?":{"main":[[{"node":"Get Chat History","type":"main","index":0}],[{"node":"Unify Time Zone","type":"main","index":0}]]},"Get Cached Time Zone":{"main":[[{"node":"Does Not Exist?","type":"main","index":0}]]},"Get Chat History":{"main":[[{"node":"Compute Time Zone","type":"main","index":0}]]},"Compute Time Zone":{"main":[[{"node":"Unify Time Zone","type":"main","index":0}]]},"Unify Time Zone":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386791","userId":"d24503d6-48da-4af1-8599-177cd8501341"}}]},"versionId":"d1c36e9d-543e-4ed3-bb65-fbcb5220c243","triggerCount":0,"shared":[{"createdAt":"2025-08-27T21:26:29.349Z","updatedAt":"2025-08-27T21:26:29.349Z","role":"workflow:owner","workflowId":"vMEAaS35KPAgCfnj","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}