2025-10-06/Block Time.json
{"createdAt":"2025-06-03T14:42:02.719Z","updatedAt":"2025-07-02T20:51:00.747Z","id":"cP1LfJX63huRGfNp","name":"Block Time","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"block-time","responseMode":"responseNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,40],"id":"51317a1f-637f-4a28-ad28-38b4a3ea5d4e","name":"Webhook","webhookId":"3965b93b-8fa0-47a0-b824-e1d366168b67"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e79c59e1-a783-4bfb-a60d-ecf4104c8d36","leftValue":"={{ $json.body.task_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"12fff553-64e2-4a6e-be8b-b87ed6e8943e","leftValue":"={{ $json.body.task_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,-120],"id":"ce15b753-086d-4492-8df3-f7e18563a2dc","name":"Invalid Task ID?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e79c59e1-a783-4bfb-a60d-ecf4104c8d36","leftValue":"={{ $json.body.start }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"12fff553-64e2-4a6e-be8b-b87ed6e8943e","leftValue":"={{ $json.body.start }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,180],"id":"7c19fd95-4201-4aed-9e56-ad87bba3e5b0","name":"Invalid Start Date?"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"error\": \"Bad request. Invalid value for 'task_id' or 'start' fields.\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,-80],"id":"fd62569a-f502-4da8-8fb8-a8b396e632ba","name":"Bad Request"},{"parameters":{"operation":"get","tableId":"tasks","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.task_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[300,140],"id":"64502ec0-a55d-40a4-9de8-f5cb0f00d119","name":"Get Task","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[80,140],"id":"7fb237bc-6ecf-4b9c-8b6c-a70bce038146","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"5nLuIwEVYbgbkXK2","mode":"list","cachedResultName":"Get Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('Get Task').item.json.user_id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[520,140],"id":"609f8230-64c6-44fa-8b1c-645fc2dd7f45","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('Merge').item.json.body.attendees ?? []).append($json.user.email)}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('Webhook').item.json.body.start).plus($('Webhook').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,140],"id":"5dcd669e-4fbc-499a-8e67-50272bc37929","name":"Set Attendees & End Date"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,140],"id":"dda7067b-4bb1-40c2-bb0f-c49c7285f7df","name":"Create Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,40],"id":"954d965d-951a-4cba-9f19-abb3bef8c58d","name":"Success"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.calendarRequest = {\n  description: $('Get Task').item.json.description,\n  summary: $('Webhook').item.json.title || $('Get Task').item.json.description,\n  start: {\n    dateTime: $('Webhook').item.json.start,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      {method: \"email\", minutes: 1440},\n      {method: \"popup\", \"minutes\": 10},\n    ],\n  },\n  attendees: $json.attendees?.map(email => ({ email })) ?? []\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,140],"id":"9c03da57-fc92-4ca8-b3ab-3271a9421cb0","name":"Create Event Request"},{"parameters":{"options":{"responseCode":500,"responseKey":"=Problem creating the event: {{ $json.error }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,240],"id":"bf2f0de2-3a0e-4bc6-8317-ea43ed502bb8","name":"Internal Server Error"}],"connections":{"Webhook":{"main":[[{"node":"Invalid Task ID?","type":"main","index":0},{"node":"Invalid Start Date?","type":"main","index":0}]]},"Invalid Task ID?":{"main":[[{"node":"Bad Request","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Invalid Start Date?":{"main":[[{"node":"Bad Request","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get Task":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Get Task","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]},"Set Attendees & End Date":{"main":[[{"node":"Create Event Request","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Internal Server Error","type":"main","index":0}]]},"Create Event Request":{"main":[[{"node":"Create Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv845833.hstgr.cloud","user-agent":"axios/1.8.3","content-length":"141","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv845833.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6f7b0ad69aaf","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"task_id":"018644d6-fc73-406e-97d3-71f78f3fc84f","start":"2025-07-03T10:00:00.000","title":"Investigate n8n workflow failure","duration":60},"webhookUrl":"https://n8n.srv845833.hstgr.cloud/webhook/block-time","executionMode":"production"}}]},"versionId":"96be9a21-3e0c-4eeb-89d0-140e19752cbb","triggerCount":1,"shared":[{"createdAt":"2025-06-03T14:42:02.719Z","updatedAt":"2025-06-03T14:42:02.719Z","role":"workflow:owner","workflowId":"cP1LfJX63huRGfNp","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}