2025-10-06/🖥️ [TG] Get Cached Time Zone.json
{"createdAt":"2025-08-28T21:47:44.283Z","updatedAt":"2025-10-02T22:13:31.017Z","id":"9jeZuQfIDYEe9f5u","name":"🖥️ [TG] Get Cached Time Zone","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"},{"name":"userId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-144],"id":"37a82f6d-9b3e-4d5e-a9e4-7f81d78047d4","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"DHcoEXUvqWWKxbZD","mode":"list","cachedResultUrl":"/workflow/DHcoEXUvqWWKxbZD","cachedResultName":"🖥️ [TG] Get Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').first().json.userId }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-64,-144],"id":"d2bfb287-b0a5-4c71-afba-27bb71403fba","name":"Compute Time Zone"},{"parameters":{"assignments":{"assignments":[{"id":"29ad7c76-3dcb-4e2b-9f4f-3d52f99bb65b","name":"timeZone","value":"={{ $json.time_zone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-144],"id":"101277fc-c017-4450-ba68-10259f86afc9","name":"Unify Time Zone"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"qeLIz9DKeWvrpPeL","mode":"list","cachedResultName":"user_timezones","cachedResultUrl":"/projects/8nyfoRCh3nEYWaKJ/datatables/qeLIz9DKeWvrpPeL"},"filters":{"conditions":[{"keyName":"telegram_id","keyValue":"={{ $json.telegramId }}"},{"keyName":"updatedAt","keyValue":"={{ $now.minus(6, 'hour') }}"},{"keyName":"environment","keyValue":"dev"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-288,-368],"id":"fa7443a4-4c59-4b25-9a28-0d97cec90978","name":"Get row(s)","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true},"id":"4aaa41a9-19f7-4ac2-991f-ce0ea4733662"}],"combinator":"and"},"renameOutput":true,"outputKey":"EXISTS"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-64,-368],"id":"a8d5b77f-98ea-4cfd-8a32-73e61382e599","name":"Switch"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Compute Time Zone","type":"main","index":0}]]},"Compute Time Zone":{"main":[[{"node":"Unify Time Zone","type":"main","index":0}]]},"Unify Time Zone":{"main":[[]]},"Get row(s)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790","userId":"d24503d6-48da-4af1-8599-177cd8501341"}}]},"versionId":"d974edf0-026a-4b57-ba2e-6d41c28870b1","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:47:44.283Z","updatedAt":"2025-08-28T21:47:44.283Z","role":"workflow:owner","workflowId":"9jeZuQfIDYEe9f5u","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}