2025-10-05/[TG] Send Telegram Message.json
{"createdAt":"2025-07-30T17:52:03.058Z","updatedAt":"2025-09-24T20:52:47.266Z","id":"B4R5PCXZUaCSSdbV","name":"[TG] Send Telegram Message","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telegramId"},{"name":"message"},{"name":"chatId"},{"name":"toolActivity","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,32],"id":"78ddec19-6321-41da-892c-207c5136a706","name":"When Executed by Another Workflow"},{"parameters":{"tableId":"telegram_messages","fieldsUi":{"fieldValues":[{"fieldId":"telegram_date","fieldValue":"={{ $json.date }}"},{"fieldId":"telegram_date_utc","fieldValue":"={{ $json.timetampUTC }}"},{"fieldId":"text","fieldValue":"={{ $('When Executed by Another Workflow').first().json.message }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"sender_id","fieldValue":"={{ $json.sender_id }}"},{"fieldId":"recipient_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.telegramId }}"},{"fieldId":"tool_activity","fieldValue":"={{ $('When Executed by Another Workflow').item.json.toolActivity }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-336,32],"id":"0f780c95-6a09-44e7-a885-b132ea89be46","name":"Save Message","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1232,32],"id":"eb1517e4-6e78-4ad2-b5f9-8675de2622df","name":"Send AI Reply [HTML]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1008,104],"id":"aeeae22e-97ad-4676-ad81-d736310864ae","name":"Send AI Reply [Markdown]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-784,176],"id":"7eb495d5-79d0-40e6-98d3-9324196ab18b","name":"Send AI Reply [Markdown - Legacy]","webhookId":"4e2ea654-f456-4ef4-8523-ded918a8be61","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}}},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.result.date.toDateTime('s').toUTC().toISO() }}","type":"string"},{"id":"d4e09809-2917-4c71-af40-f0350588e22c","name":"date","value":"={{ $json.result.date }}","type":"string"},{"id":"c127d9bc-29dd-450e-8325-ab8bb6e78ee4","name":"sender_id","value":"={{ $json.result.from.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,32],"id":"c1c5ab8c-07e9-4f9d-aa62-6d9193a892a2","name":"Parse Timestamp & Consolidate TG Data"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send AI Reply [HTML]","type":"main","index":0}]]},"Send AI Reply [HTML]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}],[{"node":"Send AI Reply [Markdown]","type":"main","index":0}]]},"Send AI Reply [Markdown]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}],[{"node":"Send AI Reply [Markdown - Legacy]","type":"main","index":0}]]},"Send AI Reply [Markdown - Legacy]":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}]]},"Parse Timestamp & Consolidate TG Data":{"main":[[{"node":"Save Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telegramId":"1598386790","message":"Here is your schedule for today, September 17th, 2025 (America/Bogota):\n\n- 8:45 AM – 9:45 AM: Toptal Interview - Andrew Lidster - [FT/PT/Hourly] AI Engineer with Strong Knowledge of DSPy\n- 10:00 AM – 10:45 AM: Jesús <> Madison (Attendee: mc@ucspa.com, response: needsAction)\n- 1:30 PM – 4:00 PM: Unavailable\n- 6:00 PM – 6:45 PM: Out of office\n\nLet me know if you need details or want to make any changes! 😊","chatId":"1598386790","toolActivity":[]}}]},"versionId":"398f9515-a41e-414f-b523-e95214e1f306","triggerCount":0,"shared":[{"createdAt":"2025-07-30T17:52:03.058Z","updatedAt":"2025-07-30T17:52:03.058Z","role":"workflow:owner","workflowId":"B4R5PCXZUaCSSdbV","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}