2025-09-08/[TG] List Events.json
{"createdAt":"2025-07-31T22:35:36.546Z","updatedAt":"2025-09-02T15:41:24.512Z","id":"6QyO6cwvo04GtJfR","name":"[TG] List Events","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"from"},{"name":"to"},{"name":"timeZone"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,80],"id":"e46458f5-f5b8-4839-a8be-7dceb0b8e039","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultName":"Get Token for TG Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-16,80],"id":"998331eb-ddef-4fd9-ba4c-59fbb5f8a89b","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"9f092131-4eb5-4f4d-8bb5-ced3bd034685","name":"message","value":"There was an error. Try later.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,176],"id":"8ed46314-d484-439d-bfd3-20f6bc37e312","name":"Set Error Message"},{"parameters":{"url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').first().json.query }}"},{"name":"timeMin","value":"={{ $('When Executed by Another Workflow').item.json.from }}"},{"name":"timeMax","value":"={{ $('When Executed by Another Workflow').item.json.to }}"},{"name":"timeZone","value":"={{ $('When Executed by Another Workflow').first().json.timeZone }}"},{"name":"singleEvents","value":"true"},{"name":"orderBy","value":"startTime"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,80],"id":"0d99c7d5-65ea-404b-8828-ac7e7882c25a","name":"List Events","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,-16],"id":"5558b6a3-cc66-4bac-896c-181803c1ccde","name":"Split Out","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"9ef9218c-e8ae-453d-b020-762e44794aa9","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"9f5f69b2-0a57-4592-8731-02a08e6b0189","name":"creator","value":"={{ $json.creator }}","type":"object"},{"id":"bb6e0edb-1191-460a-b053-e827e6ad6792","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"9bc6be0d-682b-426e-9868-be99e189bed0","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"5bac55ef-1377-492d-871a-304f84b4157d","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"82976509-447e-4062-bd9d-d1377a1ef793","name":"attendees","value":"={{ $json.attendees.map(a => a.email) }}","type":"array"},{"id":"fb9498ec-e991-4050-9fdc-e0a88cd4276d","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,80],"id":"22908862-8e1b-45ad-9576-fe594af68fa7","name":"Simplify Event"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1104,80],"id":"803b675d-6afe-4054-af29-f82f497d3a50","name":"Consolidate Events"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e6a0513-16b2-4eca-9e5b-5c586b1a4b1e","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,-16],"id":"9b180756-846b-4862-bfba-7630d5c9f1f2","name":"Empty?"},{"parameters":{"assignments":{"assignments":[{"id":"4fac521a-301f-4c62-a3fb-11df925dffae","name":"events","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-112],"id":"6d0e3a22-3f44-4e21-925e-2826ab1b5fba","name":"Empty Events"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"List Events","type":"main","index":0}]]},"List Events":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Set Error Message","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Empty?","type":"main","index":0}]]},"Simplify Event":{"main":[[{"node":"Consolidate Events","type":"main","index":0}]]},"Empty?":{"main":[[{"node":"Empty Events","type":"main","index":0}],[{"node":"Simplify Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"1IUzo3Dc3BdIwXUaaxxS4XlmKgn1","from":"2025-08-28T00:00:00+08:00","to":"2025-08-29T00:00:00+08:00","timeZone":"Asia/Hong_Kong","query":""}}]},"versionId":"3400efbf-faef-4945-8d5b-d6611a569838","triggerCount":0,"shared":[{"createdAt":"2025-07-31T22:35:36.546Z","updatedAt":"2025-07-31T22:35:36.546Z","role":"workflow:owner","workflowId":"6QyO6cwvo04GtJfR","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}