2025-11-26/[Slack] Create Event + Meeting Link.json
{"updatedAt":"2025-11-26T22:14:44.749Z","createdAt":"2025-11-23T01:01:14.040Z","id":"skgRlbZifrDwMeNu","name":"[Slack] Create Event + Meeting Link","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('When Executed by Another Workflow').item.json.attendees.trim() === \"NONE\" ? [] : \n$('When Executed by Another Workflow').item.json.attendees.trim().split(\",\").map(item => item.trim()))}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.start).plus($('When Executed by Another Workflow').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,144],"id":"48f9d3ae-99c8-429b-9c33-aabdc3305c64","name":"Set Attendees & End Date"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"conferenceDataVersion","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.calendarRequest) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,144],"id":"fb70e497-50eb-4981-9074-e8dab3b2773a","name":"Create Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.calendarRequest = {\n  description: ($('When Executed by Another Workflow').item.json.description + \"\\n---\\nCreated by Tomo QuickCal: https://cal.hellotomo.ai\"),\n  summary: $('When Executed by Another Workflow').item.json.summary,\n  location: $('When Executed by Another Workflow').item.json.location ?? 'N/A',\n  start: {\n    dateTime: $('When Executed by Another Workflow').item.json.start,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('Get Token').item.json.user.time_zone\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      {method: \"email\", minutes: 1440},\n      {method: \"popup\", \"minutes\": 10},\n    ],\n  },\n  attendees: $json.attendees?.map(email => ({ email })) ?? [],\n   conferenceData: {\n    createRequest: {\n      requestId: `n8n-meet-req-${Date.now()}`, // A unique ID for the request\n      conferenceSolutionKey: {\n        type: \"hangoutsMeet\"\n      }\n    }\n  }\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,144],"id":"3090750d-c9e0-4cb9-974c-55907342d10c","name":"Create Event Request"},{"parameters":{"workflowInputs":{"values":[{"name":"description"},{"name":"start"},{"name":"duration","type":"number"},{"name":"title"},{"name":"userId"},{"name":"summary"},{"name":"attendees"},{"name":"location"},{"name":"channel_id"},{"name":"message_ts"},{"name":"slack_user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-992,144],"id":"6f544b04-330d-4ccf-9f3f-966759d28b1c","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,240],"id":"89a4eb84-3087-44e8-a5e1-8246343f5187","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-544,144],"id":"87987ba3-d85a-40ca-b887-92a185eb7cfb","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"51576b36-4e1f-4b73-8c7a-4b1747e257c4","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,48],"id":"3f850e8d-32aa-4ddf-a90b-37de786ac33b","name":"Set Event Info"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.slack_user_id }}","channel_id":"={{ $json.channel_id }}","message_ts":"={{ $json.message_ts }}","text":"_Creating event... :white_check_mark:_"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-768,144],"id":"c99463fc-aa3c-4595-b2d6-22af662411d4","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"}],"connections":{"Set Attendees & End Date":{"main":[[{"node":"Create Event Request","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Create Event Request":{"main":[[{"node":"Create Event","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]},"Call '[Slack] Edit Message'":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Create Event":[{"json":{"kind":"calendar#event","etag":"\"3506615258583614\"","id":"vqjp0hpf2d8bqats4hmm6i2ln0","status":"confirmed","htmlLink":"https://www.google.com/calendar/event?eid=dnFqcDBocGYyZDhicWF0czRobW02aTJsbjAgZGV2QGppYS1ub21hZHMuY29t","created":"2025-07-23T21:53:48.000Z","updated":"2025-07-23T21:53:49.291Z","summary":"Test summary","creator":{"email":"dev@jia-nomads.com","self":true},"organizer":{"email":"dev@jia-nomads.com","self":true},"start":{"dateTime":"2025-07-23T01:00:00+10:00","timeZone":"Australia/Sydney"},"end":{"dateTime":"2025-07-23T02:00:00+10:00","timeZone":"Australia/Sydney"},"iCalUID":"vqjp0hpf2d8bqats4hmm6i2ln0@google.com","sequence":0,"attendees":[{"email":"dev@jia-nomads.com","organizer":true,"self":true,"responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/cwk-nqam-six","conferenceData":{"createRequest":{"requestId":"n8n-meet-req-1753307628277","conferenceSolutionKey":{"type":"hangoutsMeet"},"status":{"statusCode":"success"}},"entryPoints":[{"entryPointType":"video","uri":"https://meet.google.com/cwk-nqam-six","label":"meet.google.com/cwk-nqam-six"},{"entryPointType":"more","uri":"https://tel.meet/cwk-nqam-six?pin=4109245312077","pin":"4109245312077"},{"regionCode":"AU","entryPointType":"phone","uri":"tel:+61-2-9051-6324","label":"+61 2 9051 6324","pin":"949321030"}],"conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_512dp.png"},"conferenceId":"cwk-nqam-six"},"reminders":{"useDefault":false,"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":10}]},"eventType":"default"}}],"When Executed by Another Workflow":[{"json":{"start":"2025-07-22T15:00:00+00:00","userId":"2vlTPXwWiYYsnlVTJXyTeGZ0u7P2","description":"Test description","duration":60,"title":"Test title","summary":"Test summary","attendees":"NONE","channel_id":"1598386790","message_ts":"4387","slack_user_id":"abc"}}]},"versionId":"2ac45c1a-bac5-4b9b-9a3f-2072f6b67ac7","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T01:01:14.040Z","createdAt":"2025-11-23T01:01:14.040Z","role":"workflow:owner","workflowId":"skgRlbZifrDwMeNu","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}