2025-11-23/[WA] WhatsApp Job Processor.json
{"updatedAt":"2025-11-06T16:51:56.557Z","createdAt":"2025-11-05T21:52:30.972Z","id":"ECkWQaoCO08VO3YI","name":"[WA] WhatsApp Job Processor","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"503EbTmyLBMYLGzq","mode":"list","cachedResultUrl":"/workflow/503EbTmyLBMYLGzq","cachedResultName":"[WA] Get Cached WhatsApp Conversation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsAppId":"={{ $('Get Unprocessed Messages').first().json.sender_id.toNumber() }}"},"matchingColumns":["telegramId"],"schema":[{"id":"whatsAppId","displayName":"whatsAppId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1472,-304],"id":"1756a009-9d26-4eab-a5e1-28984d0bbf6a","name":"Get Chat History"},{"parameters":{"jsCode":"/**\n * Filter a chat history to only the last 2 hours and convert dates to a given time zone.\n *\n * @param {Array<{date:string,message:string,role:string}>} history\n * @param {string} tz IANA time zone, e.g. \"America/New_York\"\n * @param {number} hoursBack (optional) default 2\n * @returns {Array<{date:string,message:string,role:string}>}\n */\nfunction filterAndConvert(history, tz, hoursBack = 2) {\n  const nowUtc = Date.now();\n  const cutoffUtc = nowUtc - hoursBack * 60 * 60 * 1000;\n\n  return history\n    .filter(item => new Date(item.date).getTime() >= cutoffUtc)\n    .map(item => ({\n      ...item,\n      date: toTZISO(item.date, tz),\n    }));\n}\n\n/**\n * Convert an ISO string to the same moment expressed in another time zone,\n * returned as \"YYYY-MM-DDTHH:mm:ss[±HH:MM]\" (no milliseconds).\n *\n * Uses only built-ins (Intl.DateTimeFormat).\n */\nfunction toTZISO(dateString, tz) {\n  const d = new Date(dateString);\n\n  // Grab all parts in the desired TZ\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  }).formatToParts(d).reduce((acc, p) => {\n    acc[p.type] = p.value;\n    return acc;\n  }, {});\n\n  // Build local datetime string\n  const local = `${parts.year}-${parts.month}-${parts.day}T${parts.hour}:${parts.minute}:${parts.second}`;\n\n  // Compute offset for that TZ at that instant\n  const offsetMinutes = getOffsetMinutes(d, tz);\n  const sign = offsetMinutes >= 0 ? '+' : '-';\n  const abs = Math.abs(offsetMinutes);\n  const hh = String(Math.floor(abs / 60)).padStart(2, '0');\n  const mm = String(abs % 60).padStart(2, '0');\n\n  return `${local}${sign}${hh}:${mm}`;\n}\n\n/**\n * Find the UTC offset (in minutes) of a date in a given TZ using Intl.\n */\nfunction getOffsetMinutes(date, tz) {\n  // Format the same date in UTC and in the TZ, compare epoch millis reconstructed\n  const fmt = (zone) => {\n    const parts = new Intl.DateTimeFormat('en-CA', {\n      timeZone: zone,\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit',\n      second: '2-digit',\n      hour12: false,\n    }).formatToParts(date).reduce((acc, p) => {\n      acc[p.type] = p.value;\n      return acc;\n    }, {});\n    return Date.UTC(\n      Number(parts.year),\n      Number(parts.month) - 1,\n      Number(parts.day),\n      Number(parts.hour),\n      Number(parts.minute),\n      Number(parts.second)\n    );\n  };\n\n  const asUtcMillis = fmt('UTC');\n  const asTzMillis = fmt(tz);\n  return (asTzMillis - asUtcMillis) / (60 * 1000);\n}\n\nconst history = $('Get Chat History').first().json.chat_history;\nconst tz = $('Get Time Zone').first().json.timeZone || 'America/New_York';\n\nconst filtered = filterAndConvert(history, tz);\n\n// Return as n8n items\nreturn { json: { history: filtered } };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-304],"id":"604b6d2e-af8a-4ab3-8e17-76df0da7db8d","name":"Filter Chat History"},{"parameters":{"workflowId":{"__rl":true,"value":"DxcWfjGZBSLJZj2h","mode":"list","cachedResultUrl":"/workflow/DxcWfjGZBSLJZj2h","cachedResultName":"[WA] WhatsApp Tomo Scheduler"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_history":"={{ $json }}","user_message":"={{ $('Bundle Messages').item.json.bundledText }}","time_zone":"={{ $('Get Time Zone').first().json.time_zone }}","user":"={{ $('Get Cached User by WhatsApp ID').item.json }}","whatsapp_id":"={{ $('Get Unprocessed Messages').first().json.sender_id }}"},"matchingColumns":[],"schema":[{"id":"chat_history","displayName":"chat_history","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user","displayName":"user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"whatsapp_id","displayName":"whatsapp_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2144,-304],"id":"45299a54-d70d-4801-9b1a-bf2ef17fa502","name":"Send to Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"xjeiN435FRXPWLFI","mode":"list","cachedResultUrl":"/workflow/xjeiN435FRXPWLFI","cachedResultName":"[WA] Refresh Cached WhatsApp Chat History and Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsAppId":"={{ $('Get Unprocessed Messages').first().json.sender_id }}","userId":"={{ $('Get Cached User by WhatsApp ID').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"whatsAppId","displayName":"whatsAppId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2592,-304],"id":"0000c0e6-1544-461e-850d-249271eedf77","name":"Refresh Caches"},{"parameters":{"workflowId":{"__rl":true,"value":"d7PDXuxH12xsDziS","mode":"list","cachedResultUrl":"/workflow/d7PDXuxH12xsDziS","cachedResultName":"[WA] Get WhatsApp Time Zone [TO-DO]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userId":"={{ $('Get Cached User by WhatsApp ID').item.json.id }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1696,-304],"id":"9238a109-9035-4cfe-a2c9-945dc533cbbb","name":"Get Time Zone"},{"parameters":{"workflowId":{"__rl":true,"value":"eLqQcZieFefTtfBC","mode":"list","cachedResultUrl":"/workflow/eLqQcZieFefTtfBC","cachedResultName":"[WA] Get Cached User by WhatsApp ID"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsAppId":"={{ $('Get Unprocessed Messages').first().json.sender_id.toNumber() }}"},"matchingColumns":["message_from_id"],"schema":[{"id":"whatsAppId","displayName":"whatsAppId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1248,-304],"name":"Get Cached User by WhatsApp ID","id":"91a0c023-b5d5-4885-a939-7ee9ef41da88"},{"parameters":{"workflowId":{"__rl":true,"value":"apdLhNBw1CpdN88e","mode":"list","cachedResultUrl":"/workflow/apdLhNBw1CpdN88e","cachedResultName":"[WA] Send WhatsApp Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.response }}","toolActivity":"={{ $json.toolActivity ?? [] }}","whatsAppId":"={{ $('Get Unprocessed Messages').first().json.sender_id }}"},"matchingColumns":[],"schema":[{"id":"whatsAppId","displayName":"whatsAppId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2368,-304],"id":"7d1d6b93-f543-4b2a-8091-88f66ee8cead","name":"Send WhatsApp Message","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.ai_processing_queue\nSET status = 'processing', updated_at = NOW()\nWHERE id = (\n  SELECT id\n  FROM public.ai_processing_queue\n  WHERE status = 'pending' AND process_at <= NOW()\n  AND type = 'whatsapp'\n  ORDER BY process_at\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[144,-304],"id":"5a3e87bf-2c24-4840-ad7c-b211f636efcd","name":"Fetch Due Job","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,-304],"id":"b50d1086-b931-4e29-9d2a-9b148d42f963","name":"Schedule 2 Seconds"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM public.whatsapp_messages\nWHERE sender_id = '{{ $('Found?').item.json.sender_id }}'\n  AND processed_by_ai_at IS NULL\nORDER BY whatsapp_date ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,-304],"id":"429c0924-28b4-40d0-b793-eb6bdecd70e1","name":"Get Unprocessed Messages","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"jsCode":"const messages = $input.all();\n// Store the IDs of the messages we are processing\nconst messageIds = messages.map(item => item.json.id);\n// Combine the text of all messages into one string\nconst bundledText = messages.map(item => item.json.text).join('\\n\\n---\\n\\n');\n\nconst jobs = $(\"Found?\").all();\nconst jobsIds = jobs.map(item => item.json.id);\n\n// Pass both the bundled text and the IDs to the next nodes\nreturn {\n  bundledText,\n  processedMessageIds: messageIds,\n  jobsIds\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-304],"id":"6359ca3f-bf89-4232-bee1-99b4ea95fad4","name":"Bundle Messages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d75e122-ad45-4b13-b858-53be7d7ba2a8","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,-304],"id":"38d4b02d-bf78-447c-b809-c0085b9950f8","name":"Found?"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.whatsapp_messages\nSET processed_by_ai_at = '{{ $now.toISO() }}'\nWHERE id IN ({{ $('Bundle Messages').item.json.processedMessageIds.join(\",\") }})","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2816,-304],"id":"c74825e9-3c9b-4dff-ba03-e442da5e9cf0","name":"Mark Messages as Processed","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.ai_processing_queue\nWHERE id IN ({{ $('Bundle Messages').item.json.jobsIds.join(\",\") }})","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3008,-304],"id":"9f967056-d537-4e19-98ee-f13479cbb689","name":"Delete Jobs","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"send","phoneNumberId":"749915891538765","recipientPhoneNumber":"=+{{ $('Get Unprocessed Messages').first().json.sender_id.toNumber() }}","textBody":"_Thinking🧠_","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1024,-304],"id":"0464965b-022a-42bd-8ca4-7a233ba46899","name":"Send message","webhookId":"b9698a85-0af4-4fa4-a426-e159bcbe9f19","credentials":{"whatsAppApi":{"id":"hn7HYT0djID7QTau","name":"WhatsApp account"}},"onError":"continueRegularOutput"}],"connections":{"Get Chat History":{"main":[[{"node":"Get Time Zone","type":"main","index":0}]]},"Filter Chat History":{"main":[[{"node":"Send to Agent","type":"main","index":0}]]},"Send to Agent":{"main":[[{"node":"Send WhatsApp Message","type":"main","index":0}]]},"Get Time Zone":{"main":[[{"node":"Filter Chat History","type":"main","index":0}]]},"Get Cached User by WhatsApp ID":{"main":[[{"node":"Get Chat History","type":"main","index":0}]]},"Send WhatsApp Message":{"main":[[{"node":"Refresh Caches","type":"main","index":0}]]},"Schedule 2 Seconds":{"main":[[{"node":"Fetch Due Job","type":"main","index":0}]]},"Fetch Due Job":{"main":[[{"node":"Found?","type":"main","index":0}]]},"Get Unprocessed Messages":{"main":[[{"node":"Bundle Messages","type":"main","index":0}]]},"Bundle Messages":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Found?":{"main":[[{"node":"Get Unprocessed Messages","type":"main","index":0}]]},"Refresh Caches":{"main":[[{"node":"Mark Messages as Processed","type":"main","index":0}]]},"Mark Messages as Processed":{"main":[[{"node":"Delete Jobs","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Get Cached User by WhatsApp ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Schedule 2 Seconds":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule 2 Seconds":[{"json":{"timestamp":"2025-10-30T23:07:46.000+01:00","Readable date":"October 30th 2025, 11:07:46 pm","Readable time":"11:07:46 pm","Day of week":"Thursday","Year":"2025","Month":"October","Day of month":"30","Hour":"23","Minute":"07","Second":"46","Timezone":"Europe/Berlin (UTC+01:00)"}}]},"versionId":"62260669-2e9b-4baa-8429-4fbbd66d6998","triggerCount":1,"shared":[{"updatedAt":"2025-11-05T21:52:30.972Z","createdAt":"2025-11-05T21:52:30.972Z","role":"workflow:owner","workflowId":"ECkWQaoCO08VO3YI","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}