2025-11-27/[Slack] List Events.json
{"updatedAt":"2025-11-26T22:16:32.882Z","createdAt":"2025-11-22T21:55:58.479Z","id":"Byfe0pTsLvE7zd0j","name":"[Slack] List Events","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"from"},{"name":"to"},{"name":"timeZone"},{"name":"query"},{"name":"channel_id"},{"name":"message_ts"},{"name":"slack_user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1776,304],"id":"6e95ba1f-0ac9-49b7-ad51-50ffae4e296f","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1328,304],"id":"5f42acb9-d95c-4130-820b-fe97c028c209","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"9f092131-4eb5-4f4d-8bb5-ced3bd034685","name":"message","value":"There was an error. Try later.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,400],"id":"814573c5-6745-4be1-bd3d-e665039c4ded","name":"Set Error Message"},{"parameters":{"url":"https://www.googleapis.com/calendar/v3/calendars/primary/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').first().json.query }}"},{"name":"timeMin","value":"={{ $('When Executed by Another Workflow').item.json.from }}"},{"name":"timeMax","value":"={{ $('When Executed by Another Workflow').item.json.to }}"},{"name":"timeZone","value":"={{ $('When Executed by Another Workflow').first().json.timeZone }}"},{"name":"singleEvents","value":"true"},{"name":"orderBy","value":"startTime"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,304],"id":"7b56771d-c388-4176-b49b-9af47826f312","name":"List Events","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-880,208],"id":"c32e470a-b167-4c05-a79c-3fcbf72a9b2d","name":"Split Out","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"9ef9218c-e8ae-453d-b020-762e44794aa9","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"9f5f69b2-0a57-4592-8731-02a08e6b0189","name":"creator","value":"={{ $json.creator }}","type":"object"},{"id":"bb6e0edb-1191-460a-b053-e827e6ad6792","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"9bc6be0d-682b-426e-9868-be99e189bed0","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"5bac55ef-1377-492d-871a-304f84b4157d","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"82976509-447e-4062-bd9d-d1377a1ef793","name":"attendees","value":"={{ $json.attendees.filter(a => a.email !== $('Get Token').item.json.user.email) }}","type":"array"},{"id":"fb9498ec-e991-4050-9fdc-e0a88cd4276d","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"a39250b4-5346-429e-b658-a53a53412d6b","name":"location","value":"={{ $json.location }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,304],"id":"d3fe3018-0941-4948-bdef-b1c263b02d09","name":"Simplify Event"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-208,304],"id":"be90209e-aa53-41f7-8e16-5b499278902d","name":"Consolidate Events"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e6a0513-16b2-4eca-9e5b-5c586b1a4b1e","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,208],"id":"6dd6859c-13bb-40df-b82f-bb32932a4b9d","name":"Empty?"},{"parameters":{"assignments":{"assignments":[{"id":"4fac521a-301f-4c62-a3fb-11df925dffae","name":"events","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,112],"id":"c9e4379a-d4d7-4766-9483-26b9c7890a76","name":"Empty Events"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.slack_user_id }}","channel_id":"={{ $json.channel_id }}","message_ts":"={{ $json.message_ts }}","text":"_Listing events... :calendar: :clipboard:_"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,304],"id":"863b7fbd-d999-44f7-99b4-0fa5a9593630","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"List Events","type":"main","index":0}]]},"List Events":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Set Error Message","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Empty?","type":"main","index":0}]]},"Simplify Event":{"main":[[{"node":"Consolidate Events","type":"main","index":0}]]},"Empty?":{"main":[[{"node":"Empty Events","type":"main","index":0}],[{"node":"Simplify Event","type":"main","index":0}]]},"Call '[Slack] Edit Message'":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"userId":"1IUzo3Dc3BdIwXUaaxxS4XlmKgn1","from":"2025-08-28T00:00:00+08:00","to":"2025-08-29T00:00:00+08:00","timeZone":"Asia/Hong_Kong","query":"","channel_id":"1598386790","message_ts":"4387","slack_user_id":"avc"}}]},"versionId":"9b761fba-767b-4412-ac08-777a6dd0d0a9","triggerCount":0,"shared":[{"updatedAt":"2025-11-22T21:55:58.479Z","createdAt":"2025-11-22T21:55:58.479Z","role":"workflow:owner","workflowId":"Byfe0pTsLvE7zd0j","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}