2025-11-27/[Slack] Delete Event.json
{"updatedAt":"2025-11-26T22:15:46.886Z","createdAt":"2025-11-23T01:00:06.043Z","id":"u3FfPjqnxdcTRgIi","name":"[Slack] Delete Event","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"eventId"},{"name":"channel_id"},{"name":"message_ts"},{"name":"slack_user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-848,-32],"id":"a1c82520-87e6-40de-a961-1103c05b4fc6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,64],"id":"83f1e090-9fa4-41eb-a907-e484d8059bc9","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-400,-32],"id":"5ae29d01-d14f-4275-8490-aa8f36d7149a","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-128],"id":"5ed7d29b-8524-4a3c-b957-56a6be03bbc6","name":"Set Event Info"},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,-32],"id":"50c323b5-b567-4c56-88b4-7fd43961386b","name":"Delete Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.slack_user_id }}","channel_id":"={{ $json.channel_id }}","message_ts":"={{ $json.message_ts }}","text":"_Attempting to delete event... :boom:_"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-624,-32],"id":"f911ad4d-a001-4eaf-bade-5254182bc620","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Delete Event","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Call '[Slack] Edit Message'":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"ce858cd8-a4b8-4892-b345-c98fe4b36b0b","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T01:00:06.043Z","createdAt":"2025-11-23T01:00:06.043Z","role":"workflow:owner","workflowId":"u3FfPjqnxdcTRgIi","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}