2025-11-29/[WA] Get WhatsApp Conversation.json
{"updatedAt":"2025-11-05T22:17:12.237Z","createdAt":"2025-10-28T17:36:07.731Z","id":"ztghoamaVYoATerm","name":"[WA] Get WhatsApp Conversation","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsAppId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-752,16],"id":"6e59c071-77c3-4121-a260-02ecafceda62","name":"When Executed by Another Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chat_history","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,112],"id":"166bfb0d-7350-42f2-a034-bdf775cc02b1","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09465d71-5169-455e-81bd-c6671ebf45ba","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,16],"id":"e0adfba1-399a-4d2c-83d0-ecfbfd394562","name":"Empty?"},{"parameters":{"assignments":{"assignments":[{"id":"55fc4a4c-6b64-454a-8934-c6bc794cc233","name":"chat_history","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-80],"id":"4f34e734-c289-4d30-a08f-c40b7746eee1","name":"Return Empty Array"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  whatsapp_date_utc AS date,\n  text AS message,\n  tool_activity as toolActivity,\n  CASE\n    WHEN direction = 'inbound' THEN 'user'\n    ELSE 'ai'\n  END AS role\nFROM\n  whatsapp_messages\nWHERE (recipient_id = '{{ $('When Executed by Another Workflow').item.json.whatsAppId }}' OR sender_id = '{{ $('When Executed by Another Workflow').item.json.whatsAppId }}') AND status = 'delivered'\nORDER BY whatsapp_date DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,16],"id":"4489ec0e-9334-40d3-b3e7-8797f7edbd27","name":"Get WhatsApp Messages","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get WhatsApp Messages","type":"main","index":0}]]},"Empty?":{"main":[[{"node":"Return Empty Array","type":"main","index":0}],[{"node":"Aggregate","type":"main","index":0}]]},"Get WhatsApp Messages":{"main":[[{"node":"Empty?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"whatsAppId":"573195884149"}}]},"versionId":"93962691-69d5-4141-973b-a2c437e595ea","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T17:36:07.731Z","createdAt":"2025-10-28T17:36:07.731Z","role":"workflow:owner","workflowId":"ztghoamaVYoATerm","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}