2026-02-15/Service Google Places Search API.json
{"updatedAt":"2026-01-27T20:06:02.794Z","createdAt":"2026-01-25T17:50:34.846Z","id":"SMeSMyKqXMLQQhac","name":"Service Google Places Search API","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.extra_params.service }}","rightValue":"slack","operator":{"type":"string","operation":"equals"},"id":"e2f2bb5a-bfaa-4fe9-8e34-f3b714b5b496"}],"combinator":"and"},"renameOutput":true,"outputKey":"SLACK"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1776,-128],"id":"4407c638-0b43-4da6-a276-1b4c8b0b56e9","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"GfIHrNUR5C561U2N","mode":"list","cachedResultUrl":"/workflow/GfIHrNUR5C561U2N","cachedResultName":"[Slack] Google Places Search API"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $json.body.query }}","slack_user_id":"={{ $json.body.extra_params.params.slack_user_id }}","channel_id":"={{ $json.body.extra_params.params.channel_id }}","message_ts":"={{ $json.body.extra_params.params.message_ts }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,-224],"id":"48a022a2-9197-4f2f-a523-2c1b8869ddcf","name":"Call '[Slack] Google Places Search API'"},{"parameters":{"workflowId":{"__rl":true,"value":"kXQdpbqm9MW3XOA1","mode":"list","cachedResultUrl":"/workflow/kXQdpbqm9MW3XOA1","cachedResultName":"[TG] Google Places Search API"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $json.body.query }}","chatId":"={{ $json.body.extra_params.params.chat_id }}","messageId":"={{ $json.body.extra_params.params.message_id.toString() }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,-32],"id":"507f4ad9-93bc-447a-9b70-a893cdb53eda","name":"Call '[TG] Google Places Search API'"},{"parameters":{"httpMethod":"POST","path":"search-places","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2000,-128],"id":"2beffd1b-b6e0-4178-95f0-8b88ecced822","name":"Webhook","webhookId":"8ef528ea-e0c1-4b18-8856-57487598ecec"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-1328,-128],"id":"887a7ff4-8c1d-4769-a3cd-ccccc2b82d62","name":"Respond to Webhook"}],"connections":{"Switch":{"main":[[{"node":"Call '[Slack] Google Places Search API'","type":"main","index":0}],[{"node":"Call '[TG] Google Places Search API'","type":"main","index":0}]]},"Call '[Slack] Google Places Search API'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call '[TG] Google Places Search API'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv845833.hstgr.cloud","user-agent":"python-requests/2.32.5","content-length":"145","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"74.220.52.254","x-forwarded-host":"n8n.srv845833.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0b78dbd8128d","x-real-ip":"74.220.52.254"},"params":{},"query":{},"body":{"query":"coffee places in Rockdale, Sydney","extra_params":{"service":"telegram","params":{"chat_id":"8325351367","message_id":10647}}},"webhookUrl":"https://n8n.srv845833.hstgr.cloud/webhook/search-places","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"2dd48f4b-5802-4594-8fff-b692bac4768a","activeVersionId":"2dd48f4b-5802-4594-8fff-b692bac4768a","triggerCount":1,"shared":[{"updatedAt":"2026-01-25T17:50:34.846Z","createdAt":"2026-01-25T17:50:34.846Z","role":"workflow:owner","workflowId":"SMeSMyKqXMLQQhac","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":{"updatedAt":"2026-01-27T20:06:04.312Z","createdAt":"2026-01-27T20:06:02.797Z","versionId":"2dd48f4b-5802-4594-8fff-b692bac4768a","workflowId":"SMeSMyKqXMLQQhac","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.extra_params.service }}","rightValue":"slack","operator":{"type":"string","operation":"equals"},"id":"e2f2bb5a-bfaa-4fe9-8e34-f3b714b5b496"}],"combinator":"and"},"renameOutput":true,"outputKey":"SLACK"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1776,-128],"id":"4407c638-0b43-4da6-a276-1b4c8b0b56e9","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"GfIHrNUR5C561U2N","mode":"list","cachedResultUrl":"/workflow/GfIHrNUR5C561U2N","cachedResultName":"[Slack] Google Places Search API"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $json.body.query }}","slack_user_id":"={{ $json.body.extra_params.params.slack_user_id }}","channel_id":"={{ $json.body.extra_params.params.channel_id }}","message_ts":"={{ $json.body.extra_params.params.message_ts }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,-224],"id":"48a022a2-9197-4f2f-a523-2c1b8869ddcf","name":"Call '[Slack] Google Places Search API'"},{"parameters":{"workflowId":{"__rl":true,"value":"kXQdpbqm9MW3XOA1","mode":"list","cachedResultUrl":"/workflow/kXQdpbqm9MW3XOA1","cachedResultName":"[TG] Google Places Search API"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $json.body.query }}","chatId":"={{ $json.body.extra_params.params.chat_id }}","messageId":"={{ $json.body.extra_params.params.message_id.toString() }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,-32],"id":"507f4ad9-93bc-447a-9b70-a893cdb53eda","name":"Call '[TG] Google Places Search API'"},{"parameters":{"httpMethod":"POST","path":"search-places","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2000,-128],"id":"2beffd1b-b6e0-4178-95f0-8b88ecced822","name":"Webhook","webhookId":"8ef528ea-e0c1-4b18-8856-57487598ecec"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-1328,-128],"id":"887a7ff4-8c1d-4769-a3cd-ccccc2b82d62","name":"Respond to Webhook"}],"connections":{"Switch":{"main":[[{"node":"Call '[Slack] Google Places Search API'","type":"main","index":0}],[{"node":"Call '[TG] Google Places Search API'","type":"main","index":0}]]},"Call '[Slack] Google Places Search API'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call '[TG] Google Places Search API'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Dev JIA","name":"Version 2dd48f4b","description":"","autosaved":false},"tags":[]}