2025-11-22/[WA] Send WhatsApp Message.json
{"updatedAt":"2025-11-04T17:17:36.603Z","createdAt":"2025-10-28T19:41:05.332Z","id":"apdLhNBw1CpdN88e","name":"[WA] Send WhatsApp Message","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsAppId"},{"name":"message"},{"name":"toolActivity","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[288,-48],"id":"7084a049-4cd6-4f90-88c2-eb2d9e9df7ca","name":"When Executed by Another Workflow"},{"parameters":{"tableId":"whatsapp_messages","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_date","fieldValue":"={{ $json.date }}"},{"fieldId":"whatsapp_date_utc","fieldValue":"={{ $json.timestampUTC }}"},{"fieldId":"text","fieldValue":"={{ $('When Executed by Another Workflow').first().json.message }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"sender_id","fieldValue":"={{ $json.sender_id }}"},{"fieldId":"recipient_id","fieldValue":"={{ $('Send Message').item.json.contacts[0].input }}"},{"fieldId":"tool_activity","fieldValue":"={{ $('When Executed by Another Workflow').item.json.toolActivity }}"},{"fieldId":"whatsapp_message_id","fieldValue":"={{ $('Send Message').item.json.messages[0].id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,-48],"id":"4a1b31a6-df3c-4571-96b8-1364d6a42710","name":"Save Message","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timestampUTC","value":"={{ $now.toDateTime('s').toUTC().toISO() }}","type":"string"},{"id":"d4e09809-2917-4c71-af40-f0350588e22c","name":"date","value":"={{ $now.toSeconds().round()}}","type":"string"},{"id":"c127d9bc-29dd-450e-8325-ab8bb6e78ee4","name":"sender_id","value":"=15551366684","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-48],"id":"127215a9-6d47-4aa1-9b31-896b573fb07a","name":"Parse Timestamp & Consolidate TG Data"},{"parameters":{"operation":"send","phoneNumberId":"749915891538765","recipientPhoneNumber":"=+{{ $json.whatsAppId }}","textBody":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[512,-48],"id":"74486fe2-a6a4-4074-9b80-9ac36204beee","name":"Send Message","webhookId":"6cdfa395-548b-477e-b41d-ae5117358a8a","credentials":{"whatsAppApi":{"id":"hn7HYT0djID7QTau","name":"WhatsApp account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Parse Timestamp & Consolidate TG Data":{"main":[[{"node":"Save Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Parse Timestamp & Consolidate TG Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"whatsAppId":"573195884149","message":"Here is your schedule for today, September 17th, 2025 (America/Bogota):\n\n- 8:45 AM – 9:45 AM: Toptal Interview - Andrew Lidster - [FT/PT/Hourly] AI Engineer with Strong Knowledge of DSPy\n- 10:00 AM – 10:45 AM: Jesús <> Madison (Attendee: mc@ucspa.com, response: needsAction)\n- 1:30 PM – 4:00 PM: Unavailable\n- 6:00 PM – 6:45 PM: Out of office\n\nLet me know if you need details or want to make any changes! 😊","toolActivity":[]}}],"Send Message":[{"json":{"messaging_product":"whatsapp","contacts":[{"input":"573195884149","wa_id":"573195884149"}],"messages":[{"id":"wamid.HBgMNTczMTk1ODg0MTQ5FQIAERgSNTQzNUUwNjRBREE0NDU0N0U3AA=="}]}}]},"versionId":"5a8f6a41-851f-4ff9-8938-7a682c628114","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T19:41:05.332Z","createdAt":"2025-10-28T19:41:05.332Z","role":"workflow:owner","workflowId":"apdLhNBw1CpdN88e","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}