2025-09-28/🤖 Summarize Email.json
{"createdAt":"2025-05-29T16:24:58.138Z","updatedAt":"2025-07-01T18:40:42.960Z","id":"JAyl1FPmU3Cqj8PE","name":"🤖 Summarize Email","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"body"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-180,-160],"id":"a458d0e9-dda7-4298-a290-896fd7c9ab74","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,-160],"id":"1d556575-cab6-45d2-9242-0463b24dcb56","name":"Set Response"},{"parameters":{"assignments":{"assignments":[{"id":"098d9f2e-e217-4398-bde9-6db676a1e316","name":"system","value":"=You are an email summarizer.\n\nYour job is to create a summary of the provided text, which corresponds to a Gmail email.\n\nKeep the summary concise, to the point, and don't leave out any important information.\n\nMake your summary AT MOST 3 sentences long.\n\nOnly return the summary.","type":"string"},{"id":"bf63ab0e-8438-4c58-b68c-b84b862a6812","name":"user","value":"={{ $json.body }}","type":"string"},{"id":"bfb36bc6-024d-4caf-89cd-350a12747cb0","name":"temperature","value":0.3,"type":"number"},{"id":"ec433b14-2ef1-4f54-9ab3-9bc93abd767a","name":"maxTokens","value":-1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-160],"id":"f7b15187-b34b-472c-b3b1-fe3bade5dbd2","name":"Set Prompts & Params"},{"parameters":{"jsonSchemaExample":"  {\n    \"body\": \"Ken's package from Amazon has been delivered. He can track the package, return or replace items, and view order details using the provided links. The email is from a no-reply address.\"\n  }","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[440,60],"id":"d2d5474a-5bac-44ea-aee0-8bbc75858e58","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.user }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.system }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[276,-160],"id":"8cb475a0-b907-4605-8654-25e31fbad432","name":"Summarizer","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Set Prompts & Params').item.json.user }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('Set Prompts & Params').item.json.system }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[756,-85],"id":"40c19fd8-9c56-428f-b60c-7b311e31b78a","name":"Summarizer (Fallback)","retryOnFail":true,"maxTries":5},{"parameters":{"options":{"maxTokens":"={{ $json.maxTokens }}","temperature":"={{ $json.temperature }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[260,60],"id":"25c110af-a8a6-4859-8a72-9abb4b83bb69","name":"GPT 4.1 Mini","credentials":{"openRouterApi":{"id":"SeBKTiKFu0nP1GsL","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":"={{ $json.maxTokens }}","temperature":"={{ $json.temperature }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,260],"id":"bd107ac1-86fd-4734-be63-d4c38450a318","name":"4.1","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set Prompts & Params","type":"main","index":0}]]},"Set Prompts & Params":{"main":[[{"node":"Summarizer","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarizer (Fallback)","type":"ai_outputParser","index":0},{"node":"Summarizer","type":"ai_outputParser","index":0}]]},"Summarizer":{"main":[[{"node":"Set Response","type":"main","index":0}],[{"node":"Summarizer (Fallback)","type":"main","index":0}]]},"Summarizer (Fallback)":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"GPT 4.1 Mini":{"ai_languageModel":[[{"node":"Summarizer","type":"ai_languageModel","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"Summarizer (Fallback)","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"body":"*****************************************************************\n\"Reclaim control of your life and focus on the activities that\ntruly matter to you, rather than constantly reacting to\ndistractions.\"\n*****************************************************************\n\nHey Friend,\n\nTime’s almost up. You've got just 24 hours left to lock in your\nspecial discount to get my $300 Productivity Masterclass (and\nbonuses!) for just $10 \n( https://clicks.growthday.com/f/a/cC1l1T0gMCm2HrEttwnv2Q~~/AAQRxRA~/Kdtnzha32bZA5lBIZaCnwOkz0kXzxnsMZpSZyGpmTOkhnQrJ_KUGPzjhEwAP93cGVVJdDQ9QB6tNd1m4opnGABF9V_at4TuM8vpzXM-NHuyhKIjbzVEhqvCxKKXHKcx6-XrsArL4JNevae5MxiggDhXiWlJNMd1g8bKQwtXPK-4~ )!\n\ncountdownmail.com\n\nGet the Masterclass now - just $10! \n( https://clicks.growthday.com/f/a/RDC-_gd5U7JzE9JKbd5fDQ~~/AAQRxRA~/Kdtnzha32bZA5lBIZaCnwOkz0kXzxnsMZpSZyGpmTOkhnQrJ_KUGPzjhEwAP93cGlfSfl00fKUxKqVOGaamWaIY1yrzGjGLkO9bfnnlsRc5sClENY_HdlRD2eTBkw_LFOcn8J5nz83xg2XFZ_qzQXXobkQp0-iac5M05CcRWYC0~ )\n\nIsn't your progress and productivity worth ten bucks? (please\nplease say YES!)\n\nWhat would happen if you doubled your output, while still\nincreasing your excellence and the joy you have in life?\n\nWhat if by using the strategies you will learn in these courses\nyou got back a few more hours a month - more time FOCUSED ON YOUR\nGOALS, more time MOTIVATED, more time growing into your best\nself?\n\nI say it's worth it. And if not, just ask for a refund within\n30days no prob.\n\nLet me train you on productivity like I do with my celebrity\nclients, teachers, entrepreneurs, Olympians, CEOs.\n\nYou'll also get bonus sessions on financial productivity and\ndeveloping your mindset and the resilience handle the \"bad days\"!\n\nGet the $300 Productivity Masterclass and the bonus course on\nTime Management right now. Just $10 \n( https://clicks.growthday.com/f/a/rhMhZOBjiyWp_H5_QW-ILQ~~/AAQRxRA~/Kdtnzha32bZA5lBIZaCnwOkz0kXzxnsMZpSZyGpmTOkhnQrJ_KUGPzjhEwAP93cGFOPzjFhPcIvnRJpbCTNvx6eq34_MX59exU-twHjuLXtaLbKJIC7ZpEB8de2lGBa3FIN4LYxMRXNma2UpCouOmNIjEPja23fS8OVolAJv49o~ ). But\nhurry, this is a limited time offer that expires in 24 hours!\n\nAll of these sessions combined have a value of over $1500!! Get\nit all for just $10 \n( https://clicks.growthday.com/f/a/eeHXRUCtOKSPgNiM81PTug~~/AAQRxRA~/Kdtnzha32bZA5lBIZaCnwOkz0kXzxnsMZpSZyGpmTOkhnQrJ_KUGPzjhEwAP93cGKe_Cu3IlHxHq_aGyTK1TIBqUjF55xgae0dvM-sqweilZvcQa_HglgXclbuzD8x9uQIfLcrMbBiHI3cmxutTJ2LnpgS6SJRLfHRLkOdMQ7uI~ ).\n\nIt takes 2 minutes to signup, and you've got 30-days to love it\nor refund it.\n\nJoin us here and let's go \n( https://clicks.growthday.com/f/a/KjoaIAogjgFhxasfHgS0Tw~~/AAQRxRA~/Kdtnzha32bZA5lBIZaCnwOkz0kXzxnsMZpSZyGpmTOkhnQrJ_KUGPzjhEwAP93cG_AYY0OzFocyZ0dKlMKwTwZG4yIdDJUr6-fZI0dzKwr5s7gyzQ8Ko8rpIDwh7Ep_CiQ_q6z1_Yn5GHnfmUA4oBr7eCMyXAaXeDq28_My34r8~ ). Just\n24 hours left!\n\n- Brendon\n\nFounder & CEO, GrowthDay \n( https://clicks.growthday.com/f/a/bRdA_StQN5A1W9e7dSYv1g~~/AAQRxRA~/YNfzYl7l71brQJd9enEJ5THXsB_7NbUvqsmqOWO8ptaQkqTAqTT0Ul2yh1e4V2I9bDazTTtu_h8BJnbh2DKBOT5q6gdqWgeZ-4ZWbUIL26dMfGklSABOIU22z3Z1y1lAxBz0FU6vfhpGQeni9IpYZg~~ )\n#1 New York Times Bestselling Author\nHost, Motivation with Brendon Burchard Podcast \n( https://clicks.growthday.com/f/a/Fr2IlO7qxwtMuWMm_FSD_A~~/AAQRxRA~/p_whvLIAG0r5lXXl-QnfYXS22deEkBJWFASARXxQNNwGBqYkA2lC4-a0fURWwPEKYTlmbRcBeaWfk6-5bnEiyZU4qa__nN8sRuei77tua_a_ViaJPSPP9ZJXx1mubHXsVoa7do9Bxz77lKcjp40Z4ozzNkon35P75UdSwfHG4MXYlaHQmNv4fb1UJbn0Yk0m )\n\n\"The world's leading high performance coach.\" - Forbes\n\"One of the most influential leaders in personal growth.\" - O,\nThe Oprah Magazine\n500M video views. 100M downloads. 6M fans. Every day for you!\n\nUnsubscribe ( https://clicks.growthday.com/f/a/DqhS1Uy8yqkoMM_WFRW_8g~~/AAQRxRA~/W08fdb7jjOv8QgC9kNVv3qQXEuj7-8qt3bo3ZZK7iaS3CFAKMFbRgjMSOXQ4DvmEiMa2AJRuRhe5bBR6b1KtfiuJKObNyS3i-z9dfXWvEn-eu72v48v4SY-b6RN9E--U2U0yIUHXwL0Czuuat6fQJHhRsp0xvdV5UZGTxJEl6zZ873YmLfogQbfVa8XLOkTi-u2QfVNqlrtqjqElgW1FfSd4ubUrOKFsfVdfJvqszyLH12no1pZmdYm7OL496Gl5i-XH1qWzjp1Cu8A-Phb1JK6it4PNn93VXLo-5jpsrCvU5rqtnGHFNyUgLCuy-qZSTQEWzfY87yMBW6RBWt-nFz3oeSNYbvsRCAAVcYLURt7924tpwpM-A0yTu0tMDmtD8W95JnQ-N90IhsF6WxhjWThobbc5OxqTdID0Q81HmiZtF1a2TkU2PEtT-h46I8zEf5eFtRtRVBjoeaw14UXz4qCWb6mZ2QczG4OJNX6aLDlpCIWL0c5e1ObI-qi4aOoaCeuE6CWlmllEoAsItyos5E8e0nwaOyAfdw8H4uWL2ZCRBoDZanE21Nze3FVLYxizQJSsj410_hW40YLVQk-squdaSAiWJx9g2oFtZG6YfhsnrWm1G0u7h7CJm6XcRCBAehbO0hdyw4erBpPmUXp08vEA"}}]},"versionId":"c6c7e5e8-d56d-4b81-b2da-38181dc2e233","triggerCount":0,"shared":[{"createdAt":"2025-05-29T16:24:58.138Z","updatedAt":"2025-05-29T16:24:58.138Z","role":"workflow:owner","workflowId":"JAyl1FPmU3Cqj8PE","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}