2026-04-11/Edit Service Message.json
{"updatedAt":"2026-01-20T19:12:10.430Z","createdAt":"2026-01-20T19:08:03.054Z","id":"t-u8ZwcwhVML6GdeISc_t","name":"Edit Service Message","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"extra_params","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"c6abb2d7-de0f-4807-b6e7-5864903c434e","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae738d8c-de34-4362-a02b-4650639b080d","leftValue":"={{ $json.extra_params.service }}","rightValue":"slack","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"501334ab-3490-40d0-8f9a-be12860f3917","name":"Slack?"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.extra_params.params.slack_user_id }}","channel_id":"={{ $json.extra_params.params.channel_id }}","message_ts":"={{ $json.extra_params.params.message_ts }}","text":"={{ $json.message }}"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[400,-96],"id":"4f059faa-047e-45e6-8750-fde7170cd746","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.extra_params.params.chat_id }}","messageId":"={{ $json.extra_params.params.message_id }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,176],"id":"c124e9c7-da97-4bd9-be92-d32c1bce28b5","name":"Edit a text message","webhookId":"ad56dc99-91d1-4c6e-a23e-1e34327e41dd","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Slack?","type":"main","index":0}]]},"Slack?":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}],[{"node":"Edit a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Test","extra_params":{"service":"slack","params":{"slack_user_id":"U07U3MJ9SQY","channel_id":"1598386790","message_ts":"4387"}}}}]},"versionId":"238da27d-fcc7-4ec7-bf70-afa3c9503e9d","activeVersionId":"238da27d-fcc7-4ec7-bf70-afa3c9503e9d","triggerCount":0,"shared":[{"updatedAt":"2026-01-20T19:08:03.054Z","createdAt":"2026-01-20T19:08:03.054Z","role":"workflow:owner","workflowId":"t-u8ZwcwhVML6GdeISc_t","projectId":"8nyfoRCh3nEYWaKJ"}],"activeVersion":{"updatedAt":"2026-01-20T19:12:12.342Z","createdAt":"2026-01-20T19:12:10.431Z","versionId":"238da27d-fcc7-4ec7-bf70-afa3c9503e9d","workflowId":"t-u8ZwcwhVML6GdeISc_t","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"extra_params","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"c6abb2d7-de0f-4807-b6e7-5864903c434e","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae738d8c-de34-4362-a02b-4650639b080d","leftValue":"={{ $json.extra_params.service }}","rightValue":"slack","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"501334ab-3490-40d0-8f9a-be12860f3917","name":"Slack?"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.extra_params.params.slack_user_id }}","channel_id":"={{ $json.extra_params.params.channel_id }}","message_ts":"={{ $json.extra_params.params.message_ts }}","text":"={{ $json.message }}"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[400,-96],"id":"4f059faa-047e-45e6-8750-fde7170cd746","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.extra_params.params.chat_id }}","messageId":"={{ $json.extra_params.params.message_id }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,176],"id":"c124e9c7-da97-4bd9-be92-d32c1bce28b5","name":"Edit a text message","webhookId":"ad56dc99-91d1-4c6e-a23e-1e34327e41dd","credentials":{"telegramApi":{"id":"ZhOp4IaJqCFjHFqK","name":"Ask Tomo (PROD)"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Slack?","type":"main","index":0}]]},"Slack?":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}],[{"node":"Edit a text message","type":"main","index":0}]]}},"authors":"Dev JIA","name":"Version 238da27d","description":"","autosaved":false},"tags":[]}