2025-06-24/1. Extract Tasks for Authenticated Users.json
{"createdAt":"2025-05-29T16:21:39.378Z","updatedAt":"2025-06-24T03:21:04.744Z","id":"F87ElNHdKKnbBMxC","name":"1. Extract Tasks for Authenticated Users","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-80],"id":"0b1afa52-e8e4-4ef1-a298-d7a3570c5ff8","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,120],"id":"348bc8dc-f2ab-4107-9ce8-2754a1e885a4","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"40ae722b-7a8f-4eea-82f6-3ac76d693d59","name":"since","value":1,"type":"number"},{"id":"a16cdbd6-2d67-473e-b1cd-1c6c276c6977","name":"max_results","value":25,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,20],"id":"78062798-5fa7-4864-b5b1-0f6995ad36e7","name":"Set Parameters"},{"parameters":{"workflowId":{"__rl":true,"value":"5nLuIwEVYbgbkXK2","mode":"list","cachedResultName":"Get Token"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[320,-120],"id":"a6507c7e-d005-4bfe-b545-f2473804b674","name":"Get Token and User","onError":"continueErrorOutput"},{"parameters":{"url":"https://www.googleapis.com/gmail/v1/users/me/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"maxResults","value":"={{ $('Set Parameters').item.json.max_results }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"},{"name":"q","value":"={{ \"after:\" + (new Date(Date.now() - 1000*60*60*24*$('Set Parameters').item.json.since).toISOString().split('T')[0]) + \" in:inbox\"}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-120],"id":"3eff405c-5bb1-45b6-8e96-28212faa62c0","name":"Get Gmail IDs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[100,-180],"id":"c796f178-db5c-412b-bf6f-8d50d1d1a9dc","name":"Loop over Users"},{"parameters":{"operation":"executeQuery","query":"SELECT id\nFROM \"public\".users\nWHERE refresh_token IS NOT NULL\nAND client_id IS NOT NULL\nAND client_secret IS NOT NULL\nAND access_token IS NOT NULL\nAND refresh_expired IS NOT NULL","options":{"delayClosingIdleConnection":1}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-120,20],"id":"cfbd76ca-63f9-4b78-bd91-a29e53983f02","name":"Pull Authenticated User IDs","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Mj4RxNBaTdIesZPt","mode":"list","cachedResultName":"1.5 Extract tasks for single user"},"workflowInputs":{"mappingMode":"defineBelow","value":{"messages":"={{ $json.messages }}","userId":"={{ $('Get Token and User').item.json.user.id}}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messages","displayName":"messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1160,-40],"id":"2eda0bb0-9628-48e9-98fa-a921642ff063","name":"Extract Tasks for Single User"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Pull Authenticated User IDs","type":"main","index":0}]]},"Get Token and User":{"main":[[{"node":"Get Gmail IDs","type":"main","index":0}],[{"node":"Loop over Users","type":"main","index":0}]]},"Get Gmail IDs":{"main":[[{"node":"Extract Tasks for Single User","type":"main","index":0}]]},"Loop over Users":{"main":[[],[{"node":"Get Token and User","type":"main","index":0}]]},"Pull Authenticated User IDs":{"main":[[{"node":"Loop over Users","type":"main","index":0}]]},"Extract Tasks for Single User":{"main":[[{"node":"Loop over Users","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d826188-200c-42f0-bda8-ca672b198f54","triggerCount":1,"tags":[]}