2025-09-17/WIP ==> 🖥️ [TG] Receive Messages.json
{"createdAt":"2025-09-10T22:06:45.250Z","updatedAt":"2025-09-17T12:06:16.119Z","id":"RhllwUnqY1UlCyq6","name":"WIP ==> 🖥️ [TG] Receive Messages","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}","message":"I’m still in beta, so my responses won’t always be perfect — but I’ll keep improving, and your feedback will help me get better. Just message me here to start, and let’s make scheduling easier together!","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1376,-944],"id":"ef4876a8-7ee1-487e-8b71-f46026c86922","name":"Send Welcome Message (II)"},{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=Hi{{ $json.display_name !== undefined && $json.display_name !== null? ' ' + $json.display_name: '' }}! I’m Tomo 👋.\n\nI’m here to help you plan and schedule your day.","telegramId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1168,-944],"id":"1b0c1fe9-28e0-43da-8b0a-7ddc4ce82b56","name":"Send Welcome Message (I)"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"dev","mode":"list","cachedResultName":"dev"},"table":{"__rl":true,"value":"ai_processing_queue","mode":"list","cachedResultName":"ai_processing_queue"},"columns":{"mappingMode":"defineBelow","value":{"status":"pending","process_at":"={{ $now.plus({ seconds: 5 }).toISO() }}","sender_id":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"matchingColumns":["sender_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"sender_id","displayName":"sender_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"process_at","displayName":"process_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,-752],"id":"312bfc56-dd7e-4af7-987e-62fd9f510c6c","name":"Upsert Job","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"schema":{"__rl":true,"value":"=dev","mode":"name"},"table":{"__rl":true,"value":"telegram_messages","mode":"list","cachedResultName":"telegram_messages"},"columns":{"mappingMode":"defineBelow","value":{"telegram_date":"={{ $('Telegram Trigger').item.json.message.date }}","telegram_date_utc":"={{ $json.timetampUTC }}","text":"={{ $('Telegram Trigger').item.json.message.text }}","direction":"inbound","sender_id":"={{ $('Telegram Trigger').item.json.message.from.id }}","recipient_id":"={{ $json.tomoTelegramId }}","raw_payload":"={{ $('Telegram Trigger').item.json }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telegram_date","displayName":"telegram_date","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"telegram_date_utc","displayName":"telegram_date_utc","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_id","displayName":"recipient_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_payload","displayName":"raw_payload","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"attachments","displayName":"attachments","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tool_activity","displayName":"tool_activity","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"processed_by_ai_at","displayName":"processed_by_ai_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,-752],"id":"a4ef6282-10bb-4a7a-a318-b430e2feb8ba","name":"Save Message","retryOnFail":true,"credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE dev.users\nSET telegram_id = '{{ $('Telegram Trigger').item.json.message.chat.id }}'\nWHERE telegram_id IS NULL\n  AND telegram_signup_token = '{{ $json.telegramToken }}'\n  RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,-944],"id":"dcaa6b7c-f9e2-4cd6-985b-4d433d0ff34d","name":"Update User with Telegram ID","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d64023c7-9389-4271-92a1-ccadf5bf35f3","leftValue":"={{ $json.message.chat.type }}","rightValue":"private","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-848],"id":"d25168c2-975d-4628-9066-aa5d43b21701","name":"Private?"},{"parameters":{"assignments":{"assignments":[{"id":"fbfa8f50-e7ec-4a2e-b015-cb686b2be6b8","name":"telegramToken","value":"={{ $('Telegram Trigger').item.json.message.text.split(\" \")[1].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-944],"id":"5d251073-a066-4ec5-86ea-31ebabbdaa4c","name":"Isolate Sign Up Token"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dcf5122-b614-4414-805f-e9888284deea","leftValue":"={{ $('Telegram Trigger').item.json.message.text.startsWith(\"/start \") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-848],"id":"2926ea6b-ebfa-4aff-93b2-f809f64a631a","name":"Start Command?"},{"parameters":{"assignments":{"assignments":[{"id":"994defb3-f232-4a03-a0c8-248ff454b522","name":"timetampUTC","value":"={{ $json.message.date.toDateTime('s').toUTC().toISO() }}","type":"string"},{"id":"6148ee13-6558-4289-b01e-6c7faff5a027","name":"tomoTelegramId","value":"8354483273","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-848],"id":"feb2ca02-6cb6-4f82-8483-54cd57a2da82","name":"Parse Timestamp from Inbound Message and Set Tomo TG ID"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-176,-848],"id":"b909f77c-c21e-4f09-9197-ceadb3816301","name":"Telegram Trigger","webhookId":"ec5f506b-2edb-4a67-adfa-acca7ebbc54a","credentials":{"telegramApi":{"id":"jVBGRP26zaEzfcME","name":"Tomo DEV"}}}],"connections":{"Send Welcome Message (I)":{"main":[[{"node":"Send Welcome Message (II)","type":"main","index":0}]]},"Save Message":{"main":[[{"node":"Upsert Job","type":"main","index":0}]]},"Update User with Telegram ID":{"main":[[{"node":"Send Welcome Message (I)","type":"main","index":0}]]},"Private?":{"main":[[{"node":"Parse Timestamp from Inbound Message and Set Tomo TG ID","type":"main","index":0}]]},"Isolate Sign Up Token":{"main":[[{"node":"Update User with Telegram ID","type":"main","index":0}]]},"Start Command?":{"main":[[{"node":"Isolate Sign Up Token","type":"main","index":0}],[{"node":"Save Message","type":"main","index":0}]]},"Parse Timestamp from Inbound Message and Set Tomo TG ID":{"main":[[{"node":"Start Command?","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Private?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Run Every 30 Seconds":{"recurrenceRules":[]},"node:Run Every 15 Seconds":{"recurrenceRules":[]},"node:Run Every 5 Seconds":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6f420800-4e36-4564-8b78-a0bd407fab65","triggerCount":1,"shared":[{"createdAt":"2025-09-10T22:06:45.250Z","updatedAt":"2025-09-10T22:06:45.250Z","role":"workflow:owner","workflowId":"RhllwUnqY1UlCyq6","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}