2025-06-23/🤖 Create Extended Task Description.json
{"createdAt":"2025-05-29T16:24:27.826Z","updatedAt":"2025-05-29T19:47:08.531Z","id":"2hOMz3bVWinKdXJF","name":"🤖 Create Extended Task Description","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=## Role\nYour role is to generate a clear, detailed, and actionable task description based on information extracted from an email. Your output should maintain clarity while ensuring completeness and professionalism.\n\n\n## Input:\n\nYou will receive the following details:\n\t*\tTask Description: A brief summary of the task extracted from the email.\n\t*\tEmail Body: The full content of the email where the task was identified.\n\t*\tEmail Thread Summary: A summary of the conversation leading to the current email.\n\t*\tDue Date: The deadline for the task (if available).\n\t*\tEmail Subject: The subject line of the email.\n\t*\tPriority: The urgency or importance of the task.\n\t*   Sender Name: Name of the sender.\n\t*   Sender Email: Sender email.\n\t*   Recipient Name: Name of the recipient\n\t*   Recipient Email: Recipient email.\n\n## Instructions:\n\nExpand the given Task Description by incorporating relevant context from the Email Body and Email Thread Summary to create a well-defined task. Your response should:\n\t1.\tClarify the Task Scope: Ensure the task is explicit, specifying what needs to be done, by whom, and any key details missing from the original description.\n\t2.\tIncorporate Context: If necessary, use relevant information from the email body and thread to provide additional instructions, references, or background.\n\t3.\tMaintain Clarity & Actionability: The output should be precise, structured, and easy to understand. If applicable, include steps or dependencies.\n\t4.\tReflect Priority & Deadline: If the task has a due date or priority level, ensure that urgency is properly communicated.\n\t5.\tPreserve Professionalism: The output should maintain a professional and neutral tone suitable for business communication.\n\t6.  Be Concise: Keep the response short and focused on the task at hand. No more than two sentences or 50 words.\n\n## Example Input & Output:\n\n### Input:\n\t*\tTask Description: \"Prepare a draft response to the client's inquiry.\"\n\t*\tEmail Body: \"Hey John, can you draft a response to the client about their concerns regarding the contract terms? They're particularly worried about the penalty clauses. Let's send them something by Thursday at the latest.\"\n\t*\tEmail Thread Summary: \"Client asked about penalty clauses in the contract. The team discussed internally, and [Sender] suggested sending a response addressing concerns.\"\n\t*\tDue Date: Thursday\n\t*\tEmail Subject: \"Client Concerns – Contract Terms\"\n\t*\tPriority: High\n    *   Sender Name: Martha Smith.\n\t*   Sender Email: martha@workforce.ai\n\t*   Recipient Name: John Adams\n\t*   Recipient Email: john.a@workspace.com\n\n\n### Output:\nDraft a clear, professional response addressing the client's concerns about penalty clauses, clarifying their purpose, reassuring compliance with company policies, and submit for internal review before client delivery. This high-priority task is due Thursday.","role":"system"},{"content":"=## Email Subject: {{ $('When Executed by Another Workflow').item.json.subject }}\n\n## Email Body: {{ $('When Executed by Another Workflow').item.json.body }}\n\n## Thread Summary: {{ $('When Executed by Another Workflow').item.json.threadSummary }}\n\n## Task Description: {{ $('When Executed by Another Workflow').item.json.taskDescription }}\n\n## Due Date: {{ $('When Executed by Another Workflow').item.json.dueDate }}\n\n## Priority: {{ $('When Executed by Another Workflow').item.json.priority }}\n\n## Sender Name: {{ $('When Executed by Another Workflow').item.json.senderName}}\n\n## Sender Email: {{ $('When Executed by Another Workflow').item.json.senderEmail }}\n\n## Recipient Name: {{ $('When Executed by Another Workflow').item.json.recipientName }}\n\n## Recipient Email: {{ $('When Executed by Another Workflow').item.json.recipientEmail }}\n"}]},"options":{"maxTokens":256,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,-120],"id":"5e5782b7-1b58-40eb-8bbf-569ad8726fc1","name":"Task Descriptor","retryOnFail":true,"maxTries":5,"waitBetweenTries":3000,"credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"subject"},{"name":"body"},{"name":"threadSummary"},{"name":"taskDescription"},{"name":"dueDate"},{"name":"priority"},{"name":"senderName"},{"name":"senderEmail"},{"name":"recipientName"},{"name":"recipientEmail"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-60,-120],"id":"9b94749c-fc07-41bd-8f91-43651c26955d","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"description\": {{ JSON.stringify($json.message.content) }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-120],"id":"0d0d36f1-ce33-4ee7-8b24-8aa1087a7bc4","name":"Set Response"}],"connections":{"Task Descriptor":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Task Descriptor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8f8aab1-9217-4439-8821-4b4a70ffd97d","triggerCount":0,"tags":[]}