2025-11-11/🐞 Report Error.json
{"updatedAt":"2025-09-23T23:18:22.246Z","createdAt":"2025-05-29T19:30:23.551Z","id":"63JMaA3ATIsJVc6Y","name":"🐞 Report Error","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[288,-48],"id":"76ffe04e-044b-4b0c-8c86-3bf741814e38","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"54ba2b46-bbcb-4bb6-8553-4fa511a6555a","name":"errorMessage","value":"=Workflow {{ $json.workflow.name }} failed with error message: {{ $json.execution.error.message }}\n\nExecution URL: {{ $json.execution.url }}\nLast Node Executed: {{ $json.execution.lastNodeExecuted }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-48],"id":"be7d8459-2459-49e6-a991-8e257da723c5","name":"Set Error Message"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08UM1G2F7C","mode":"list","cachedResultName":"n8n-notifications"},"text":"={{ $('Set Error Message').item.json.errorMessage }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[736,-48],"id":"81cd69e0-361f-4fc6-94ac-92954fde3cc9","name":"Slack","webhookId":"0b9a278d-d2d2-4ee6-bf1b-52c8f7878f26","credentials":{"slackApi":{"id":"g0yjDcIvy3bPIS6L","name":"Slack account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Set Error Message","type":"main","index":0}]]},"Set Error Message":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d2b6fad-7efa-4f9a-abfd-a8a6e771d81f","triggerCount":0,"shared":[{"updatedAt":"2025-05-29T19:30:23.551Z","createdAt":"2025-05-29T19:30:23.551Z","role":"workflow:owner","workflowId":"63JMaA3ATIsJVc6Y","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}