2025-09-15/WIP ==> 🖥️ [TG] Send Daily Schedule.json
{"createdAt":"2025-09-11T20:34:42.683Z","updatedAt":"2025-09-15T21:49:15.424Z","id":"o1kvoTrzzgnRM69i","name":"WIP ==> 🖥️ [TG] Send Daily Schedule","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,0],"id":"d823c2c5-91e6-4e82-987e-3dcf486ebc6f","name":"Every Hour"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM dev.users\nWHERE telegram_id IS NOT NULL\nAND client_secret_2 IS NOT NULL\nAND client_id_2 IS NOT NULL\nAND refresh_token_2 IS NOT NULL\nAND access_token_2 IS NOT NULL","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,0],"id":"789d97bc-0380-4258-af76-b25c1f4dd88d","name":"Get Valid Users","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kI31iVTkkY44j2Rv","mode":"list","cachedResultName":"🖥️ [TG] Send Telegram Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.response }}","telegramId":"={{ $('Get Valid Users').item.json.telegram_id }}","chatId":"={{ $('Get Valid Users').item.json.telegram_id }}","toolActivity":"={{ $json.toolActivity ?? [] }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"toolActivity","displayName":"toolActivity","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1008,0],"id":"813fa32e-1c1d-420e-9859-d6ef27741b2e","name":"Send Telegram Message","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"utMh5rQmfWApLYFc","mode":"list","cachedResultName":"🖥️ [TG] Scheduling Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_history":"={{ {} }}","time_zone":"={{ $('Get Time Zone').first().json.timeZone }}","user":"={{ $('Get Valid Users').item.json }}","user_message":"How does my day look like?"},"matchingColumns":[],"schema":[{"id":"chat_history","displayName":"chat_history","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"},{"id":"time_zone","displayName":"time_zone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user","displayName":"user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[784,0],"id":"506fd90c-70d3-4c32-890a-cc8929de83a0","name":"Send to Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"k1DGWUkYJAlFS4iw","mode":"list","cachedResultName":"🖥️ [TG] Refresh Cached Chat History and Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $('Get Valid Users').item.json.telegram_id }}","userId":"={{ $('Get Valid Users').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1232,0],"id":"ebc57cb9-6c86-416b-b9b9-b733796f0d0e","name":"Refresh Caches"},{"parameters":{"workflowId":{"__rl":true,"value":"9jeZuQfIDYEe9f5u","mode":"list","cachedResultName":"🖥️ [TG] Get Cached Time Zone"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telegramId":"={{ $json.telegram_id }}","userId":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"telegramId","displayName":"telegramId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[336,0],"id":"0cb0b434-bbd9-46c2-9550-c52a347501d2","name":"Get Time Zone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c00f72a2-4665-4387-9770-cd2708ebdec0","leftValue":"={{ $('Every Hour').item.json.timestamp.toDateTime().setZone($json.timeZone).hour }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,0],"id":"ee09f1f9-7345-4fdb-be78-0696257b9ceb","name":"8 AM in Local Zone?"}],"connections":{"Every Hour":{"main":[[{"node":"Get Valid Users","type":"main","index":0}]]},"Send Telegram Message":{"main":[[{"node":"Refresh Caches","type":"main","index":0}]]},"Send to Agent":{"main":[[{"node":"Send Telegram Message","type":"main","index":0}]]},"Refresh Caches":{"main":[[]]},"Get Time Zone":{"main":[[{"node":"8 AM in Local Zone?","type":"main","index":0}]]},"Get Valid Users":{"main":[[{"node":"Get Time Zone","type":"main","index":0}]]},"8 AM in Local Zone?":{"main":[[{"node":"Send to Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":{"node:Run Every 30 Seconds":{"recurrenceRules":[]},"node:Run Every 15 Seconds":{"recurrenceRules":[]},"node:Run Every 5 Seconds":{"recurrenceRules":[]},"node:Every Hour":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Send to Agent":[{"json":{"response":"Here’s your schedule for today (September 11th, 2025, America/Bogota):\n\n- 12:00 PM – 1:00 PM: Out of office\n- 1:30 PM – 4:00 PM: Unavailable\n- 6:00 PM – 6:45 PM: Out of office\n\nLet me know if you’d like to book some time or need more details!","toolActivity":[{"tool_name":"List_Events","tool_input":{"from":"2025-09-11T00:00:00-05:00","to":"2025-09-11T23:59:59-05:00","query":""},"tool_output":"\"[\\n  {\\n    \\\"events\\\": [\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T12:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T13:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Out of office\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"274vtqfnomlb4sh5d6vlldfrd0_20250911T170000Z\\\"\\n      },\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T13:30:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T16:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Unavailable\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"3ceka5fnt1as1mkigjck55v5bn_20250911T183000Z\\\"\\n      },\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T18:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T18:45:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Out of office\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"nd9eii747a5gl7fmdakkbbpkb7_20250911T230000Z\\\"\\n      }\\n    ]\\n  }\\n]\""}]}}],"Send Telegram Message":[{"json":{"id":"91","created_at":"2025-09-11T20:41:10.629Z","telegram_date":"1757623269","telegram_date_utc":"2025-09-11T20:41:09.000Z","sender_id":"7705569671","recipient_id":"1598386790","text":"Here’s your schedule for today (September 11th, 2025, America/Bogota):\n\n- 12:00 PM – 1:00 PM: Out of office\n- 1:30 PM – 4:00 PM: Unavailable\n- 6:00 PM – 6:45 PM: Out of office\n\nLet me know if you’d like to book some time or need more details!","raw_payload":null,"attachments":null,"direction":"outbound","tool_activity":{"toolActivity":[{"tool_name":"List_Events","tool_input":{"to":"2025-09-11T23:59:59-05:00","from":"2025-09-11T00:00:00-05:00","query":""},"tool_output":"\"[\\n  {\\n    \\\"events\\\": [\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T12:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T13:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Out of office\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"274vtqfnomlb4sh5d6vlldfrd0_20250911T170000Z\\\"\\n      },\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T13:30:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T16:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Unavailable\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"3ceka5fnt1as1mkigjck55v5bn_20250911T183000Z\\\"\\n      },\\n      {\\n        \\\"status\\\": \\\"confirmed\\\",\\n        \\\"creator\\\": {\\n          \\\"email\\\": \\\"jesus@datasmarts.net\\\",\\n          \\\"self\\\": true\\n        },\\n        \\\"start\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T18:00:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"end\\\": {\\n          \\\"dateTime\\\": \\\"2025-09-11T18:45:00-05:00\\\",\\n          \\\"timeZone\\\": \\\"America/Bogota\\\"\\n        },\\n        \\\"summary\\\": \\\"Out of office\\\",\\n        \\\"attendees\\\": null,\\n        \\\"id\\\": \\\"nd9eii747a5gl7fmdakkbbpkb7_20250911T230000Z\\\"\\n      }\\n    ]\\n  }\\n]\""}]},"processed_by_ai_at":null}}]},"versionId":"bc5ceee3-3287-4562-8c6a-b593674a220c","triggerCount":1,"shared":[{"createdAt":"2025-09-11T20:34:42.683Z","updatedAt":"2025-09-11T20:34:42.683Z","role":"workflow:owner","workflowId":"o1kvoTrzzgnRM69i","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}