2025-10-17/🔨🖥️ [TG] Search Contacts in Vector Store.json
{"createdAt":"2025-08-28T21:58:07.585Z","updatedAt":"2025-09-02T15:51:59.637Z","id":"6tia6JHaDOPUVUkb","name":"🔨🖥️ [TG] Search Contacts in Vector Store","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"query"}]}},"id":"59c88b10-728e-4a6b-98e0-dc0116ff5823","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,336]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[576,304],"id":"0fa17abb-6f6a-47f7-a9ee-62bdb1463557","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAI account"}}},{"parameters":{"mode":"load","tableName":"n8n_vectors_dev","prompt":"={{ $json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"google"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[496,80],"id":"5d5cf9da-8bb9-4937-a2b7-233be66e411f","name":"[Google] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"mode":"load","tableName":"n8n_vectors_dev","prompt":"={{ $json.query }}","topK":5,"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"source","value":"conversation"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[496,480],"id":"e11f42b8-06d1-46c4-8448-02a04ec19181","name":"[Conversation] Contacts","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[848,336],"id":"57c0e776-656d-47b8-ae13-6d580730e4e8","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"e599b1de-86bc-475c-a2a7-937e9dcde816","name":"pageContent","value":"={{ $json.document.pageContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,336],"id":"54469379-5eb5-4622-884d-1c6fa09dbea6","name":"Simplify Output"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"[Google] Contacts","type":"main","index":0},{"node":"[Conversation] Contacts","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"[Google] Contacts","type":"ai_embedding","index":0},{"node":"[Conversation] Contacts","type":"ai_embedding","index":0}]]},"[Google] Contacts":{"main":[[{"node":"Merge","type":"main","index":0}]]},"[Conversation] Contacts":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Simplify Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"user_id":"t07ZDdtiVLduDE3RuRHGKowoSd0f","query":"Tilsa Gambyrro"}}]},"versionId":"4cd83887-4f8d-4b14-812e-671bfe1fe140","triggerCount":0,"shared":[{"createdAt":"2025-08-28T21:58:07.585Z","updatedAt":"2025-08-28T21:58:07.585Z","role":"workflow:owner","workflowId":"6tia6JHaDOPUVUkb","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}