2025-11-14/[WA] Get Cached User by WhatsApp ID.json
{"updatedAt":"2025-11-05T22:07:57.788Z","createdAt":"2025-10-28T17:23:11.187Z","id":"eLqQcZieFefTtfBC","name":"[WA] Get Cached User by WhatsApp ID","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"whatsAppId"}]}},"id":"4bfccd37-4c7e-49c2-8dd9-199721d85a50","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-880,-48]},{"parameters":{"operation":"get","propertyName":"user","key":"={{ $json.whatsAppId }}_USER_WA","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-656,-48],"id":"27ceb49a-a2e7-487d-b885-68fa1c8c465d","name":"Get Cached User","credentials":{"redis":{"id":"UKWNNzdg9opjGBYW","name":"Redis Cache"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f07b4a16-6b8e-4726-a150-11e59297c0b4","leftValue":"={{ $json.user }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"7d37698f-df1f-4ba9-ab0d-57fd172a7f22","leftValue":"={{ $json.user }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,-48],"id":"89786a30-8fa7-4b2a-afa4-2727d8f07315","name":"Exists?"},{"parameters":{"operation":"set","key":"={{ $('Start').item.json.telegramId }}_USER","value":"={{ JSON.stringify($json.user) }}","expire":true,"ttl":"={{ 1 * 24 * 60 * 60 }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,-16],"id":"a13bdd7f-ede5-4df0-9fe3-4872014cbe82","name":"Cache User","credentials":{"redis":{"id":"UKWNNzdg9opjGBYW","name":"Redis Cache"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,48],"id":"3f4f97ae-32bf-4329-8c27-24fabed5f08a","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.user) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-160],"id":"ddc39b15-85f4-47f7-afff-8c89f002224a","name":"Set User"},{"parameters":{"operation":"executeQuery","query":"SELECT public.get_user_with_integrations('{{ $json.get_whatsapp_user.user_id }}') as user;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,48],"id":"27d294a9-ba16-4b16-95b0-9e706ad63f96","name":"Get User with Integrations","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.user }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,48],"id":"f1e81148-7e0b-48d6-ba1f-7b94a7a5ef40","name":"Return User"},{"parameters":{"operation":"executeQuery","query":"SELECT public.get_whatsapp_user('{{$('Start').item.json.whatsAppId }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,48],"id":"5cfd3e29-848d-408a-8f20-b047274b8818","name":"Get User by WhatsApp ID","credentials":{"postgres":{"id":"hcrXy03eb7cfXzVe","name":"Supabase TX Pooler"}}}],"connections":{"Start":{"main":[[{"node":"Get Cached User","type":"main","index":0}]]},"Get Cached User":{"main":[[{"node":"Exists?","type":"main","index":0}]]},"Exists?":{"main":[[{"node":"Set User","type":"main","index":0}],[{"node":"Get User by WhatsApp ID","type":"main","index":0}]]},"Cache User":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Return User","type":"main","index":0}]]},"Get User with Integrations":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Cache User","type":"main","index":0}]]},"Get User by WhatsApp ID":{"main":[[{"node":"Get User with Integrations","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"whatsAppId":"61411623310"}}]},"versionId":"c4958110-9e64-44c0-b94f-0149035539ab","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T17:23:11.187Z","createdAt":"2025-10-28T17:23:11.187Z","role":"workflow:owner","workflowId":"eLqQcZieFefTtfBC","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}