2025-05-27/Fix Email Bodies.json
{"createdAt":"2025-04-21T23:54:44.368Z","updatedAt":"2025-05-20T22:33:56.000Z","id":"oANWbcwSijTkJMrb","name":"Fix Email Bodies","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,100],"id":"b3ddc807-4256-48dd-9dca-5e7d31928527","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"emails","limit":1,"filters":{"conditions":[{"keyName":"body","condition":"ilike","keyValue":"## Email body*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[280,100],"id":"dbf8f3f4-e275-4618-a243-6f1d54a93f21","name":"Get Emails with \"## Email body\"","credentials":{"supabaseApi":{"id":"4EHtJhQUmG6XN1Mw","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"body","fieldValue":"={{ $json.body.replaceAll(\"## Email body:\", \"\") }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[500,100],"id":"19362977-f0a9-40af-a645-2941e7e1ca4e","name":"Fix Body","credentials":{"supabaseApi":{"id":"4EHtJhQUmG6XN1Mw","name":"Supabase account"}}},{"parameters":{"content":"This flow pulls all the emails that have \"## Email body:\" at the beginning of the 'body' column, and fixes it.","height":320,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-20],"id":"bc26e09d-2faa-451d-9e13-9d8e6a310793","name":"Sticky Note"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Emails with \"## Email body\"","type":"main","index":0}]]},"Get Emails with \"## Email body\"":{"main":[[{"node":"Fix Body","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"3DwlFyiaSzmnZPkS"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac5dc47a-7068-4bdf-a5a6-fc373ae265e7","triggerCount":1,"tags":[]}