2025-08-30/Questions Generator.json
{"createdAt":"2025-06-16T22:50:03.097Z","updatedAt":"2025-06-17T23:18:56.388Z","id":"dvMHAgAYdr9vqX8z","name":"Questions Generator","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"=task-questions-generator","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,0],"id":"e0486d05-8b65-4770-89e3-b1fb2371d51e","name":"Webhook","webhookId":"e519d84e-01a2-467c-936c-c6300fc7cfb0"},{"parameters":{"operation":"get","tableId":"tasks","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.taskId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[100,0],"id":"319f9bb1-a536-403a-a1db-f8ecbb6e7329","name":"Get Task","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.extracted_from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,0],"id":"c253228a-4932-435a-92d6-073710606467","name":"Get Email","credentials":{"supabaseApi":{"id":"PwJN4yKDRZqivq2f","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=# Task\n{{ JSON.stringify($('Get Task').item.json) }}\n\n# Email\n{{ JSON.stringify($('Get Email').item.json) }}","options":{"systemMessage":"=Your job is to create a clean, human-readable markdown summary based on the provided `# Task` and `# Email`.\n\nFocus on clarity and brevity. Extract key points such as:\n\n* What the task is and why it matters\n* Any deadlines or high-priority actions\n* Relevant context from the email (dates, names, requirements)\n* Any links or attachments that should be included\n\nUse the following markdown format:\n\n```md\n## Summary\n\n**Task:** <brief task description>  \n**Context:** <why it's important / where it came from>  \n**Deadline:** <due date or urgency>  \n**Action Needed:** <what the user should do>  \n**Links:**  \n- [Relevant Link](URL)  \n```\n\nDo **not** include JSON or HTML. Just return the markdown.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[540,0],"id":"b3f7a2e6-c18c-439c-9518-c31b9a03d4a0","name":"Task/Email Summarizer"},{"parameters":{"assignments":{"assignments":[{"id":"2a9bbdfc-8d47-422e-9740-d118fc62eaf6","name":"summary","value":"={{ $json.output + \"\\n\\n## Email:\\n\" + $('Get Email').item.json.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[916,0],"id":"de1914e8-d37b-4f5d-ab02-553de897496b","name":"Summary + Email"},{"parameters":{"promptType":"define","text":"={{ $json.summary }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful assistant. Your job is to read the provided markdown task summary and generate **at least 3 (can be more) exploratory questions** that help clarify, expand, or deepen the understanding of the task.\n\nYour questions should:\n\n* Be open-ended (no yes/no)\n* Help uncover missing details, blockers, priorities, or follow-up actions\n* Be phrased naturally and concisely\n\n**Output Format (strictly):**\n\n```json\n{\n  \"questions\": [\n    \"First question\",\n    \"Second question\",\n    \"Third question\"\n  ]\n}\n```\n\n**Important rules:**\n\n* Do **not** include any explanation or extra text.\n* If the summary lacks information, lean into that uncertainty — your questions should help resolve it.\n* Do not answer the questions.\n* Always return valid JSON.\n* Use simple, concise language. \n* Keep questions short and to the point. DO NOT RAMBLE."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1136,0],"id":"5c02b1d2-9d4b-4636-addf-75ad69097101","name":"Exploratory Question Generator"},{"parameters":{"jsonSchemaExample":"{\n  \"questions\": [\n    \"First question\",\n    \"Second question\",\n    \"Third question\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1224,220],"id":"2193284d-4e2b-48ea-a062-1eecf28b67e2","name":"Structured Output Parser"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.output) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1512,0],"id":"98f393c4-a58f-46e7-afa6-1b37eee9fe87","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[628,220],"id":"dd2dcaa2-ad2f-463f-bf09-4af1dfe982f3","name":"4.1","credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get Task","type":"main","index":0}]]},"Get Task":{"main":[[{"node":"Get Email","type":"main","index":0}]]},"Get Email":{"main":[[{"node":"Task/Email Summarizer","type":"main","index":0}]]},"Task/Email Summarizer":{"main":[[{"node":"Summary + Email","type":"main","index":0}]]},"Summary + Email":{"main":[[{"node":"Exploratory Question Generator","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Exploratory Question Generator","type":"ai_outputParser","index":0}]]},"Exploratory Question Generator":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"Task/Email Summarizer","type":"ai_languageModel","index":0},{"node":"Exploratory Question Generator","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a72def3-f748-4872-83d1-a9ac227fae1f","triggerCount":1,"shared":[{"createdAt":"2025-06-16T22:50:03.097Z","updatedAt":"2025-06-16T22:50:03.097Z","role":"workflow:owner","workflowId":"dvMHAgAYdr9vqX8z","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}