2025-11-30/[Slack] Update Event.json
{"updatedAt":"2025-11-26T22:15:14.358Z","createdAt":"2025-11-23T01:00:45.543Z","id":"BOtt2xjAUiRuutuj","name":"[Slack] Update Event","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"901f3674-46a1-49bd-8ecc-d00442ddfa0d","name":"attendees","value":"={{ ($('When Executed by Another Workflow').item.json.attendees.trim() === \"NONE\" ? [] : \n$('When Executed by Another Workflow').item.json.attendees.trim().split(\",\").map(item => item.trim()))}}","type":"array"},{"id":"31775448-3649-4e21-bc93-c91cb76b015e","name":"endDate","value":"={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.start).plus($('When Executed by Another Workflow').item.json.duration, 'minutes') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-128],"id":"fca683e6-f63f-4410-b0b6-f43078722e2b","name":"Set Attendees & End Date"},{"parameters":{"workflowInputs":{"values":[{"name":"start"},{"name":"duration","type":"number"},{"name":"location"},{"name":"userId"},{"name":"attendees"},{"name":"eventId"},{"name":"summary"},{"name":"timeZone"},{"name":"channel_id"},{"name":"message_ts"},{"name":"slack_user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,-128],"id":"83fb801c-9021-48f2-b525-2a2bf7336f20","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"eaeff086-d372-4bda-87f5-921f851d42fe","name":"message","value":"Failed to create event.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-32],"id":"cfb73c7b-74c4-4fd9-b2ec-cd592b4bd21f","name":"Set Failure Message"},{"parameters":{"workflowId":{"__rl":true,"value":"pE2lsrstziYiLtF8","mode":"list","cachedResultUrl":"/workflow/pE2lsrstziYiLtF8","cachedResultName":"[TG] Get Token for Telegram Integration"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.userId }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-736,-128],"id":"88f68953-d9d0-4ab0-8d4d-1a724f888de4","name":"Get Token"},{"parameters":{"assignments":{"assignments":[{"id":"5d84818c-0591-4a66-8e15-dc78fa0caac8","name":"htmlLink","value":"={{ $json.htmlLink }}","type":"string"},{"id":"4e85c58d-a01d-428f-b40b-a138a33a710e","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"6a1f823d-d81d-4c71-a23d-406c3b0e5db2","name":"start","value":"={{ $json.start }}","type":"object"},{"id":"65a5f7b7-67ff-4e24-b1ed-9d1ad4bae389","name":"end","value":"={{ $json.end }}","type":"object"},{"id":"09d9ddb8-fbf5-46b7-98fa-98a0a5ba10b7","name":"attendees","value":"={{ $json.attendees.map(item => item.email) }}","type":"array"},{"id":"2fe300e1-bc82-4af2-bb24-fa535b33cfd4","name":"creator","value":"={{ $json.creator.email }}","type":"string"},{"id":"ebbbcbba-6c38-4fa3-8676-01e12e9419c8","name":"organizer","value":"={{ $json.organizer.email }}","type":"string"},{"id":"cf04dbbe-55de-4fc0-9991-0335e596c6e7","name":"summary","value":"={{ $json.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-224],"id":"775863b3-0257-4372-9312-53bc88699eed","name":"Set Event Info"},{"parameters":{"method":"PUT","url":"=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('When Executed by Another Workflow').item.json.eventId }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sendUpdates","value":"all"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.calendarRequest) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,-128],"id":"a471544b-1454-4fe2-870f-ac5cf6bc4975","name":"Update Event","retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// This script creates a JSON object for UPDATING a Google Calendar event.\n// It only includes the fields that are being modified.\n\n$input.item.json.calendarRequest = {\n  // Set the start time from the workflow input\n  start: {\n    dateTime: $('When Executed by Another Workflow').item.json.start,\n    timeZone: $('When Executed by Another Workflow').item.json.timeZone\n  },\n  // Set the end time (assuming it's pre-calculated from start + duration in a previous step)\n  end: {\n    dateTime: $json.endDate,\n    timeZone: $('When Executed by Another Workflow').item.json.timeZone\n  },\n  // Set the location from the workflow input\n  location: $('When Executed by Another Workflow').item.json.location,\n  // Replace the attendee list with the new one from the workflow input\n  attendees: $json.attendees?.map(email => ({ email })) ?? [],\n  summary: $('When Executed by Another Workflow').item.json.summary\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,-128],"id":"f37e17fd-944a-42d0-ba53-e0eaf0ce7ec7","name":"Create Update Event Request"},{"parameters":{"workflowId":{"__rl":true,"value":"C9WHFGRGrjz2nQWC","mode":"list","cachedResultUrl":"/workflow/C9WHFGRGrjz2nQWC","cachedResultName":"[Slack] Edit Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"slack_user_id":"={{ $json.slack_user_id }}","channel_id":"={{ $json.channel_id }}","message_ts":"={{ $json.message_ts }}","text":"_Updating event... :calendar:_"},"matchingColumns":[],"schema":[{"id":"slack_user_id","displayName":"slack_user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_ts","displayName":"message_ts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-960,-128],"id":"5cff9deb-6825-4b3f-b72c-02d69112cd10","name":"Call '[Slack] Edit Message'","onError":"continueRegularOutput"}],"connections":{"Set Attendees & End Date":{"main":[[{"node":"Create Update Event Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call '[Slack] Edit Message'","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Set Attendees & End Date","type":"main","index":0}]]},"Update Event":{"main":[[{"node":"Set Event Info","type":"main","index":0}],[{"node":"Set Failure Message","type":"main","index":0}]]},"Create Update Event Request":{"main":[[{"node":"Update Event","type":"main","index":0}]]},"Call '[Slack] Edit Message'":{"main":[[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"start":"2025-08-05T17:00:00-05:00","duration":165,"location":"","userId":"d24503d6-48da-4af1-8599-177cd8501341","attendees":"NONE","eventId":"7iul5pu6g1c5lhpd54nvj7n9rs","channel_id":"1598386790","message_ts":"4387","slack_user_id":"abc"}}]},"versionId":"6c07465c-3d21-41f0-83eb-0a079532d026","triggerCount":0,"shared":[{"updatedAt":"2025-11-23T01:00:45.543Z","createdAt":"2025-11-23T01:00:45.543Z","role":"workflow:owner","workflowId":"BOtt2xjAUiRuutuj","projectId":"8nyfoRCh3nEYWaKJ"}],"tags":[]}