2025-06-21/🤖 Summarize Email.json
{"createdAt":"2025-05-29T16:24:58.138Z","updatedAt":"2025-05-29T19:47:40.716Z","id":"JAyl1FPmU3Cqj8PE","name":"🤖 Summarize Email","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=You are an email summarizer.\n\nYour job is to create a summary of the provided text, which corresponds to a Gmail email.\n\nKeep the summary concise, to the point, and don't leave out any important information.\n\nMake your summary AT MOST 3 sentences long.\n\nOnly return the summary.","role":"system"},{"content":"={{ $json.body }}"}]},"options":{"maxTokens":512,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[260,-160],"id":"21813bb6-6e54-4cfb-bc20-1b7a412a4e23","name":"Summarize","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"openAiApi":{"id":"JNBPFneOXwzjzSKh","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"body"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,-160],"id":"a458d0e9-dda7-4298-a290-896fd7c9ab74","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"c01bd99a-7d47-4709-9d1a-f2d2cf625043","name":"body","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-160],"id":"1d556575-cab6-45d2-9242-0463b24dcb56","name":"Set Response"}],"connections":{"Summarize":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Summarize","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"63JMaA3ATIsJVc6Y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"263359c3-4040-4811-bf61-fd905d172ef5","triggerCount":0,"tags":[]}